<template>
  <div class="main-body" id="main-body">
    <map-pane v-if="GlobalData.loadConfigFinished"></map-pane>
    <div class="full-background"></div>
    <main-top></main-top>
    <TopEventStatistics/>
    <main-left v-if="GlobalData.loadConfigFinished"></main-left>
    <main-event></main-event>
    <main-right></main-right>
    <map-bottom-center-opt></map-bottom-center-opt>
    
    <main-event-list ref="refMainEventList"></main-event-list>
    <dispatch-send-msg
      v-if="GlobalData.dispatchSendMsgShow"
      :callNumber="GlobalData.rhzhData.callNo"
    ></dispatch-send-msg>
    <!-- 全局IFrame -->
    <common-iFrame v-if="GlobalData.iframeInfo.url"></common-iFrame>
    <!-- <EventPopupNew
      v-if="!GlobalData.acticeScene && GlobalData.eventInfo"
    ></EventPopupNew> -->
  </div>
</template>

<script>
import MapPane from "./MapPane";
import MainTop from "./MainTop";
import MainLeft from "./MainLeft";
import MainEvent from "./MainEvent";
import MainRight from "./MainRight";
import MapBottomCenterOpt from "./MapBottomCenterOpt";
import MapBottomRight from "./MapBottomRight";
import InitData from "./InitData";
import GlobalData from "./GlobalData";
import CommonIFrame from "./CommonIFrame";
import MainEventList from "./MainEventList";
import DispatchSendMsg from "./DispatchSendMsg";
import EventPopupNew from "./EventPopupNew";
import TopEventStatistics from "./TopEventStatistics";

export default {
  data() {
    return {
      InitData,
      GlobalData,
    };
  },
  created() {},
  components: {
    MapPane,
    MainTop,
    EventPopupNew,
    MainLeft,
    MainEvent,
    MainRight,
    MapBottomCenterOpt,
    MapBottomRight,
    CommonIFrame,
    MainEventList,
    DispatchSendMsg,
    TopEventStatistics
    // DispatchActive
  },
  mounted() {
    InitData.init();
  },
  beforeDestroy() {},
  methods: {},
};
</script>

<style lang="less">

</style>
