<template>
<div class="common-title" :class="type" @click="$emit('click')">
  <div class="title" :class="titleClass">{{title}}</div>
  <!-- <div v-if="more" class="more" @click.stop="$emit('more')">更多 >></div> -->
</div>
</template>
<style lang="less">
//less in here

.common-title {
  position: relative;
  width: 100%;
  height: 66px;
  cursor: pointer;
  background-image: url('@{imgUrl}一级标题.png');
  background-repeat: no-repeat;
  
  &.small {
    background-image: url('@{imgUrl}一级标题-短.png');        
  }
  
  &.mini {
    background-image: url('@{imgUrl}突发事件-标题.png')
  }
    
  .title {
    position: absolute;
    left: 55px;
    top: 12px;
    .font-big-one();
  }
  
  .more {
    position: absolute;
    top: 18px;
    right: 0;
    color: rgba(0, 255, 251, 1);
    cursor: pointer;
    .font-mid-two();
  }
}
</style>
<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    titleClass: {
      type: String,
      default: ''
    },
    //类型，default：默认，small：短
    type: {
      type: String,
      default: 'default'
    },
    more: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
    }
  },
  created() {
  },
  components: {
  },
  mounted() {
  },
  beforeDestroy() {
  },
  methods: {
  }
}
</script>