<template>
<div class="full_iframe">
  <div :style="contentStyle">
    <iframe controls allowfullscreen :src="GlobalData.iframeInfo.url"></iframe>
  </div>
  <div class="close" @click="GlobalData.iframeInfo.url = null">x</div>
</div>
</template>
<style lang="less">
// less code here
.full_iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 22222222;
  background: #284963EF;
  text-align: center;

  iframe {
    width: 100%;
    height: 100%;
    border: 0px;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    font-size: 30px;
  }
}
</style>
<script>
import GlobalData from './GlobalData'

export default {
	components: {
	},
	data() {
		return {
			GlobalData,
		}
	},
	computed: {
		contentStyle() {
			if (
				!GlobalData.iframeInfo ||
				!GlobalData.iframeInfo.width ||
				!GlobalData.iframeInfo.height
			) {
				return {
					width: '100%',
					height: '100%',
				}
			}

			return {
				width: GlobalData.iframeInfo.width + 'px',
				height: GlobalData.iframeInfo.height + 'px',
				transform: GlobalData.iframeInfo.transform,
				transformOrigin: 'center 0',
				display: 'inline-block',
				position: 'relative',
			}
		},
	},
	created() { },
	mounted() { },
	beforeDestroy() { },
	methods: {},
}

</script>