<template>
<div ref="refEchart" class="common-echarts"></div>
</template>
<style lang="less">
// less code here
.common-echarts {
  width: 100%;
  height: 100%;
}
</style>
<script>
import GlobalTool from './GlobalTool'

export default {
  props: {
    id: {
      type: String,
      default: 'chart-' + GlobalTool.guid(),
    },
  },
  data() {
    return {
      chart: null,
      fontSize: 14,
    }
  },
  created() { },
  mounted() {
    this.init()
  },
  beforeDestroy() { },
  methods: {
    //初始化
    init() {
      this.chart = echarts.init(this.$refs.refEchart, null, { renderer: 'canvas' })
    },
    //设置echart配置
    setOption(option) {
      if (!this.chart) {
        return
      }
      option.toolbox = {
        show: false
      }
      this.chart.setOption(option)
    },

    // X轴设置
    getOptionsX(config) {
      config = config || {}
      const fontSize = config.fontSize || this.fontSize
      //名称
      const name = config.name
      //名字颜色
      const nameColor = config.nameColor || '#FFFFFF'
      // 文字角度
      const textAngle = config.textAngle || 0
      // 轴反转
      const reversalX = config.reversalX || false
      // 文字角度
      const textInterval = config.textInterval || 0
      // x轴 坐标文字颜色
      const Xcolor = config.Xcolor || '#FFFFFF'
      //X轴线的颜色
      const lineColorX = config.lineColorX || '#FFFFFF'
      //是否显示X分割线
      const isShowSplitLineX = config.isShowSplitLineX || false
      //X分割线颜色
      const splitLineColorX = config.splitLineColorX || '#FFFFFF'
      //X轴宽度
      const xWidth = config.xWidth || 4
      //X分割线宽度
      const xSplitWidth = config.xSplitWidth || 4
      //坐标轴两边留白策略,
      const boundaryGap = config.boundaryGap || false

      //X轴配置
      const xAxis = {
        name, // 坐标轴名称
        nameTextStyle: {
          color: nameColor,
          fontSize,
        },
        boundaryGap, //
        nameRotate: textAngle, // 文字角度
        inverse: reversalX, // 轴反转
        axisLabel: {
          interval: textInterval, // 文字角度
          rotate: textAngle, // 文字角度
          textStyle: {
            color: Xcolor, // x轴 坐标文字颜色
            fontSize,
          },
        },
        axisLine: {
          lineStyle: {
            color: lineColorX,
            width: xWidth,
          },
        },
        splitLine: {
          show: isShowSplitLineX,
          lineStyle: {
            color: splitLineColorX,
            width: xSplitWidth,
          },
        },
      }

      return xAxis
    },
    // Y轴设置
    getOptionsY(yAxisConfig) {
      yAxisConfig = yAxisConfig || {}
      //字号
      const fontSize = yAxisConfig.fontSize || this.fontSize
      // 坐标轴是否显示
      const isShowY = yAxisConfig.isShowY || false
      // 坐标轴名称
      const name = yAxisConfig.name
      //名字颜色
      const nameColorY = yAxisConfig.nameColorY || '#FFFFFF'
      // 轴反转
      const reversalY = yAxisConfig.reversalY || false
      // y轴 坐标文字颜色
      const Ycolor = yAxisConfig.Ycolor || '#FFFFFF'
      //X轴线的颜色
      const lineColorY = yAxisConfig.lineColorY || '#FFFFFF'
      //是否显示X分割线
      const isShowSplitLineY = yAxisConfig.isShowSplitLineY || false
      //X分割线颜色
      const splitLineColorY = yAxisConfig.splitLineColorY || '#FFFFFF'
      //Y轴宽度
      const yWidth = yAxisConfig.yWidth || 4
      //Y分割线宽度
      const ySplitWidth = yAxisConfig.ySplitWidth || 4
      //Y分割线样式
      const ySplitType = yAxisConfig.ySplitType || 'dashed'
      //最小值
      const min = yAxisConfig.min || 10

      const yAxis = {
        show: isShowY, // 坐标轴是否显示
        name, // 坐标轴名称
        min,
        nameTextStyle: {
          color: nameColorY,
          fontSize,
        },
        inverse: reversalY, // 轴反转
        axisLabel: {
          textStyle: {
            color: Ycolor, // x轴 坐标文字颜色
            fontSize,
          },
        },
        axisLine: {
          lineStyle: {
            color: lineColorY,
            width: yWidth,
          },
        },
        splitLine: {
          show: isShowSplitLineY,
          lineStyle: {
            color: splitLineColorY,
            width: ySplitWidth,
            type: ySplitType
          },
        },
      }

      return yAxis
    },
    // 图例操作 legend
    getOptionsLegend(legendConfig, data) {
      legendConfig = legendConfig || {}
      data = data || []
      //是否显示图例
      const show = legendConfig.show || false
      //图例组件离容器左侧的距离, 值可以是像 20 这样的具体像素值，可以是像 '20%' 这样相对于容器高宽的百分比，也可以是 'left', 'center', 'right'。
      const left = legendConfig.left || 'right'
      //图例组件离容器上侧侧的距离, 值可以是像 20 这样的具体像素值，可以是像 '20%' 这样相对于容器高宽的百分比，也可以是 'top', 'middle', 'bottom'
      const top = legendConfig.top || 'top'
      //图例宽度
      const legendWidth = legendConfig.legendWidth || this.fontSize
      //图例高度
      const legendHeight = legendConfig.legendHeight || this.fontSize
      //图例列表的布局朝向。 'horizontal' 'vertical'
      const orient = legendConfig.orient || 'horizontal'
      //图例标记的图形宽度
      const itemWidth = legendConfig.itemWidth || this.fontSize
      //图例标记的图形高度
      const itemHeight = legendConfig.itemHeight || this.fontSize
      //图例项的 icon。'circle', 'rect', 'roundRect', 'triangle', 'diamond', 'pin', 'arrow', 'none' 可以通过 'image://url' 设置为图片，其中 URL 为图片的链接，或者 dataURI。
      const icon = legendConfig.icon || 'rect'
      //文字颜色
      const color = legendConfig.color || '#FFFFFF'
      //字号
      const fontSize = legendConfig.fontSize || this.fontSize
      //最多数目
      const maxCount = legendConfig.maxCount || 0

      const legend = {
        show,
        left,
        top,
        orient,
        textStyle: {
          fontSize,
          color,
        },
        itemWidth,
        itemHeight,
        icon,
      }

      if (maxCount <= 0 || data.legend <= maxCount) {
        return legend
      }
      const outList = []
      let start = 0

      while(true) {
        const tmp = data.slice(start, start + maxCount)

        if (!tmp || tmp.length <= 0) {
          break
        }
        let tmpLeft = left
        let tmpTop = top

        if (orient === 'vertical') {
          tmpLeft += legendWidth * outList.length
        } else {
          tmpTop += legendHeight * outList.length
        }

        outList.push({
          ...legend,
          left: tmpLeft,
          top: tmpTop,
          data: tmp
        })

        if (tmp.length < maxCount) {
          break
        }
        start += maxCount
      }

      return outList
    },
    // 提示语设置 tooltip
    getOptionsTooltip(tooltipConfig) {
      tooltipConfig = tooltipConfig || {}
      //是否显示提示框组件。
      const show = tooltipConfig.show || false
      //触发类型， 'item'、 'axis'、'none'
      const trigger = tooltipConfig.trigger || 'axis'
      //颜色
      const color = tooltipConfig.color || '#FFFFFF'
      //字号
      const fontSize = tooltipConfig.fontSize || this.fontSize
      //类
      const className = tooltipConfig.className || 'echart-tooltip'
      //背景颜色
      const backgroundColor = tooltipConfig.backgroundColor || 'rgba(34, 62, 97, 0.8)'

      const toolTip = {
        show,
        trigger,
        textStyle: {
          color,
          fontSize,
        },
        className,
        backgroundColor,
      }

      return toolTip
    },
    //网格设置
    getOptionGrid(config) {
      config = config || {}
      const grid = {
        show: config.show,
        left: config.left,
        top: config.top,
        right: config.right,
        bottom: config.bottom,
        containLabel: config.containLabel,
      }

      return grid
    },
    //设置柱状图
    setBarOption(config, dataList) {

      if (!config || config.length <= 0) {
        return
      }

      dataList = dataList || []
      const types = {}

      dataList.forEach(item => {
        const list = types[item.type] || []
        list.push(item)
        types[item.type] = list
      })

      const barStyle = config.barStyle || {}
      barStyle.color = barStyle.color || null,
      barStyle.width = barStyle.width|| 20
      barStyle.symbolSize = barStyle.symbolSize || 20 
      

      const legendData = []
      const series = []
      let xAxisData = []

      for (const i in types) {
        legendData.push(i)
        series.push({
          name: i,
          type: 'bar',
          data: types[i].map(i => i.value),
          barWidth: barStyle.width,
          symbolSize: barStyle.symbolSize, //原点大小
        })
        xAxisData = types[i].map(i => i.name)
      }

      //X轴
      const xAxis = {
        type: 'category',
        data: xAxisData,
        ...this.getOptionsX(config.xAxis),
      }
      //Y轴
      const yAxis = {
        type: 'value',
        ...this.getOptionsY(config.yAxis),
      }
      //图例
      const legend = this.getOptionsLegend(config.legend, legendData)
      
      //提示
      const tooltip = this.getOptionsTooltip(config.tooltip)
      const grid = this.getOptionGrid(config.grid || {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      })

      const option = {
        color: config.color,
        tooltip,
        legend,
        grid,
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        xAxis,
        yAxis,
        series,
      }
      this.setOption(option)
    },
    //设置线性图
    setLineOption(config, dataList) {
      
      if (!config || config.length <= 0) {
        return
      }

      dataList = dataList || []
      const types = {}

      dataList.forEach(item => {
        const list = types[item.type] || []
        list.push(item)
        types[item.type] = list
      })

      const lineStyle = {
        color: (config.lineStyle || {}).color || null,
        width: (config.lineStyle || {}).width,
      }

      const legendData = []
      const series = []
      let xAxisData = []

      for (const i in types) {
        legendData.push(i)
        series.push({
          name: i,
          type: 'line',
          data: types[i].map(i => i.value),
          lineStyle,
          symbolSize: ((config.series || {}).symbolSize) || 12, //原点大小
        })
        xAxisData = types[i].map(i => i.name)
      }

      //X轴
      const xAxis = {
        type: 'category',
        boundaryGap: false,
        data: xAxisData,
        ...this.getOptionsX(config.xAxis),
      }
      //Y轴
      const yAxis = {
        type: 'value',
        ...this.getOptionsY(config.yAxis),
      }
      //图例
      const legend = this.getOptionsLegend(config.legend, legendData)
      //提示
      const tooltip = this.getOptionsTooltip(config.tooltip)

      const grid = this.getOptionGrid(config.grid || {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      })

      const option = {
        color: config.color,
        tooltip,
        legend,
        grid,
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        xAxis,
        yAxis,
        series,
      }
      this.setOption(option)
    },
    //设置饼图
    setPieOption(config, dataList) {
      
      if (!config || config.length <= 0) {
        return
      }

      dataList = dataList || []
      const legendData = dataList.map(i => i.name)
      const series = []

      const labelConfig = (config.series || {}).label || {}
      const labelLine = (config.series || {}).labelLine || {}

      series.push({
        type: 'pie',
        //半径
        radius: (config.series || {}).radius || '50%',
        //中心
        center: (config.series || {}).center || '50%',
        //组件离容器左侧的距离。值可以是像 20 这样的具体像素值，可以是像 '20%' 这样相对于容器高宽的百分比，也可以是 'left', 'center', 'right'
        left: (config.series || {}).left || 'auto',
        //组件离容器右侧的距离。 值可以是像 20 这样的具体像素值，可以是像 '20%' 这样相对于容器高宽的百分比。
        right: (config.series || {}).right || 'auto',
        // 组件离容器上侧的距离。值可以是像 20 这样的具体像素值，可以是像 '20%' 这样相对于容器高宽的百分比，也可以是 'top', 'middle', 'bottom'。
        top: (config.series || {}).top || 'auto',
        // 组件离容器下侧的距离。值可以是像 20 这样的具体像素值，可以是像 '20%' 这样相对于容器高宽的百分比。
        bottom: (config.series || {}).bottom || 'auto',
        data: dataList.map(i => {
          i.label = {
            show: labelConfig.show,
            position: labelConfig.position,
            alignTo: labelConfig.alignTo,
            color: labelConfig.color,
            fontSize: labelConfig.fontSize,
            fontWeight: labelConfig.fontWeight,
            textAlign: labelConfig.textAlign,
            lineHeight: labelConfig.lineHeight || labelConfig.fontSize,
          }

          return i
        }),
        emphasis: {
          itemStyle: {
            fontSize: 46,
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: 'rgba(0, 0, 0, 0.5)',
          },
        },
        labelLine
      })

      //图例
      const legend = this.getOptionsLegend(config.legend, legendData)
      if (config.legend && config.legend.textStyle) {
        legend.textStyle = config.legend.textStyle
      }
      //提示
      const tooltip = this.getOptionsTooltip(config.tooltip)

      const option = {
        color: config.color,
        tooltip,
        legend,
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        series,
      }
      if (config.title) {
        option.title = config.title
      }

      this.setOption(option)
    },

  },
}

</script>