<template>
<div class="dispatchActive">
  
  <!-- <button id="btnShowSingleCall" onclick="singleCall()">发起呼叫</button> -->
  <!-- <div id="ocxdiv" style="height: 0px;"> -->
    <!-- <span><h3>视频界面</h3></span> -->
    <!-- <object id="csocx" classid="clsid:7742B7D2-5D75-4801-8836-115247F9E4FA" codebase="./ActiveX/PTYTDispatch5.0ActiveX.cab#version=1,0,12" style="width: 0px; height: 550px;"></object> -->
  <!-- </div> -->
</div>
</template>
<style lang="less">
//less in here

.dispatchActive{
    margin-left: 30%;
}
</style>
<script>
import GlobalData from './GlobalData'
export default {

	props: {
		callNo: String, // 呼叫终端
		callType: String, //呼叫类型 呼叫：call;视频呼叫：videoCall;查看视频:video;发送消息:sendMsg
	},

	data() {
		return {
			GlobalData,
			port: 14321, // 端口信息
			waitVerifyCallback: false, // 校验是否返回
			verifyResult: false, // 验证结果
			videoCall: false,// 视频呼叫
			scallHandler: null,// 呼叫处理
			name: "100000",
			pwd: "100000",
			ip: "10.39.235.53",
		}
	},
	created() {
	},
	components: {
	},
	mounted() {
		/**初始化插件 */
		this.initPlugin()

	},
	beforeDestroy() {
		this.destrUct()
		GlobalData.rhzhData.callNo = "";
		GlobalData.rhzhData.callType = "";
	},
	methods: {

		/**初始化插件 */
		initPlugin() {
			let self = this;
			try {
				var wsImpl = window.WebSocket || window.MozWebSocket;
				if (self.port > 65535) {
					self.port = 1024
				}
				window.ws = new wsImpl("ws://localhost:" + self.port);
				console.log(window.ws);
				ws.onopen = function () {
					console.log("ws open");
					ws.onmessage = function (evt) {
						console.log("ws message");
						//回调方法
						self.callbackInfo(evt.data);
					};
					self.sendMethod("VerifyWebSoket", []);
					self.waitVerifyCallback = true;
					setTimeout(function () {
						if (!self.verifyResult) {
							ws.onmessage = null;
							ws.close();
							self.waitVerifyCallback = false;
						}
					}, 1000);
				};
				ws.onclose = function () {
					console.log("ws close");
				};
				ws.onerror = function (event) {
					console.log(event);

				};
			} catch (error) {
				console.error(error);
				return;
			}
		},


		/**
		 * 方法回调
		 */
		callbackInfo(msg) {
			let self = this;
			console.log('msg--->', msg)
			msg = msg.replace(/\n/g, "");
			let obj = JSON.parse(msg);
			switch (obj.cmd) {
				case "Login":
					if (obj.type == "LoginSuc") { // 登录成功

						/**设置呼叫界面 */
						self.setCallPanelLocation();
						/**终端呼叫 */
						self.$nextTick(() => {
							self.call()
						})

					} else if (obj.type == "Loginfail") {
					}
					break;

				case "SingleCall":
					break;
				case "Wsoket":
					if (obj.type == "WsoketResult") {
						switch (obj.msg.method) {
							case "VerifyWebSoket":
								//验证唯一ID，不变
								if (obj.msg.result === "34c61afbc8b6470f9b349a1e1c2986be") {
									// $("#connStatus").css("background-color", "green");
									self.verifyResult = true;
									self.loginSystem()
								}
								break;
						}
					}
			}
		},

		/**
		 * 呼叫终端
		 */
		call() {
			let self = this;
			// 呼叫类型 呼叫：call; 视频呼叫：videoCall; 查看视频: video; 发送消息: sendMsg
			if (self.callType === "call") {// 单个呼叫
				self.singleCall()
			} else if (self.callType === "videoCall") { //视频呼叫
				self.singleVideoCall()
			} else if (self.callType === "video") { //视频查看
				self.showVideByNo()
			} else if (self.callType === "sendMsg") { //发送消息
				// self.sendMSGOne()
			}

		},

		/**登录系统 */
		loginSystem() {
			let self = this;
			self.excuteFucOfPlugin("Login", [self.name, self.pwd, self.ip]);
		},

		/**注销登录 */
		destrUct() {
			let self = this;
			self.excuteFucOfPlugin("LoginOut", []);
		},

		/**设置界面模式 */
		setHgjsSurfaceModel() {
			let self = this;
			self.excuteFucOfPlugin("SetSurfaceModel", [1, 0, 1]);
		},

		/**设置呼叫界面 */
		setCallPanelLocation() {
			let self = this;
			self.excuteFucOfPlugin("SetCallPanelLocation", [500, 500]);
		},



		/** 发起单呼*/
		singleCall() {
			let self = this;
			let callNo = self.callNo;
			self.excuteFucOfPlugin("SingleCallByNo", [callNo, 0]);
		},

		/**发起视频呼叫 */
		singleVideoCall() {
			let self = this;
			let callNo = self.callNo;
			self.excuteFucOfPlugin("SingleCallByNo", [callNo, 1]);

		},

		/**关闭视频呼叫 */
		closeSingleCall() {
			let self = this;
			self.excuteFucOfPlugin("CloseSingleCall", [self.scallHandler]);
			if (videoCall) {
				self.excuteFucOfPlugin("CloseVideoCall", []);
			}
		},

		/**查看视频 */
		showVideByNo() {
			let self = this;
			var callNo = self.callNo;
			self.excuteFucOfPlugin("ShowVideo", [callNo]);
		},

		/**发送消息 */
		sendMSGOne() {
			let self = this;
			let msgType = 0;
			let pcDst = "100101";
			let curDate = new Date().getTime();
			var SRCDN = "100000";
			let msgid = curDate + "00_" + pcDst + "_" + SRCDN
			let InfoType = 0;
			let RecvCfm = 0;
			let chMsgContent = "测试发送";
			self.excuteFucOfPlugin("SendMSGForV5", [
				msgType,
				pcDst,
				msgid,
				InfoType,
				RecvCfm,
				chMsgContent,
				"",
				0,
			])
		},

		/**执行方法 */
		excuteFucOfPlugin(method, paras) {
			let self = this;
			if (self.verifyResult && ws.readyState === WebSocket.OPEN) {
				console.log("method:" + method + " paras:" + paras);
				self.sendMethod(method, paras);
			} else {
				console.error(ws.readyState);
			}
		},

		/**
		 *发送执行方法
		 */
		sendMethod(method, paras) {
			let jobj = {
				method: method,
				paramArray: paras,
			};
			let jStr = JSON.stringify(jobj);
			console.log(jStr);
			ws.send(jStr);
		}

	}
}
</script>