<template>
<div class="dispatchSendMsg" v-loading="loading" :text="text" element-loading-spinner="el-icon-loading"
  element-loading-background="rgba(0, 0, 0, 0.8)">
  <div class="dispatchSendMsg-top">
    <img :src="GlobalData.imgUrl + '事件列表-标题发消息.png'"/>
    <div class="dispatchSendMsg-top-title">发送消息</div>
    <div class="close" @click="closeMsg"></div>
  </div>
  <div class="dispatchSendMsg-main">
    <!-- <el-form ref="form" :model="form" label-width="1px">
      <el-form-item label="">
        <el-input type="textarea" v-model="form.sendMsg" rows="8" placeholder="请输入消息内容"></el-input>
      </el-form-item>
      <div class="divButton">
        <el-button @click="closeMsg">取消</el-button>
        <el-button @click="sendMessage">确认</el-button>
      </div>
    </el-form> -->
    <div class="dispatchSendMsg-main-center">
        <el-input type="textarea" v-model="form.sendMsg" rows="8" placeholder="请输入消息内容"></el-input>
    </div>
    <div class="divButton">
      <div class="divButton-left"  @click="closeMsg">取消</div>
      <div class="divButton-right" @click="sendMessage">确认</div>
      <!-- <el-button @click="closeMsg">取消</el-button>
      <el-button @click="sendMessage">确认</el-button> -->
    </div>
  </div>
</div>
</template>
<style lang="less">
//less in here

.dispatchSendMsg{

position: absolute;
 top: 200px;
 left: calc(50% - 400px);
    width: 980px;
   height: 568px;
 // padding: 20px;
 // display: flex;
 .card-bg();
 // background-color: rgba(33,72,108,0.4);
 .dispatchSendMsg-top{
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   position: relative;
   font-size: 25px;
   .dispatchSendMsg-top-title{
     position: absolute;
     left: 60px;
   }
 }
 .dispatchSendMsg-main{
   width: 100%;
   height: calc(100% - 60px);
   // padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   .dispatchSendMsg-main-center{
     width: 100%;
     height: calc(100% - 100px);
     padding: 40px 70px;
   }
   .divButton{
     width: 100%;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     background: rgba(37,166,255,0.2);
     font-size: 24px;
       color: #fff;
     .divButton-left{
       width: 120px;
       height: 54px;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 2px solid #38A5C6;
       margin-right: 10px;
       cursor: pointer;
     }
     .divButton-right{
       width: 120px;
       height: 54px;
       display: flex;
       margin-left: 10px;
       align-items: center;
       justify-content: center;
       background-color: #1F85CD;
       cursor: pointer;
     }
   }
 }
 ::v-deep .el-textarea__inner{
     background-color: transparent !important;
     color: #A5DAFF !important;
     font-size: 24px;
     border: 2px solid #25A6FF !important;
 }
}


</style>
<script>
import GlobalData from './GlobalData'
import DispatchTool from './DispatchTool'
export default {
	props: {
		callNumber: ''
	},
	mixins: [DispatchTool],
	data() {
		return {
			GlobalData,
			form: {
				sendMsg: "",// 发送消息信息
			},
			text: "发送中",
			loading: false,

		}
	},
	created() {
	},
	components: {
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {

		/**
		 *关闭消息弹框
		 */
		closeMsg() {
			GlobalData.dispatchSendMsgShow = false
		},

		/**
		 * 发送消息
		 */
		sendMessage() {
			if (!this.form.sendMsg) {
				return;
			}
			this.loading = true;
			/**发送消息 */
			this.callDispatch(this.callNumber, "sendMsg", this.form.sendMsg)
		},

		/**发送消息成功 */
		sendMsgSuccess() {
			// alert("发送消息成功")
			this.text = "消息发送成功!";
			setTimeout(() => {
				GlobalData.dispatchSendMsgShow = false
			}, 1000)

		},

		sendMsgFail() {
			alert("发送消息失败!")
			this.loading = false;
		}


	}
}
</script>