<template>
  <div class="event-popup-process-v2">
    <div class="popuptitle">事件详情</div>
    <div class="closeIcon" @click="closeThis"></div>
    <div class="content">
      <div class="desc">
        <div class="subtitle">
          <img
            class="icon"
            :src="GlobalData.imgUrl + '事件小icon.png'"
          />事件描述
        </div>
        <div class="text">
          {{ MainEventInfoData.eventInfo.eventData.eventDesc }}
        </div>
      </div>
      <div class="swimming">
        <!-- 时间线 -->
        <div class="timeline">
          <div class="col-title blue-num">时间轴</div>
          <div class="col time" v-for="(i, index) in timelines" :key="index">
            <img class="timeicon" :src="GlobalData.imgUrl + '处置进程-1.png'" />
            {{ i }}
          </div>
        </div>
        <!-- 单部门条 -->
        <div class="dept" v-for="(d, i) in depts" :key="i">
          <div class="col-title blue-num">{{ depts[i] }}</div>
          <div class="col deal" v-for="(t, j) in timelines" :key="j">
            <div
              v-for="(r, key) in records[j][i]"
              v-if="keys[key]"
              :key="key"
              class="line"
            >
              <span class="key">{{ keys[key] }}</span>
              <span class="value">{{ r }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 现场信息 待对接 -->
    <!-- <div class="xcxx">
    <div class="subtitle"><img class="icon" :src="GlobalData.imgUrl + '事件小icon.png'">现场信息</div>
    <div class="xcxx-list">
      <div class="xcxx-content">

        <div class="state">
          处置前
        </div>
        <div class="xcxx-item" v-for="(item,index) in xcxxData.beforeHandle" :key="index"
          v-if="xcxxData.beforeHandle && xcxxData.beforeHandle.length > 0">
          <el-image v-if="item.fileType == 'image/png'" style="width: 100%; height: 170px"
            :src="'http://10.39.235.53:31601'+item.fileUrl" :preview-src-list="item.srcList">
          </el-image>
          <div v-else class="file" @click="clickFile(item.fileUrl)">
            <img :src="GlobalData.imgUrl + '默认图.png'"/>
            <div class="file-title">
              {{item.fileName}}
            </div>
          </div>
        </div>
        <div v-else class="xcxx-item1"> <span> 暂无内容</span> </div>
      </div>

      <div class="xcxx-content">
        <div class="state">
          处置后
        </div>
        <div class="xcxx-item" v-for="(item,index) in xcxxData.afterHandle" :key="index"
          v-if="xcxxData.afterHandle && xcxxData.afterHandle.length > 0">
          <el-image v-if="item.fileType == 'image/png'" style="width: 100%; height: 170px"
            :src="'http://10.39.235.53:31601'+item.fileUrl" :preview-src-list="item.srcList">
          </el-image>
          <div v-else class="file" @click="clickFile(item.fileUrl)">
            <img :src="GlobalData.imgUrl + '默认图.png'"/>
            <div class="file-title">
              {{item.fileName}}
            </div>
          </div>
        </div>
        <div v-else class="xcxx-item1"> <span> 暂无内容</span> </div>
      </div>

      <div class="xcxx-content">
        <div class="state">
          核查
        </div>
        <div class="xcxx-item" v-for="(item,index) in xcxxData.check" :key="index"
          v-if="xcxxData.check && xcxxData.check.length > 0">
          <el-image v-if="item.fileType == 'image/png'" style="width: 100%; height: 170px"
            :src="'http://10.39.235.53:31601'+item.fileUrl" :preview-src-list="item.srcList">
          </el-image>
          <div v-else class="file" @click="clickFile(item.fileUrl)">
            <img :src="GlobalData.imgUrl + '默认图.png'"/>
            <div class="file-title">
              {{item.fileName}}
            </div>
          </div>
        </div>
        <div class="xcxx-item1"> <span> 暂无内容</span> </div>
      </div>
    </div>
  </div> -->
  </div>
</template>

<style lang="less">
//less in here
// @img_url: '/screen/1600385025259147265/';
.event-popup-process-v2 {
  position: fixed;
  width: 1560px;
  height: 1234px;
  top: 166px;
  overflow: scroll;
  left: 1937px;
  background-color: rgba(33, 72, 108, 1);

  ::-webkit-scrollbar {
    display: none;
  }

  .popuptitle {
    margin-left: 20px;
    margin-top: 10px;
    background-image: url("@{imgUrl}事件弹窗标题背景.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 360px;
    height: 47px;
    line-height: 47px;
    padding-left: 48px;
    font-size: 26px;
  }

  .subtitle {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    padding-left: 20px;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgb(26, 73, 120));

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  .closeIcon {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image: url("@{imgUrl}关闭.png");
    background-size: contain;
    cursor: pointer;

    &:hover {
      .miaobian();
    }
  }

  .content {
    .card-bg();
    padding: 20px;
    width: 100%;
    height: 100%;

    .desc {
      margin-top: 20px;

      .text {
        width: 100%;
        max-height: 140px;
        overflow: scroll;
        line-height: 24px;
        font-size: 18px;
        padding: 20px;
        background: rgba(13, 20, 33, 0.55);
      }
    }

    .swimming {
      overflow-x: scroll;
      width: 100%;
      margin-top: 20px;

      .col-title {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
      }

      .col {
        width: 100%;
        height: 130px;
        margin-bottom: 20px;
        font-size: 18px;
      }

      .timeline {
        width: 230px;
        display: inline-flex;
        flex-direction: column;
        // display: inline-block;
        margin-right: 20px;

        .time {
          font-size: 16px;
          padding-top: 30px;

          &.col {
            background-image: url("@{imgUrl}处置进程-2.png");
            background-repeat: no-repeat;
            background-position: 5px 40px;

            &:last-child {
              background: none;
            }

            .timeicon {
              display: inline-block;
            }
          }
        }
      }

      .dept {
        width: 330px;
        flex-direction: column;
        display: inline-flex;
        margin-right: 20px;

        .deal {
          background: rgba(64, 137, 203, 0.6);
          padding: 20px;
          overflow: scroll;
        }
      }
    }

    .line {
      line-height: 32px;
      font-size: 18px;
    }
  }

  // 现场信息
  .xcxx {
    margin-top: 10px;
    position: relative;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    .xcxx-list {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
    }

    .screen {
      position: absolute;
      top: 0px;
      right: 0;
      display: flex;
      justify-content: flex-end;

      .screen-item {
        // width: 81px;
        height: 31px;
        margin-left: 10px;
        color: #999999;
        line-height: 31px;
        text-align: center;
        background-image: url("@{imgUrl}tab-未选中.png");
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      .screen-bg {
        color: #fff;
        background-image: url("@{imgUrl}tab-选中.png");
      }
    }

    .state {
      // width: 32%;
      height: 20px;
      font-size: 20px;
    }

    .xcxx-item1 {
      width: 100%;
      height: 170px;
      font-size: 20px;
      line-height: 170px;
      text-align: center;
    }

    .xcxx-content {
      width: 100%;
      // height: 200px;
      display: flex;
      // flex-direction: column;
      justify-content: flex-start;
      // overflow: hidden;
      flex-wrap: wrap;

      span {
        display: inline-block;
        width: 100%;
        height: 225px;
        line-height: 225px;
        text-align: center;
      }

      .xcxx-item {
        width: 100%;
        height: 170px;
        border-radius: 10px 10px 10px 10px;
        overflow: hidden;
        cursor: pointer;
        overflow-y: scroll;
        margin-top: 10px;

        .file {
          width: 100%;
          height: 100%;
          padding: 20px;
          background-color: #001934;

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          img {
            width: 115px;
            height: 104px;
          }

          .file-title {
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-radius: 10px 10px 10px 10px;
            background: rgba(26, 80, 139, 0.3);
            .font-normal();
            color: #9dc1e1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
</style>

<script>
import GlobalData from "./GlobalData";
import MainEventInfoData from "./MainEventInfoData";

export default {
  data() {
    return {
      GlobalData,
      MainEventInfoData,
      // 现场
      xcxxData: [],
      // 泳道数据
      records: [],
      // 时间线
      timelines: [],
      // 部门索引,key值放部门，value放index
      depts: [],
      keys: {
        actionName: "操作:",
        operator: "经办人:",
        reason: "备注:",
      },
    };
  },
  created() {},
  components: {
    // GlobalData
  },
  watch: {
    "MainEventInfoData.eventInfo.updateFlag": {
      deep: true,
      handler(val, oldVal) {
        // console.log('泳道数据更新',val)
        this.handleProcess();
        console.log('检查更新条件',val===oldVal)
      },
    },
  },
  mounted() {
    this.handleProcess();
  },
  beforeDestroy() {},
  updated() {
    // this.handleProcess()
  },
  methods: {
    closeThis() {
      GlobalData.eventInfo = null;
    },
    handleProcess() {
      let data = MainEventInfoData.eventInfo.processList;
      let timelines = [];
      let depts = [];
      let records = [];
      data.forEach((item) => {
        // 生成时间索引
        timelines.push(item.handleTime);
        // 生成部门索引表
        if (depts.length === 0 || depts.indexOf(item.handleDept) < 0) {
          depts.push(item.handleDept);
        }
      });
      let timelen = timelines.length;
      let deptlen = depts.length;
      for (let i = 0; i < timelen; i++) {
        records.push([]);
        for (let j = 0; j < deptlen; j++) {
          records[i].push({});
          if (data[i].handleDept === depts[j]) {
            records[i][j] = data[i];
          }
        }
      }
      this.timelines = data.map((item) => item.handleTime);
      this.depts = depts;
      this.records = records;
      // console.log('检查泳道数据', this.records)
    },
    loadXcxx() {
      const id = GlobalData.eventInfo.id;
      const reportTime = GlobalData.eventInfo.reportTime;
      //事件详情
      MainEventInfoData.loadEventInfo(id, reportTime);
      //详情-查询事件主流程
      //详情-查询事件主流程下的处置信息
      MainEventInfoData.loadEventProcess(id, reportTime);
      // 详情-现场信息
      MainEventInfoData.loadEventMediaInfo(id, reportTime).then((res) => {
        const data = res || {};
        this.xcxxData.beforeHandle = data.beforeHandle || [];
        this.xcxxData.afterHandle = data.afterHandle || [];
        this.xcxxData.check = data.check || [];

        this.xcxxData.beforeHandle.forEach((i) => {
          i.srcList = ["http://10.39.235.53:31601" + i.fileUrl];
        });
        this.xcxxData.afterHandle.forEach((i) => {
          i.srcList = ["http://10.39.235.53:31601" + i.fileUrl];
        });
        this.xcxxData.check.forEach((i) => {
          i.srcList = ["http://10.39.235.53:31601" + i.fileUrl];
        });
      });
    },
    // 生成顺序时间线
    timeSort(time) {
      time.sort((a, b) => {
        return new Date(a.time).getTime() - new Date(b.time).getTime();
      });
      return time;
    },
  },
};
</script>
