<template>
  <div class="event-popup-new-process">
    <!-- <common-title title="处置进程" titleClass="blue-num"></common-title> -->
    <div class="subtitle">
      <img class="icon" :src="GlobalData.imgUrl + '事件小icon.png'" />事件流程
    </div>
    <div class="content">
      <div
        v-for="(item, index) in MainEventInfoData.eventInfo.processList"
        :key="index"
      >
        <div class="title">
          <div class="title-left">{{ item.handleDept }}</div>
          <div class="title-right" :class="actionClass(item)">
            {{ item.actionName }}
          </div>
        </div>
        <div class="item-content">
          <div class="handle-time">时间：{{ item.handleTime }}</div>
          <div class="handle-desc">{{ item.reason || "暂无" }}</div>
          <div
            v-if="showSubFlow(item)"
            class="sub-flow"
            :class="{
              open: item.id === MainEventInfoData.eventInfo.openNodeId,
            }"
          >
            <div @click="handleOpenCloseSubFlow(item)" class="sub-flow-header">
              子流程<img
                :src="GlobalData.imgUrl + '体征监测按钮-下拉.png'"
                :class="{
                  rotate: item.id === MainEventInfoData.eventInfo.openNodeId,
                }"
              />
            </div>
            <div
              v-for="(it, idx) in MainEventInfoData.eventInfo.distributeMap[
                item.handleDeptId
              ]"
              :key="idx"
            >
              <div class="sub-title">
                <div class="sub-title-left">{{ it.handleDept }}</div>
                <div class="sub-title-right" :class="actionClass(it)">
                  {{ it.actionName }}
                </div>
              </div>
              <div class="sub-item-content">
                <div class="sub-handle-time">时间：{{ it.handleTime }}</div>
                <div class="sub-handle-desc">{{ it.reason || "" }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="less">
//scss in here
//less in here
.event-popup-new-process {
  // position: absolute;
  // top: -390px;
  // left: 1060px;
  background: linear-gradient(0deg, #143459, #132540);

  // height: 1320px;
  .subtitle {
    margin-left: 0px;
    margin-top: 10px;
    width: 360px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    padding-left: 20px;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgb(26, 73, 120));

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  .start {
    color: rgba(46, 255, 228, 1);
    background-image: linear-gradient(
      to right,
      RGBA(0, 0, 0, 0),
      rgba(46, 255, 228, 0.4)
    );
  }

  .dealing {
    color: rgba(237, 178, 35, 1);
    background-image: linear-gradient(
      to right,
      RGBA(0, 0, 0, 0),
      rgba(237, 178, 35, 0.4)
    );
  }

  .finish {
    color: rgba(83, 215, 87, 1);
    background-image: linear-gradient(
      to right,
      RGBA(0, 0, 0, 0),
      rgba(83, 215, 87, 0.4)
    );
  }

  .content {
    width: 100%;
    height: calc(100% - 76px);
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;
    // background-color: rgba(33, 72, 108, 0.8);

    .title {
      display: flex;
      width: 100%;
      align-items: center;

      .title-left {
        flex: 1;
        width: 0;
        .single-line();
        .blue-num();
        .font-mid-two();

        &:before {
          content: "◆";
          margin-right: 5px;
          .font-big();
        }
      }

      .title-right {
        width: 110px;
        text-align: right;

        height: 26px;
        line-height: 26px;

        padding-right: 20px;
        margin-right: -10px;
      }
    }

    .item-content {
      padding-left: 20px;
      border-left: 2px dotted #1469a6;
      margin-left: 8px;

      .handle-time {
        line-height: 46px;
      }

      .handle-desc {
        width: 100%;
        height: 130px;
        line-height: 30px;
        overflow-y: auto;
        overflow-x: hidden;
        word-break: break-all;
        padding: 10px;
        .card-two-bg();
      }

      .sub-flow {
        margin-top: 10px;
        height: 40px;
        transition: 0.5s;
        overflow: hidden;

        &.open {
          height: auto;
        }

        .sub-flow-header {
          cursor: pointer;
          line-height: 40px;
          .font-mid-two();

          img {
            vertical-align: middle;
            margin-left: 10px;
            width: 20px;
            transform: rotate3d(1, 0, 0, 180deg);

            &.rotate {
              transform: rotate3d(1, 0, 0, 0);
            }
          }
        }

        .sub-title {
          display: flex;
          width: 100%;
          align-items: center;
          line-height: 40px;

          .sub-title-left {
            flex: 1;
            width: 0;
            .single-line();
            .blue-num();
            .font-mid-two();

            &:before {
              content: "◆";
              margin-right: 5px;
              .font-big();
            }
          }

          .sub-title-right {
            width: 110px;
            text-align: right;

            height: 26px;
            line-height: 26px;

            padding-right: 20px;
            margin-right: -10px;
          }
        }

        .sub-item-content {
          padding-left: 20px;
          border-left: 2px dotted #1469a6;
          margin-left: 8px;

          .sub-handle-time {
            line-height: 46px;
          }

          .sub-handle-desc {
            width: 100%;
            min-height: 60px;
            line-height: 30px;
            overflow-y: auto;
            overflow-x: hidden;
            word-break: break-all;
            padding: 10px;
            .card-two-bg();
          }
        }
      }
    }
  }
}
</style>
<script>
import CommonTitle from "./CommonTitle";
import GlobalData from "./GlobalData";
import MainEventInfoData from "./MainEventInfoData";

export default {
  data() {
    return {
      GlobalData,
      MainEventInfoData,
    };
  },
  created() {},
  components: {
    CommonTitle,
  },
  mounted() {
    // console.log('MainEventInfoData.eventInfo.processList',MainEventInfoData.eventInfo.processList)
  },
  beforeDestroy() {},
  computed: {
    /**
     * action样式
     */
    actionClass() {
      return function (item) {
        switch (item.action) {
          case "report": //上报
          case "sign": //签收
            return "start";
          case "accept": //受理
          case "distribute": //派遣
            return "dealing";
          case "finish_after_check": //办结
          case "finish": //办结
          case "finish_apply": //申请办结
            return "finish";
          default:
            return "dealing";
        }
        return "dealing";
      };
    },
    /**
     * 是否显示子流程
     */
    showSubFlow() {
      return function (item) {
        // console.log(MainEventInfoData.eventInfo.distributeMap, item.handleDeptId)
        if (item.action !== "distribute") {
          return false;
        }
        if (!MainEventInfoData.eventInfo.distributeMap) {
          return false;
        }
        if (!MainEventInfoData.eventInfo.distributeMap[item.handleDeptId]) {
          return false;
        }
        if (
          MainEventInfoData.eventInfo.distributeMap[item.handleDeptId].length <=
          0
        ) {
          return false;
        }

        return true;
      };
    },
  },
  methods: {
    /**
     * 打开或关闭子流程
     */
    handleOpenCloseSubFlow(item) {
      MainEventInfoData.eventInfo.openNodeId =
        MainEventInfoData.eventInfo.openNodeId === item.id ? null : item.id;
    },
  },
};
</script>
