<template>
    <div class="event-popup-new">
    <!-- <common-title title="基本信息"></common-title> -->
    <div class="popuptitle">事件详情</div>
    <div class="closeIcon" @click="closeThis"></div>
    <div class="content">
        <!-- 事件基本情况 -->
        <div class="sjjbqk">
            <div class="title">
                <div class="subtitle"><img class="icon" :src="GlobalData.imgUrl + '事件小icon.png'">事件简介</div>
                <!-- <div class="right">
                    <div class="btn" @click="handleMoreEvent">其他事件</div>
                </div> -->
            </div>
            <div class="sjjbqk-content">
                <div class="sjjbqk-item" v-for="(item,index) in sjjbqkData" :key="index">
                    <div class="title">{{item.title}}</div>
                    <div class="content-item" v-for="(item1,index) in item.sjjbqkItem" :key="index">
                        <span class="key blue-num">{{item1.name}}</span> 
                        </br>
                        <span :class="item1.name=='紧急程度： ' ? (MainEventInfoData.eventInfo.eventData[item1.content] !=='一般'?'jjcdClass':'ybClass'):'desc'">{{MainEventInfoData.eventInfo.eventData[item1.content] }}</span>
                    </div>
                </div>

            </div>
        </div>
        <!-- 现场信息
        <div class="xcxx">
            <div class="subtitle"><img class="icon" :src="GlobalData.imgUrl + '事件小icon.png'">现场信息</div>
            <div class="screen">
                <div class="screen-item" v-for="(item,index) in screen" :key="index"
                    :class="screenType == item.type?'screen-bg':''" @click="clickScreen(item.type)">{{item.name}}</div>
            </div>
            <div class="xcxx-list">
                <div class="xcxx-content">

                    <div class="state">
                        处置前
                    </div>
                    <div class="xcxx-item" v-for="(item,index) in xcxxData.beforeHandle" :key="index"
                        v-if="xcxxData.beforeHandle && xcxxData.beforeHandle.length > 0">
                        <el-image v-if="item.fileType == 'image/png'" style="width: 100%; height: 170px"
                            :src="'http://10.39.235.53:31601'+item.fileUrl" :preview-src-list="item.srcList">
                        </el-image>
                        <div v-else class="file" @click="clickFile(item.fileUrl)">
                            <img :src="GlobalData.imgUrl + '默认图.png'"/>
                            <div class="file-title">
                                {{item.fileName}}
                            </div>
                        </div>
                    </div>
                    <div v-else class="xcxx-item1"> <span> 暂无内容</span> </div>
                </div>

                <div class="xcxx-content">
                    <div class="state">
                        处置后
                    </div>
                    <div class="xcxx-item" v-for="(item,index) in xcxxData.afterHandle" :key="index"
                        v-if="xcxxData.afterHandle && xcxxData.afterHandle.length > 0">
                        <el-image v-if="item.fileType == 'image/png'" style="width: 100%; height: 170px"
                            :src="'http://10.39.235.53:31601'+item.fileUrl" :preview-src-list="item.srcList">
                        </el-image>
                        <div v-else class="file" @click="clickFile(item.fileUrl)">
                            <img :src="GlobalData.imgUrl + '默认图.png'"/>
                            <div class="file-title">
                                {{item.fileName}}
                            </div>
                        </div>
                    </div>
                    <div v-else class="xcxx-item1"> <span> 暂无内容</span> </div>
                </div>

                <div class="xcxx-content">
                    <div class="state">
                        核查
                    </div>
                    <div class="xcxx-item" v-for="(item,index) in xcxxData.check" :key="index"
                        v-if="xcxxData.check && xcxxData.check.length > 0">
                        <el-image v-if="item.fileType == 'image/png'" style="width: 100%; height: 170px"
                            :src="'http://10.39.235.53:31601'+item.fileUrl" :preview-src-list="item.srcList">
                        </el-image>
                        <div v-else class="file" @click="clickFile(item.fileUrl)">
                            <img :src="GlobalData.imgUrl + '默认图.png'"/>
                            <div class="file-title">
                                {{item.fileName}}
                            </div>
                        </div>
                    </div>
                    <div  class="xcxx-item1"> <span> 暂无内容</span> </div>
                </div>
            </div>
        </div> -->
        <!-- 处置进程 -->
        <event-popup-new-process></event-popup-new-process>
    </div>
    <event-popup-process-v2></event-popup-process-v2>

</div>
</template>

<style lang="less">
//scss in here
//less in here
.event-popup-new {
    position: absolute;
    width: 380px;
    height: 1234px;
    top: 166px;
    overflow: scroll;
    left: 1532px;
    background-color: rgba(33, 72, 108, 1);
    z-index: 990;

    .popuptitle {
        margin-left: 20px;
        margin-top: 10px;
        background-image: url('@{imgUrl}事件弹窗标题背景.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 360px;
        height: 47px;
        line-height: 47px;
        padding-left: 48px;
        font-size: 26px;
    }

    .subtitle {
        margin-left: 0px;
        margin-top: 10px;
        width: 360px;
        height: 25px;
        line-height: 25px;
        font-size: 20px;
        padding-left: 20px;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgb(26, 73, 120));

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }

    .closeIcon {
        position: absolute;
        right: 10px;
        top: 20px;
        width: 30px;
        height: 30px;
        background-image: url('@{imgUrl}关闭.png');
        background-size: contain;
        cursor: pointer;

        &:hover {
            .miaobian()
        }
    }

    .start {
        color: rgba(46, 255, 228, 1);
    }

    .dealing {
        color: rgba(237, 178, 35, 1);
    }

    .finish {
        color: rgba(83, 215, 87, 1);
    }

    .content {
        margin-top: 10px;
        padding: 20px;
        .card-bg();

        .dwtj {
            display: flex;
            .font-mid-two();

            .dwtj-item {
                flex: 1;

                &:last-child {
                    text-align: right;
                }

                .dwtj-item-content {
                    background-image: url('@{imgUrl}事件相关市属单位-底框.png');
                    width: 330px;
                    height: 48px;
                    display: inline-flex;
                    line-height: 48px;
                    padding: 0 20px;

                    .name {
                        flex: 1;
                        width: 0;
                        text-align: left;

                        img {
                            width: 26px;
                            height: 26px;
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }

                    .value {
                        width: 60px;
                        text-align: right;
                    }
                }
            }
        }

        .sjjj {
            margin-top: 30px;

            .title {
                display: flex;

                .left {
                    flex: 1;

                    img {
                        width: 237px;
                        height: 26px;
                    }
                }

                .right {
                    flex: 1;
                    text-align: right;

                    .btn {
                        display: inline-block;
                        width: 60px;
                        height: 20px;
                        border-radius: 10px;
                        background: rgba(0, 0, 0, 0.08);
                        line-height: 20px;
                        text-align: center;
                        cursor: pointer;
                        .miaobian();
                    }
                }
            }

            .sjjj-content {
                height: 320px;
                border-radius: 10px;
                margin-top: 10px;
                padding: 10px;
                line-height: 30px;
                .font-normal();
                .card-two-bg();
            }
        }

        .sjbm-lssj {
            margin-top: 30px;
            display: flex;

            .sjbm-lssj-item {
                flex: 1;

                &:first-child {
                    margin-right: 10px;
                }

                &:last-child {
                    margin-left: 10px;
                }

                .title {
                    img {
                        width: 237px;
                        height: 26px;
                    }
                }

                .sjbm-lssj-item-content {
                    height: 310px;
                    margin-top: 10px;
                    border-radius: 10px;
                    .card-two-bg();
                }
            }
        }

        // 事件跟踪
        .sjgz {


            .sjgz-content {
                width: 100%;
                // height: 140px;
                display: flex;
                justify-content: flex-start;
                margin-top: 30px;
                flex-wrap: wrap;

                .sjgz-item {
                    width: 100%;
                    height: 125px;
                    border-top: 1px dashed rgba(0, 228, 255, .3);
                    padding-top: 27px;
                    margin-right: 10px;
                    position: relative;

                    &:nth-child(4) {
                        margin-right: 0;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        top: -15px;
                        left: 0;
                    }

                    .sjgz-item-bottom {
                        width: 230px;
                        height: 96px;
                        border-radius: 10px 10px 10px 10px;
                        background: rgba(0, 25, 52, .5);
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: relative;

                        .bottom-content {
                            font-size: 20px;
                        }

                        .state {
                            height: 20px;
                            padding: 0 10px;
                            line-height: 20px;
                            position: absolute;
                            top: 20px;
                            right: 20px;
                            font-size: 16px;
                            text-align: center;
                            background-color: rgba(22, 255, 104, .2);
                            color: #16FF68;
                        }

                        .start1 {
                            background-color: rgba(0, 228, 255, .2);
                            color: #00E4FF;
                        }

                        .start2 {
                            background-color: rgba(153, 153, 153, .2);
                            color: #fff;
                        }

                        .time {
                            font-size: 16px;
                        }
                    }



                }

            }
        }

        // 事件
        .sjjbqk {

            .title {
                display: flex;
                margin-bottom: 10px;

                .left {
                    flex: 1;

                    img {
                        width: 237px;
                        height: 26px;
                    }
                }

                .right {
                    flex: 1;
                    text-align: right;

                    .btn {
                        display: inline-block;
                        width: 100px;
                        height: 40px;
                        border-radius: 10px;
                        background: rgba(0, 0, 0, 0.08);
                        line-height: 40px;
                        text-align: center;
                        cursor: pointer;
                        .miaobian();
                    }
                }
            }

            .sjjbqk-content {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .sjjbqk-item {
                    width: 100%;
                    border-radius: 10px 10px 10px 10px;
                    background: rgba(0, 25, 52, .2);
                    padding: 10px 20px 0px 5px;
                    display: flex;
                    flex-direction: column;

                    .title {
                        width: 100%;
                        height: 24px;
                        line-height: 24px;
                        border-radius: 10px 10px 0 0;
                        background: #001934;
                        font-size: 20px;
                        .blue-num();
                    }

                    .content-item {
                        width: 100%;
                        font-size: 18px;
                        margin-top: 3px;
                        margin-bottom: 10px;
                        white-space: wrap;
                        // white-space: nowrap;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                    }

                    .jjcdClass {
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        padding: 0 10px;
                        color: #FF4B2D;
                        border-radius: 5px;
                        background: rgba(255, 75, 45, .2);

                    }

                    .ybClass {
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        padding: 0 10px;
                        border-radius: 5px;
                        background: rgba(0, 228, 255, 0.4);
                        color: #00E4FF;
                    }

                    .desc {
                        // width:100%;
                        white-space: wrap;
                    }

                    .key {
                        background: linear-gradient(180deg, #fff,#fff, rgba(0, 228, 255));
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
            }
        }

        // 现场信息
        .xcxx {
            margin-top: 10px;
            position: relative;
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;

            .xcxx-list {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width:100%;
            }

            .screen {
                position: absolute;
                top: 0px;
                right: 0;
                display: flex;
                justify-content: flex-end;


                .screen-item {
                    // width: 81px;
                    height: 31px;
                    margin-left: 10px;
                    color: #999999;
                    line-height: 31px;
                    text-align: center;
                    background-image: url('@{imgUrl}tab-未选中.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                }

                .screen-bg {
                    color: #fff;
                    background-image: url('@{imgUrl}tab-选中.png');
                }

            }


            .state {
                // width: 32%;
                height: 20px;
                font-size: 20px;
            }

            .xcxx-item1 {
                width: 100%;
                height: 170px;
                font-size: 20px;
                line-height: 170px;
                text-align: center;
            }


            .xcxx-content {
                width: 100%;
                // height: 200px;
                display: flex;
                // flex-direction: column;
                justify-content: flex-start;
                // overflow: hidden;
                flex-wrap: wrap;

                span {
                    display: inline-block;
                    width: 100%;
                    height: 225px;
                    line-height: 225px;
                    text-align: center;
                }


                .xcxx-item {
                    width: 100%;
                    height: 170px;
                    border-radius: 10px 10px 10px 10px;
                    overflow: hidden;
                    cursor: pointer;
                    overflow-y: scroll;
                    margin-top: 10px;

                    .file {
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        background-color: #001934;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            width: 115px;
                            height: 104px;
                        }

                        .file-title {
                            width: 100%;
                            height: 40px;
                            line-height: 40px;
                            border-radius: 10px 10px 10px 10px;
                            background: rgba(26, 80, 139, .3);
                            .font-normal();
                            color: #9DC1E1;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }

        }
    }

}
</style>
<script>
import CommonTitle from './CommonTitle'
import GlobalData from './GlobalData'
import MainEventInfoData from './MainEventInfoData'
// import MainEventInfoProcess from './MainEventInfoProcess'
import EventPopupNewProcess from './EventPopupNewProcess'
import Bus from './Bus'
import EventPopupProcessV2 from './EventPopupProcessV2'
export default {
	data() {
		return {
			GlobalData,
			MainEventInfoData,
			sjjbqkData: [
				{
					title: '事件属性',
					sjjbqkItem: [
						{
							name: '问题大类',
							content: 'mainType',
						}, {
							name: '所属小类',
							content: 'subTypeName',
						}, {
							name: '紧急程度',
							content: 'eventLevelName',
						}, {
							name: '相关执法依据',
							content: 'basis',
						}, {
							name: '受理条件',
							content: 'startCondition',
						}, {
							name: '办结条件',
							content: 'endCondition',
						}, {
						}
					]
				}, {
					title: '事件信息',
					sjjbqkItem: [
						{
							name: '上报时间',
							content: 'reportTime',
						}, {
							name: '上报人',
							content: 'reporter',
						}, {
							name: '上报人联系方式',
							content: 'reporterPhone',
						}, {
							name: '事件来源',
							content: 'appChannelName',
						}, {
							name: '事件编号',
							content: 'otherTaskNum',
						}, {
							name: '任务编号',
							content: 'taskNumber',
						},{
							name: '问题描述',
							content: 'eventDesc',
						}, 
					]
				}
			],
			state: [
				{
					type: 'czq',
					name: '处置前',
				}, {
					type: 'czh',
					name: '处置后',
				}, {
					type: 'hc',
					name: '核查',
				}
			],
			screenType: 'czq',
			xcxxAllData: {},
			xcxxData: [],
		}
	},
	created() {
	},
	components: {
		CommonTitle,
		// MainEventInfoProcess,
		EventPopupNewProcess,
		EventPopupProcessV2,
	},
	mounted() {
		this.init()
	},
	watch: {
		'GlobalData.eventInfo': {
			deep: true,
			handler(val) {
				this.init()
			}
		}
	},
	beforeDestroy() {
	},
	computed: {
		/**
		 * action样式
		 */
		actionClass() {
			return function (item) {
				switch (item.action) {
					case 'report': //上报
					case 'sign': //签收
						return 'start'
					case 'accept': //受理
					case 'distribute': //派遣
						return 'dealing'
					case 'finish_after_check': //办结
					case 'finish': //办结
					case 'finish_apply': //申请办结
						return 'finish'
					default:
						return 'dealing'
				}
				return 'dealing'
			}
		},
	},
	methods: {
		init() {
			if (!GlobalData.eventInfo) {
				return
			}
			const id = GlobalData.eventInfo.id
			const reportTime = GlobalData.eventInfo.reportTime
			//事件详情
			MainEventInfoData.loadEventInfo(id, reportTime)
			//详情-查询事件主流程
			//详情-查询事件主流程下的处置信息
			MainEventInfoData.loadEventProcess(id, reportTime)
			// 详情-现场信息
			MainEventInfoData.loadEventMediaInfo(id, reportTime).then(res => {
				const data = res || {}
				this.xcxxData.beforeHandle = data.beforeHandle || []
				this.xcxxData.afterHandle = data.afterHandle || []
				this.xcxxData.check = data.check || []

				this.xcxxData.beforeHandle.forEach(i => {
					i.srcList = ['http://10.39.235.53:31601' + i.fileUrl]
				})
				this.xcxxData.afterHandle.forEach(i => {
					i.srcList = ['http://10.39.235.53:31601' + i.fileUrl]
				})
				this.xcxxData.check.forEach(i => {
					i.srcList = ['http://10.39.235.53:31601' + i.fileUrl]
				})
			})
		},
		/**
		 * 其他事件
		 */
		handleMoreEvent() {
			Bus.$emit('showEventList', { eventTypeCode: null })
		},
		/**
		 * 序号
		 */
		indexMethod(index) {
			return index + 1
		},
		// 切换菜单（废弃不要）
		clickScreen(item) {
			this.screenType = item
			const data = this.xcxxAllData
			if (this.screenType == 'czh') {
				if (data.afterHandle) {
					this.xcxxData = data.afterHandle || []
				}
			}
			if (this.screenType == 'czq') {
				if (data.beforeHandle) {
					this.xcxxData = data.beforeHandle || []
				}
			}
			if (this.screenType == 'hc') {
				if (data.check) {
					this.xcxxData = data.check || []
				}
			}
			this.xcxxData.forEach(i => {
				i.srcList = ['http://10.39.235.53:31601' + i.fileUrl]
			})
		},
		// 下载文件
		clickFile(url) {
			/**打开新标签页 */
			window.open('http://10.39.235.53:31601' + url)
			// window.location.href = 'http://10.39.235.53:31601' + url
		},
		// 修改状态的颜色
		formatStateClass(item) {
			switch (item) {
				case '进行中':
					return 'start1'
				case '未开始':
					return 'start2'
			}
		},
		// 修改图标
		formatIcon(item, index) {
			const number = index + 1
			if (item.state == '未开始') {
				return GlobalData.imgUrl + '事件跟踪-数字-灰色-' + number + '.png'
			}
			if (item.state == '进行中') {
				return GlobalData.imgUrl + '事件跟踪-数字-蓝色-' + number + '.png'
			}
			if (item.state == '完成') {
				return GlobalData.imgUrl + '事件跟踪-数字-绿色-' + number + '.png'
			}
		},
		closeThis(){
			GlobalData.eventInfo = null
		}
	}
}
</script>


