<template>
    <div :key="compKey" class="count-flop"
    :style="{'--height': height + 'px', '--itemWidth': itemWidth + 'px', '--pointWidth': (itemWidth / 3) + 'px'}">
    <div v-for="(item, index) in value" :key="index" :class="item != '.' ? 'count-flop-box' : 'count-flop-point'">
      <div v-if="numberList.includes(item)" class="count-flop-content" :class="['rolling_' + item]">
        <div v-for="(item2, index2) in numberList" :key="index2" class="count-flop-num" :class="fontColorClass">
          {{ item2 }}
        </div>
      </div>
      <div v-else class="count-flop-content" :class="fontColorClass">{{item}}</div>
    </div>
    <div v-if="suffix" class="count-flop-unit">{{ suffix }}</div>
  </div>

</template>
<style lang="less">
// less code here
.count-flop {
  display: inline-block;
  height: var(--height);
  line-height: var(--height);
  text-align: center;

  .font-color {
    color: #FFF;
  }

  .count-flop>div {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 100%;
  }

  .count-flop-box {
    // margin-right: 5px;
    width: var(--itemWidth);
    line-height: var(--height);
    border: 0;
    border-radius: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .count-flop-point {
    // margin-right: 5px;
    width: var(--pointWidth);
    height: 100%;
    display: inline-block;
    font-size: var(--height);
    overflow: hidden;
    position: relative;
  }

  .count-flop-content {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    animation-fill-mode: forwards !important;
  }

  .rolling_0 {
    animation: rolling_0 2.1s ease;
  }

  @keyframes rolling_0 {
    from {
      transform: translateY(-90%);
    }

    to {
      transform: translateY(0);
    }
  }

  .rolling_1 {
    animation: rolling_1 3s ease;
  }

  @keyframes rolling_1 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-10%);
    }
  }

  .rolling_2 {
    animation: rolling_2 2.1s ease;
  }

  @keyframes rolling_2 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-20%);
    }
  }

  .rolling_3 {
    animation: rolling_3 3s ease;
  }

  @keyframes rolling_3 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-30%);
    }
  }

  .rolling_4 {
    animation: rolling_4 2.1s ease;
  }

  @keyframes rolling_4 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-40%);
    }
  }

  .rolling_5 {
    animation: rolling_5 3s ease;
  }

  @keyframes rolling_5 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-50%);
    }
  }

  .rolling_6 {
    animation: rolling_6 2.1s ease;
  }

  @keyframes rolling_6 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-60%);
    }
  }

  .rolling_7 {
    animation: rolling_7 3.1s ease;
  }

  @keyframes rolling_7 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-70%);
    }
  }

  .rolling_8 {
    animation: rolling_8 2.1s ease;
  }

  @keyframes rolling_8 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-80%);
    }
  }

  .rolling_9 {
    animation: rolling_9 3.6s ease;
  }

  @keyframes rolling_9 {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-90%);
    }
  }
}
</style>
<script>
/**
 * 数字翻牌
 */
 export default {
	props: {
		val: 0,
		suffix: '',
		height: {
			type: Number,
			default: 24,
		},
		itemWidth: {
			type: Number,
			default: 18,
		},
		fontColorClass: {
			type: String,
			default: 'font-color',
		},
		intervalOpen: {
			type: Boolean,
			default: true,
		},
		intervalMin: {
			type: Number,
			default: 30,
		},
		intervalMax: {
			type: Number,
			default: 60,
		},
	},
	data() {
		return {
			value: [],
			numberList: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'],
			compKey: 0,
		}
	},
	watch: {
		val() {
			this.value = this.val.toString().split('')
			// this.compKey += 1
		},
	},
	created() { },
	mounted() {
		if (this.val !== undefined && this.val !== null) {
			this.value = this.val.toString().split('')
		} else {
			this.value = []
		}

		this.updateVal()
	},
	beforeDestroy() { },
	methods: {
		updateVal() {
			if (this.intervalOpen && this.intervalMin !== null && this.intervalMax) {
				const time =
					this.intervalMax <= this.intervalMin
						? this.intervalMin
						: this.intervalMin + Math.floor(Math.random() * (this.intervalMax - this.intervalMin))

				setTimeout(() => {
					this.compKey += 1
					this.updateVal()
				}, time * 1000)
			}
		},
	},
}

</script>