<!--
 * @Author: tianh
 * @Date: 2023-03-02 10:39:29
 * @LastEditors: tianh
 * @LastEditTime: 2023-03-02 10:47:06
 * @Descripttion: 
-->
<template>
  <div class="general-popover" @click.stop="handleClick">
    <!-- <el-popover
      popper-class="custom-popper"
      placement="top-start"
      :width="width"
      trigger="hover"
    >
      <div class="el-popover__titlemain" slot="reference"></div>
      <div>
        <div class="el-popover__title">
          统计方式:{{ title }}
        </div>
        <div class="el-popover__title">
          统计频率:{{ titlepl }}
        </div>
        <div class="el-popover__title">
          数据来源:{{ titlesjly }}
        </div>
      </div>
    </el-popover> -->
  </div>
</template>
<style lang="less">
// less code here
.general-popover {
  position: absolute;
  // right: 23px;
  top: -30px;
  // top: -100px;
  width: 100%;
  height: 100%;
  // padding-top: 20px;
  text-align: center;
  cursor: pointer;
  .el-popover__titlemain {
    width: 100%;
    height: 100%;
  }
}
</style>

<script>
// import GlobalData from 'GlobalData'

export default {
  props: {
    title: {
      // 标题
      type: String,
      default: ''
    },
    titlepl: {
      // 标题
      type: String,
      default: ''
    },
    titlesjly: {
      // 标题
      type: String,
      default: ''
    },
    width: {
      //宽度
      type: Number,
      default: 240
    },
    content: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      visible: true
    };
  },
  created() {},
  mounted() {},
  beforeDestroy() {},
  methods: {
    handleClick() {
      this.$emit('onclick');
    }
  }
};
</script>
