<template>
<div class="general-hls-player">
  <video ref="videoElement" id="videoElement" controls muted
    style="width: 100%; height: 100%; object-fit: contain;"></video>
</div>
</template>
<style lang="less">
//less in here
.general-hls-player {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
}

</style>
<script>
import hlsjs from 'hls.js'

export default {
	props: {
		videoUrl: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			video: null,
			hlsjs: null,
		}
	},
	created() {
	},
	components: {
	},
	mounted() {
		this.play()
	},
	beforeDestroy() {		
		this.close()
	},
	watch: {
		videoUrl() {
			this.play()
		}
	},
	methods: {
		play() {
			this.video = this.$refs.videoElement; //定义挂载点

			if (!this.videoUrl) {
				try {
					this.video.stop();
				} catch (err) {
				}
				return
			}

			if (hlsjs.isSupported()) {
				this.hlsjs = new hlsjs();
				this.hlsjs.loadSource(this.videoUrl);//设置播放路径
				this.hlsjs.attachMedia(this.video);//解析到video标签上
				console.log(this.hlsjs);
				this.hlsjs.on(hlsjs.Events.MANIFEST_PARSED, () => {
					this.video.play();
					console.log("加载成功");
				});
				this.hlsjs.on(hlsjs.Events.ERROR, (event, data) => {
					//   console.log(event, data);
					// 监听出错事件
					console.log("加载失败");
				});
			} else {
				this.$message.error("不支持的格式");
				return;
			}
		},
		//停止播放
    close() {
      if (this.hlsjs) {
        this.$refs.videoElement.pause();
        this.video.pause();
        this.hlsjs.destroy();
        this.hlsjs = null;
        this.$emit("close");
      }
    }
	}
}
</script>