<template>
<div class="GlobTitle">
  <img :src="url"/>
  <span>{{title}}</span>
  <div class="GlobTitle-close" @click="$emit('clickclose')"></div>
</div>
</template>
<style lang="less">
//less in here
.GlobTitle{
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  position: relative;
  span{
    position: absolute;
    left: 60px;
    font-size: 24px;
    color: #A8DDFC;
  }
  .GlobTitle-close{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background-image: url('@{imgUrl}一级标题-关闭.png');
    background-position: center center;
    background-repeat: no-repeat;
  }
}

</style>
<script>
import GlobalData from './GlobalData'
export default {
	props:{
		url:String,
		title:String
	},
	data() {
		return {
			GlobalData
		}
	},
	created() {
	},
	components: {
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {
	}
}
</script>