//scss in here
//scss in here
@imgUrl: '/src/screen/1600385025259147265/';
// @img_url: '/src/screen/1600385025259147265/';
#app {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@font-face {
  font-family: 'PingFang';
  src: url('@{imgUrl}PingFang.ttc');
}

@font-face {
  font-family: 'title';
  src: url('@{imgUrl}优设标题黑.ttf');
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*禁用页面内容选中和复制操作*/
  -webkit-touch-callout: none;
  /*禁用长按页面时的弹出菜单(iOS下有效)*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  /*去掉点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/
}
.font-big {
  font-size: 30px;
}

.font-big-one {
  font-size: 28px;
}

.font-big-two {
  font-size: 26px;
}

.font-big-three {
  font-size: 24px;
}

.font-big-four {
  font-size: 22px;
}

.font-mid-one {
  font-size: 20px;
}

.font-mid-two {
  font-size: 18px;
}

.font-normal {
  font-size: 16px;
}

.font-small {
  font-size: 14px;
}

.green-num {
  background: linear-gradient(180deg, #c4fffe, #00fffb);
  -webkit-background-clip: text;
  color: transparent;
}

.blue-num {
  background: linear-gradient(180deg, #dbefff, #0c8ff3);
  -webkit-background-clip: text;
  color: transparent;
}

.red-num {
  background: linear-gradient(180deg, #ffffff, #ff676b);
  -webkit-background-clip: text;
  color: transparent;
}

.card-bg {
  background: linear-gradient(0deg, rgba(20, 52, 89, 1), rgba(19, 37, 64, 1));
}

.card-two-bg {
  background: rgba(0, 25, 52, 0.5);
}

//描边，内发光
.miaobian {
  border: 1px solid RGBA(24, 155, 255, 1);
  box-shadow: 0 0 0 1px RGBA(24, 155, 255, 1),
    inset 0 0 10px RGBA(24, 155, 255, 1);
}

//单行显示
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//显示两行
.double-line {
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;

  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
}

.three-line {
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-line-clamp: 3;
  -moz-box-orient: vertical;

  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
}

//关闭按钮
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url('@{imgUrl}关闭.png');
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar {
  width: 0;
  height:0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 0;
  height:0;
  background-color: rgba(53, 148, 255, 0.4);
  // border-radius: 10px;

  &:hover {
    background-color: rgba(53, 148, 255, 0.6);
  }

  &:active {
    background-color: #00d6f980;
  }
}

//弹框样式
.popper-class {
  background-color: rgba(53, 148, 255, 0.4) !important;

  .el-select-dropdown__item {
    color: #fff;

    &.hover {
      background-color: rgba(53, 148, 255, 0.8) !important;
    }
  }
}

::v-deep .el-table,
::v-deep .el-table__expanded-cell {
  background: transparent !important;
  color: #fff;
  line-height: 60px;

  thead {
    color: #fff !important;
  }

  th {
    &.el-table__cell {
      background: linear-gradient(to top, #173c5d, #1d2b44) !important;
      // background: transparent !important;
    }
  }
  tr {
    &.el-table__row {
      background: #1a2e52 !important;
      height: 60px;

      &:hover {
        background: #1a2e52 !important;

        td {
          background: #1a2e52 !important;
        }
      }
    }

    &.el-table__row--striped {
      background: #1b2944 !important;

      .el-table__cell {
        background: transparent !important;
      }
    }
  }
}

::v-deep .el-pagination .btn-next,
::v-deep .el-pagination .btn-prev {
  background: rgba(0, 187, 255, 0.1);
  color: #fff;
}

::v-deep .el-pagination {
  margin-top: 10px;
  text-align: right;
}

::v-deep .el-pagination__total {
  color: #fff;
}

::v-deep .el-pagination button:disabled {
  color: #fff;
  background-color: rgba(0, 187, 255, 0.1);
  cursor: not-allowed;
}

::v-deep .el-pager {
  li {
    color: #fff;
    background-color: rgba(0, 187, 255, 0.1);
    margin: 0 2px;
  }
}

.main-body {
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: 'PingFang';
  .font-normal();

  .full-background {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url('@{imgUrl}/背景蒙层.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }
}

.el-input__inner {
  border: 1px solid rgba(65, 179, 209, 0.94) !important;
  background-color: rgba(18, 32, 56, 1) !important;
  color: #ffffff !important;
}

// 下拉选择
.el-select-dropdown {
  background: rgba(18, 32, 56, 1) !important;
  color: #ffffff !important;
  border: 1px solid rgba(65, 179, 209, 0.94) !important;
  border-radius: 0px !important;
  .popper__arrow {
    color: rgba(18, 32, 56, 1) !important;
  }

  .el-select-dropdown__empty {
    font-size: 10px !important;
  }
  .el-select-dropdown__item {
    color: #ffffff !important;
    background: transparent !important;
    border-radius: 0px !important;
    font-size: 10px !important;

    &:hover {
      background: #215588 !important;
      background-color: #215588 !important;
      color: #ffffff !important;
    }
  }
}

// 多选框
.el-checkbox-group {
  // width: 96%;
  // height: 1350px;
  // padding: 47px 69px 0;
  // border-radius: 20px 20px 20px 20px;
  // background: rgba(20, 31, 54, 0.4);
  // overflow-y: scroll;
}

.el-checkbox {
  // width: 30%;
  height: 24px;

  .el-checkbox__inner {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    position: relative;
    // margin-bottom: 2px;
    background-color: transparent;
    border-color: #409eff;
    overflow-y: scroll;

    &::after {
      width: 5px;
      height: 5px;
      // border-right: 5px solid #fff;
      // border-bottom: 5px solid #fff;
      position: absolute;
      top: 3px;
      // left: 15px;
    }
  }

  .el-checkbox__label {
    height: 18px;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    line-height: 25px;
    margin-left: 6px;
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #25a6ff;
  }
}

.el-tree {
  background: transparent !important;
  color: #ffffff;

  .el-tree-node__content {
    height: 30px;
    line-height: 30px;
    background-color: transparent;
  }

  .el-checkbox__inner {
    width: 18px;
    height: 18px;
    border-color: #20a8ff;
    background-color: transparent;
  }

  .el-tree-node__label {
    font-size: 16px;
    margin-left: 6px;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: transparent;
    border-color: #409eff;
    // margin-bottom: 3px;

    &::after {
      // border: 5px solid #FFF;
      // border-left: 0;
      // border-top: 0;
      // height: 21px;
      // left: 10px;
      // top: 6px;
      // width: 10px;
      height: 6px;
      width: 6px;
      top: 3px;
    }
  }

  .el-tree-node:hover > .el-tree-node__content,
  .el-tree-node:focus > .el-tree-node__content {
    background-color: transparent;
  }

  .el-tree-node__expand-icon {
    color: #ffffff;
    font-size: 16px;
  }

  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    height: 5px;
    top: 3px;
    color: #25a6ff;
  }

  .is-leaf {
    &.el-icon-caret-right:before {
      content: '';
      margin-left: 5px;
    }
  }
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: transparent !important;
}
.glow {
  text-shadow: 0px 0px 6px rgba(0, 187, 255, 0.57), 0px 0px 6px rgba(0, 187, 255, 0.57), 0px 0px 10px rgba(0, 187, 255, 0.57), 0px 0px 6px rgba(0, 187, 255, 0.57);
}
