<template>
<div class="GlobTitlerName">
  <img :src="GlobalData.imgUrl+'二级标题-竖线.png'"/>
  {{title}}
</div>
</template>
<style lang="less">
//less in here
.GlobTitlerName{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background: rgba(9,34,57,1);
  padding-left: 20px;
  font-size: 22px;
  img{
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
  }
}

</style>
<script>
import GlobalData from './GlobalData'
export default {
	props:{
		title:String
	},
	data() {
		return {
			GlobalData
		}
	},
	created() {
	},
	components: {
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {
	}
}
</script>