<template>
<div class="homeDialog">
  <glob-title :url="GlobalData.imgUrl+'12345一级标题样式.png'" :title="'值班体系'" @clickclose="clickclose"></glob-title>
  <div class="homeDialog-main">
    <!-- <home-detail-rxhy v-if="title=='12345rxhy'" />
    <home-detail-common v-else :moudle="moudle" :type="type" :title="name" /> -->
	<zbtx-popup v-if="GlobalData.showZbtx"></zbtx-popup>
  </div>
</div>
</template>
<style lang="less">
//less in here
.homeDialog{
  position: absolute;
  top: 0px;
    left: 0px;
    width: 1040px;
    height: 1320px;
//   padding: 24px 30px 0px 30px;
  background: rgba(6,26,46,1);
  .homeDialog-main{
    width: 100%;
    height: calc(100% - 52px);
  }
}

</style>
<script>
import GlobTitle from './GlobTitle'
import GlobalData from './GlobalData'
import HomeDetailRxhy from './HomeDetailRxhy'
import HomeDetailCommon from './HomeDetailCommon'
import ZbtxPopup from './ZbtxPopup.vue'
export default {
	props: {
		title: {
			type: String,
			default: '值班体系',
		},
		name: {
			type: String,
			default: '值班体系',
		},
		type: {
			type: String,
			default: ''
		},
		moudle: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			GlobalData,
		}
	},
	created() {
	},
	components: {
		GlobTitle,
		HomeDetailRxhy,
		HomeDetailCommon,
		ZbtxPopup
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {
		clickclose() {
			this.$emit('close')
		}
	}
}
</script>