<template>
<div class="HomeDetailCommon">
  <glob-titler-name :title="title + '（整体概览）'" />
  <!-- 整体概览 -->
  <div class="HomeDetailCommon-top">
    <div class="HomeDetailCommon-top-items" v-for="(item,index) in overviewList" :key="index">
      <div class="HomeDetailCommon-top-items-left"><img :src="GlobalData.imgUrl+'总体概览-图标.png'"/>{{item.label}}</div>
      <div class="HomeDetailCommon-top-items-right">{{item.value}}<span>{{item.unit}}</span></div>
    </div>
  </div>
  <div class="HomeDetailCommon-main">
    <glob-titler-name :title="nearParam.cycleLabel + '办件量'" />
    <div class="HomeDetailCommon-main-button">
      <!-- 近期时间 -->
      <div class="HomeDetailCommon-main-button-items">
        <el-select v-model="nearParam.cycle" @change="(...value) => handleCycleChange('cycle', ...value)"
          placeholder="请选择">
          <el-option v-for="(item, index) in cycleList" :key="item.value" :label="item.name" :value="item.value">
          </el-option>
        </el-select>
      </div>
      <!-- 业务类型 -->
      <div class="HomeDetailCommon-main-button-items">
        <el-select v-model="nearParam.businessType" @change="(...value) => handleBusinessTypeChange('cycle', ...value)"
          placeholder="请选择">
          <el-option v-for="(item, index) in businessTypeList" :key="item.name" :label="item.name" :value="item.name === '全部类型' ? null : item.name">
          </el-option>
        </el-select>
      </div>
      <!-- 街道 -->
      <div class="HomeDetailCommon-main-button-items">
        <el-select v-model="nearParam.street" @change="(...value) => handleStreetChange('cycle', ...value)"
          placeholder="请选择">
          <el-option v-for="(item, index) in streetList" :key="item.name" :label="item.name" :value="item.name === '全部街道' ? null : item.name">
          </el-option>
        </el-select>
      </div>
    </div>
    <div class="HomeDetailCommon-main-echarts" ref="refecharts"></div>
  </div>
  <div class="HomeDetailCommon-main">
    <glob-titler-name :title="streetParam.cycleLabel + '街道办件量top10'" />
    <div class="HomeDetailCommon-main-button">
      <div class="HomeDetailCommon-main-button-items">
        <el-select v-model="streetParam.cycle" @change="(...value) => handleCycleChange('street', ...value)"
          placeholder="请选择">
          <el-option v-for="(item, index) in cycleList" :key="item.value" :label="item.name" :value="item.value">
          </el-option>
        </el-select>
      </div>
      <div class="HomeDetailCommon-main-button-items">
        <el-select v-model="streetParam.businessType"
          @change="(...value) => handleBusinessTypeChange('street', ...value)" placeholder="请选择">
          <el-option v-for="(item, index) in businessTypeList" :key="item.name" :label="item.name" :value="item.name === '全部类型' ? null : item.name">
          </el-option>
        </el-select>
      </div>
    </div>
    <div class="HomeDetailCommon-main-echarts" ref="refbjlecharts"></div>
  </div>
  <div class="HomeDetailCommon-main">
    <glob-titler-name :title="businessTypeParam.cycleLabel +  '办件类型'" />
    <div class="HomeDetailCommon-main-button">
      <div class="HomeDetailCommon-main-button-items">
        <el-select v-model="businessTypeParam.cycle" @change="(...value) => handleCycleChange('businessType', ...value)"
          placeholder="请选择">
          <el-option v-for="(item, index) in cycleList" :key="item.value" :label="item.name" :value="item.value">
          </el-option>
        </el-select>
      </div>
      <div class="HomeDetailCommon-main-button-items">
        <el-select v-model="businessTypeParam.street"
          @change="(...value) => handleStreetChange('businessType', ...value)" placeholder="请选择">
          <el-option v-for="(item, index) in streetList" :key="item.name" :label="item.name" :value="item.name === '全部街道' ? null : item.name">
          </el-option>
        </el-select>
      </div>
    </div>
    <div class="HomeDetailCommon-main-echarts" ref="reftypeecharts"></div>
  </div>
</div>
</template>
<style lang="less">
//less in here
.HomeDetailCommon{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 27px;
   // 总体概览
  .HomeDetailCommon-top{
    width: 100%;
    height: 140px;
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    .HomeDetailCommon-top-items{
      // width: 220px;
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0px 20px;
      justify-content: space-between;
      background: rgba(47,99,159,0.2);
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }

      // &:nth-last-child() {
      //   margin-right: 0px;
      // }
      &-left{
        color: #C5C7C8;
        font-size: 20px;
        img{
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }
      }
      &-right{
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
        span{
          font-size: 16px;
          font-weight: 400;
          margin-left: 10px;
        }
      }
    }
  }
  // 近七日办理
  .HomeDetailCommon-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .HomeDetailCommon-main-button{
      position: absolute;
      right: 0px;
      top: 0px;
      display: flex;
      align-items: center;
      &-items{
        width: 150px;
        margin-left: 10px;
      }
    }
    .HomeDetailCommon-main-echarts{
      width: 100%;
      height: 310px;
    }
  }



}

</style>
<script>
import GlobTitlerName from './GlobTitlerName'
import HomeDetailCommonData from './HomeDetailCommonData'
import GlobalData from './GlobalData'
import HomeDetailRxhyData from './HomeDetailRxhyData'
export default {
	props: {
		title: {
			type: String,
			default: '',
		},
		type: {
			type: String,
			default: ''
		},
		moudle: {
			type: String,
			default: ''
		}
	},
	data() {
		return {
			GlobalData,
			HomeDetailCommonData,
			HomeDetailRxhyData,
			chartqs1: null,
			chartqsbjl: null,
			chartqstype: null,
			// moudle: null,
			// 时间周期
			cycleList: [
				{ name: '近一周', value: 'lastWeek' },
				{ name: '近一月', value: 'lastMonth' },
				{ name: '近一年', value: 'lastYear' }
			],
			// 业务类型
			businessTypeList: [],
			// 街道列表
			streetList: [],


			// 近期参数
			nearParam: {
				cycleLabel: '近七日',
				cycle: 'lastWeek',
				beginDate: dayjs().subtract(6, 'day').format('YYYY-MM-DD'),
				endDate: dayjs().format('YYYY-MM-DD'),
				businessType: null,
				street: null,

			},
			// 街道参数
			streetParam: {
				cycleLabel: '近七日',
				cycle: 'lastWeek',
				beginDate: dayjs().subtract(6, 'day').format('YYYY-MM-DD'),
				endDate: dayjs().format('YYYY-MM-DD'),
				businessType: null,
			},
			// 类型参数
			businessTypeParam: {
				cycleLabel: '近七日',
				cycle: 'lastWeek',
				beginDate: dayjs().subtract(6, 'day').format('YYYY-MM-DD'),
				endDate: dayjs().format('YYYY-MM-DD'),
				street: null
			},

			// 2.1.	整体概览
			overviewList: [],

		}
	},
	created() {
	},
	components: {
		GlobTitlerName
	},
	mounted() {
		// // 加载整体概览
		// this.loadOverviewData()
		// // 加载街道列表
		// this.loadStreetListData()
		// // 加载业务类型列表
		// this.loadBusinessTypeList()

		// // 加载近期办件量
		// this.loadNearCycleData()
		// // 加载街道办件量
		// this.loadSteetThingData()
		// // 加载业务类型统计
		// this.loadBusinessTypeStatistical()
	},
	beforeDestroy() {
	},
	methods: {

		// 加载整体概览
		loadOverviewData() {
			const self = this
			const param = {
				type: this.type,
				moudle: this.moudle
			}
			// OU.api('sjj_ejxz_ztgl', param).then(body => {
			// 	self.overviewList = body
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},
		// 加载街道列表
		loadStreetListData() {
			const self = this
			const param = {
				type: this.type,
				moudle: this.moudle
			}
			// OU.api('sjj_ejxz_jdlb', param).then(body => {
			// 	self.streetList = [{name: '全部街道'}]
			// 	self.streetList.push(...body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},
		// 加载业务类型列表
		loadBusinessTypeList() {
			const self = this
			const param = {
				type: this.type,
				moudle: this.moudle
			}
			// OU.api('sjj_ejxz_ywlxlb', param).then(body => {
			// 	self.businessTypeList = [{name: '全部类型'}]
			// 	self.businessTypeList.push(...body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},

		// 时间筛选变化
		handleCycleChange(type, value) {
			let beginDate = ''
			let endDate = dayjs().format('YYYY-MM-DD')
			let cycleLabel = '近七日'
			if (value === 'lastWeek') {
				beginDate = dayjs().subtract(6, 'day').format('YYYY-MM-DD')
				cycleLabel = '近七日'
			} else if (value === 'lastMonth') {
				beginDate = dayjs().subtract(1, 'month').format('YYYY-MM-DD')
				cycleLabel = '近一月'
			} else if (value === 'lastYear') {
				beginDate = dayjs().subtract(1, 'year').format('YYYY-MM-DD')
				cycleLabel = '近一年'
			}
			console.info('开始时间：', beginDate, '\t 结束时间：', endDate)
			if (type === 'cycle') {
				this.nearParam.beginDate = beginDate
				this.nearParam.endDate = endDate
				this.nearParam.cycleLabel = cycleLabel
				// 加载   二级下转-近期办件量
				this.loadNearCycleData()
			} else if (type === 'street') {
				this.streetParam.beginDate = beginDate
				this.streetParam.endDate = endDate
				this.streetParam.cycleLabel = cycleLabel
				// 加载街道办件量
				this.loadSteetThingData()
			} else if (type === 'businessType') {
				this.businessTypeParam.beginDate = beginDate
				this.businessTypeParam.endDate = endDate
				this.businessTypeParam.cycleLabel = cycleLabel
				// 加载街道办件量
				this.loadBusinessTypeStatistical()
			}
		},
		// 業務類型篩選
		handleBusinessTypeChange(type, value) {
			if (type === 'cycle') {
				// 加载   二级下转-近期办件量
				this.loadNearCycleData()
			} else if (type === 'street') {
				// 加载街道办件量
				this.loadSteetThingData()
			} else if (type === 'businessType') {
				// 加载街道办件量
				this.loadBusinessTypeStatistical()
			}
		},

		// 街道篩選
		handleStreetChange(type, value) {
			if (type === 'cycle') {
				// 加载   二级下转-近期办件量
				this.loadNearCycleData()
			} else if (type === 'street') {
				// 加载街道办件量
				this.loadSteetThingData()
			} else if (type === 'businessType') {
				// 加载街道办件量
				this.loadBusinessTypeStatistical()
			}
		},

		// 加载   二级下转-近期办件量
		loadNearCycleData() {
			const self = this
			const param = {
				type: this.type,
				moudle: this.moudle,
				beginDate: this.nearParam.beginDate,
				endDate: this.nearParam.endDate,
				businessType: this.nearParam.businessType,
				areaname: this.nearParam.street,
			}

			const action = this.nearParam.cycle === 'lastYear' ? 'sjj_ejxz_jynbjl'  : 'sjj_ejxz_jrqbjl'
			// OU.api(action, param).then(body => {
			// 	self.drawCycleEcharts(body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},
		// 访问文件
		drawCycleEcharts(dataList) {
			const option = HomeDetailCommonData.get_nearNumberoption(dataList)
			if (this.chartqs1) {
				this.chartqs1.dispose()
			}
			this.chartqs1 = echarts.init(this.$refs.refecharts, null, { renderer: 'canvas' })
			this.chartqs1.setOption(option)
			this.chartqs1.off('click')
			this.chartqs1.on('click', function (params) { })
		},


		// 加载 二级下转-街道办件量  sjj_ejxz_jdbjl
		// 加载   二级下转-近期办件量
		loadSteetThingData() {
			const self = this
			const param = {
				type: this.type,
				moudle: this.moudle,
				beginDate: this.streetParam.beginDate,
				endDate: this.streetParam.endDate,
				businessType: this.streetParam.businessType,
			}
			// OU.api('sjj_ejxz_jdbjl', param).then(body => {

			// 	self.drawStreetThingEcharts(body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},

		drawStreetThingEcharts(dataList) {
			let self = this
			if (this.chartqsbjl) {
				this.chartqsbjl.dispose()
			}
			this.chartqsbjl = echarts.init(this.$refs.refbjlecharts, null, { renderer: 'canvas' })
			const option = HomeDetailCommonData.getbjlqschartoption(dataList)
			this.chartqsbjl.setOption(option)
			this.chartqsbjl.on('click', function (params) { })
		},

		// 办件类型  二级下转-办结类型统计   sjj_ejxz_bjlxtj
		loadBusinessTypeStatistical() {
			const self = this
			const param = {
				type: this.type,
				moudle: this.moudle,
				beginDate: this.businessTypeParam.beginDate,
				endDate: this.businessTypeParam.endDate,
				areaname: this.businessTypeParam.street,
			}
			// OU.api('sjj_ejxz_bjlxtj', param).then(body => {

			// 	self.drawBusinessTypeStatisticalEcharts(body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},

		drawBusinessTypeStatisticalEcharts(dataList) {
			let that = this
			if (this.chartqstype) {
				this.chartqstype.dispose()
			}
			this.chartqstype = echarts.init(this.$refs.reftypeecharts, null, { renderer: 'canvas' })
			const option = HomeDetailCommonData.get_BusinessTypeStatisticalOption(dataList)
			this.chartqstype.setOption(option)
			this.chartqstype.on('click', function (params) { })
		}
	}
}
</script>