<template>
<div class="HomeDetailRxhy">
  <glob-titler-name title="总体概览" />
  <div class="HomeDetailRxhy-top">
    <div class="HomeDetailRxhy-top-items" v-for="(item,index) in HomeDetailRxhyData.ztgl" :key="index">
      <div class="HomeDetailRxhy-top-items-left"><img :src="GlobalData.imgUrl+'总体概览-图标.png'"/>{{item.name}}</div>
      <div class="HomeDetailRxhy-top-items-right">{{item.number}}<span>{{item.unit}}</span></div>
    </div>
  </div>
  <div class="HomeDetailRxhy-two">
    <div class="HomeDetailRxhy-two-left">
      <glob-titler-name title="本月服务情况" />
      <div class="HomeDetailRxhy-two-left-main">
        <div class="HomeDetailRxhy-two-left-main-items" v-for="(item,index) in HomeDetailRxhyData.fwqk" :key="index">
          <div class="HomeDetailRxhy-two-left-main-items-top">{{item.name}}</div>
          <div class="HomeDetailRxhy-two-left-main-items-bottom">
            <div class="items-bottom-items" v-for="(item1,index1) in item.list" :key="index1">
              <div class="items-bottom-items-number">{{item1.number}}<span>{{item1.unit}}</span></div>
              <div class="items-bottom-items-title">{{item1.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="HomeDetailRxhy-two-left">
      <div class="HomeDetailRxhy-two-left-list">
        <div class="HomeDetailRxhy-two-left-list-items" v-for="(item,index) in tabs" :key="index"
        :class="type==item.type?'HomeDetailRxhy-two-left-list-items-bg':''">
          {{item.name}}
        </div>
      </div>
      <glob-titler-name title="重点关注" />
      <div class="HomeDetailRxhy-two-left-echart" ref="refzdgz"></div>
    </div>
  </div>
  <glob-titler-name title="近六月诉求趋势" />
  <div class="HomeDetailRxhy-jlysqqs" ref="refjlysqqs"></div>
  <glob-titler-name title="本月诉求热点类型" />
  <div class="HomeDetailRxhy-byrdlx" ref="refbysqrdlx"></div>
</div>
</template>
<style lang="less">
//less in here
.HomeDetailRxhy{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 27px;
  // 总体概览
  .HomeDetailRxhy-top{
    width: 100%;
    height: 140px;
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    .HomeDetailRxhy-top-items{
      width: 310px;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0px 35px;
      justify-content: space-between;
      background: rgba(47,99,159,0.2);
      &-left{
        color: #C5C7C8;
        font-size: 20px;
        img{
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }
      }
      &-right{
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
        span{
          font-size: 16px;
          font-weight: 400;
          margin-left: 10px;
        }
      }
    }
  }
  // 本月服务情况  重大关注
  .HomeDetailRxhy-two{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    .HomeDetailRxhy-two-left{
      width: 476px;
      display: flex;
      flex-direction: column;
      position: relative;
      .HomeDetailRxhy-two-left-list{
        width: auto;
        position: absolute;
        right: 10px;
        top: 0px;
        display: flex;
        align-items: center;
        z-index: 99;
        &-items{
          padding: 8px 7px;
          font-size: 16px;
          color: #FFFFFF;
          margin-left: 10px;
          background-image: url('@{imgUrl}tab-未选中.png');
        }
      }
      .HomeDetailRxhy-two-left-main{
        width: 100%;
        height: calc(100% - 40px);
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        // 本月服务情况
        &-items{
          width: 100%;
          height: 110px;
          display: flex;
          flex-direction: column;
          padding: 10px 10px 10px 20px;
          background-image: url('@{imgUrl}底框.png');
          margin-bottom: 10px;
          justify-content: space-between;
          &-top{
            width: 100%;
            font-size: 20px;
          }
          &-bottom{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .items-bottom-items{
              width: calc(100% / 3);
              // margin-top: 20px;
              .items-bottom-items-number{
                font-size: 24px;
                color: #FFFFFF;
                font-weight: 700;
                span{
                  font-size: 16px;
                  font-weight: 400;
                }
              }
              .items-bottom-items-title{
                font-size: 16px;
                color: #718DA6;
                margin-top: 5px;
              }
            }
          }
        }
      }
      .HomeDetailRxhy-two-left-echart{
        width: 100%;
        height: 350px;
        margin-top: 20px;
      }
    }
  }
  // 近六月诉求趋势
  .HomeDetailRxhy-jlysqqs{
    width: 100%;
    height: 310px;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  // 本月热点类型
  .HomeDetailRxhy-byrdlx{
    width: 100%;
    height: 290px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

</style>
<script>
import GlobTitlerName from './GlobTitlerName'
import HomeDetailRxhyData from './HomeDetailRxhyData'
import GlobalData from './GlobalData'

export default {
	data() {
		return {
			HomeDetailRxhyData,
			GlobalData,
			chartqs1: null,
			chartbysqrdlx: null,
			chartzdgz: null,
			tabs: [{
				name: '热点被诉主体',
				type: 'zt'
			}, {
				name: '热点点位',
				type: 'dw'
			}],
			type: 'zt'
		}
	},
	created() {
	},
	components: {
		GlobTitlerName
	},
	mounted() {
		// 12345热线回应-整体概览
		this.loadHotLineOverallOverview()
		// 加载服务情况
		this.loadServiceQkData()
		// 加载重点关注
		this.loadFocusData()
		// 加载近六月诉求趋势
		this.loadNearlyJuneData()
		// 加载本月诉求热点 类型
		this.loadCurMonthHotTypeData()
	},
	beforeDestroy() {
	},
	methods: {
		// 12345热线回应-整体概览
		loadHotLineOverallOverview() {
			// sjj_12345rxhy_ztgl
			const self = this
			// OU.api('sjj_12345rxhy_ztgl', {}).then(body => {

			// 	if (body && body.length > 0) {
			// 		const data = body[0]
			// 		// 当日.
			// 		if (data.dataDate === dayjs().format('YYYY-MM-DD')) {
			// 			HomeDetailRxhyData.ztgl[0].number = data.todayEventAmount
			// 		} else {
			// 			HomeDetailRxhyData.ztgl[0].number = 0
			// 		}
			// 		// 本周
			// 		HomeDetailRxhyData.ztgl[1].number = data.thisWeekEventAmount
			// 		// 本月
			// 		HomeDetailRxhyData.ztgl[2].number = data.thisMonthEventAmount
			// 	}

			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},


		// 加载服务情况
		loadServiceQkData() {
			const self = this
			// OU.api('sjj_12345rxhy_fwqk', {}).then(body => {
			// 	self.dealServiceData(body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},
		// 处理服务情况数据
		dealServiceData(dataList) {
			if (dataList && dataList.length > 0) {

				dataList.forEach(item => {
					this.assignServiceData(item)
				})
			}
		},
		assignServiceData(data) {
			for (let index = 0; index < HomeDetailRxhyData.fwqk.length; index++) {
				let item = HomeDetailRxhyData.fwqk[index]
				if (item.name.indexOf(data.organization) !== -1) {
					// 转办量
					item.list[0].number = data.transferAmount
					// 紧急件
					item.list[1].number = data.emergency
					// 平均回复周期 str.trim(' ', 'right')  str.replace(/^(\s|")+|(\s|")+$/g, '');
					item.list[2].number = data.averageReplyTime.replace(/^(\s|天)+|(\s|天)+$/g, '')
				}
			}
		},


		// 加载重点关注 sjj_12345rxhy_zdgz
		loadFocusData() {
			const self = this
			// OU.api('sjj_12345rxhy_zdgz', {}).then(body => {
			// 	self.deawFocusEcharts(body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},
		// 绘制重点关注
		deawFocusEcharts(dataList) {
			let self = this
			if (this.chartzdgz) {
				this.chartbysqrdlx.dispose()
			}
			this.chartzdgz = echarts.init(this.$refs.refzdgz, null, { renderer: 'canvas' })
			const option = HomeDetailRxhyData.getzdgzchartoption(dataList)
			this.chartzdgz.setOption(option)
			this.chartzdgz.on('click', function (params) { })
		},



		// 加载近6月诉求趋势  sjj_12345rxhy_jlysqqs
		loadNearlyJuneData() {
			const self = this
			// OU.api('sjj_12345rxhy_jlysqqs', {}).then(body => {
			// 	self.drawNearlyJuneEcharts(body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},
		drawNearlyJuneEcharts(dataList) {
			let self = this
			if (this.chartqs1) {
				this.chartqs1.dispose()
			}
			this.chartqs1 = echarts.init(this.$refs.refjlysqqs, null, { renderer: 'canvas' })
			const option = HomeDetailRxhyData.getsqqschartoption(dataList)
			this.chartqs1.setOption(option)
			this.chartqs1.on('click', function (params) { })
		},



		// 加载本月诉求热点类型  sjj_12345rxhy_bysqrdlx
		loadCurMonthHotTypeData() {
			const self = this
			// OU.api('sjj_12345rxhy_bysqrdlx', {}).then(body => {
			// 	self.drawCurMonthHotTypeEcharts(body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},

		// 本月诉求热点类型
		drawCurMonthHotTypeEcharts(dataList) {
			let that = this
			if (this.chartbysqrdlx) {
				this.chartbysqrdlx.dispose()
			}
			this.chartbysqrdlx = echarts.init(this.$refs.refbysqrdlx, null, { renderer: 'canvas' })
			const option = HomeDetailRxhyData.getbysqrdlxchartoption(dataList)
			this.chartbysqrdlx.setOption(option)
			this.chartbysqrdlx.on('click', function (params) { })
		},

	}
}
</script>