<template>
<div class="main-right-jdsp">
  <common-title title="街道视频" :more="false"></common-title>
  <div class="jdsp-content">
    <div v-for="(item, index) in MainRightJdspData.spConfig" :key="index" class="jdsp-item">
      <img v-if="item.img" :src="item.img"/>
      <div class="title">{{item.name}}</div>
    </div>
  </div>
</div>
</template>
<style lang="less">
//less in here
.main-right-jdsp {
  width: 100%;
  height: 700px;
  overflow: hidden;

  .jdsp-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;

    .jdsp-item {
      position: relative;
      display:inline-flex;
      flex-direction: column;
      width: calc(50% - 10px);
      height: 300px;
      margin-right: 20px;
      margin-top: 20px;
      justify-content: center;
      align-items: flex-end;
      .card-bg();

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;
      }

      .title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: rgba(0,0,0,0.5);
        padding: 0 10px;
        .single-line();
      }
    }
  }
}

</style>
<script>
import CommonTitle from './CommonTitle'
import MainRightJdspData from './MainRightJdspData'

export default {
	data() {
		return {
			MainRightJdspData
		}
	},
	created() {
	},
	components: {
		CommonTitle
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {
	}
}
</script>