<template>
  <div class="main-left-ggaq">
    <!-- more -->
    <common-title title="公共安全"></common-title>
    <div
      class="openCloseIcon"
      :class="{ open: optype === 'fxyj' }"
      @click="handleOpenClose"
    >
      {{ openText }}
    </div>
    <div class="ggaq-content" :class="{ open: optype === 'fxyj' }">
      <div
        v-for="(item, index) in MainLeftGgaqTemp.data || []"
        :key="index"
        class="ggaq-content-item"
        @click="onclickswitch(item)"
      >
        <div class="title">
          <img :src="item.icon" />
          {{ item.name }}
        </div>
        <div class="item-content">
          <div class="slide" :style="{ left: item.xOff }">
            <div
              v-for="(cItem, cIdex) in item.list || []"
              :key="cIdex"
              class="item-content-item"
            >
              <GeneralPopover
                v-if="cItem.tips && cItem.tips.indexCalMethod"
                class="gggl-general-popover"
                :title="cItem.tips.indexCalMethod"
                :titlepl="cItem.tips.updateFrequency"
                :titlesjly="cItem.tips.dataSource"
                @onclick="onclickswitch(item)"
              ></GeneralPopover>
              <div class="name">{{ cItem.name }}</div>
              <div class="value">
                <GeneralCountFlop
                  :val="cItem.value"
                  :interval-open="false"
                  :itemWidth="12"
                  :height="19"
                ></GeneralCountFlop>
                <!-- {{cItem.value}} -->
                <!-- <p v-if="cItem.unit" class="unit">{{cItem.unit}}</p> -->
                <span v-if="cItem.unit" class="unit">{{ cItem.unit }}</span>
                <span
                  v-if="cItem.ratio > 0 || cItem.ratio < 0"
                  class="ratio"
                  :class="{ up: cItem.ratio > 0, down: cItem.ratio < 0 }"
                >
                  {{ cItem.ratio > 0 ? '+' + cItem.ratio : cItem.ratio }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="pages" v-if="item.pages > 1">
          <div
            class="page"
            v-for="p in item.pages"
            :class="{ chosen: p === item.chosen }"
            @click.stop="changePage(p, { item })"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="less">
//less in here
.main-left-ggaq {
  width: 100%;
  // height: 600px;
  margin-bottom: 20px;
  position: relative;

  .openCloseIcon {
    position: absolute;
    top: 28px;
    right: 10px;
    height: 30px;
    width: 70px;
    // background-image: url('/screen/1600385025259147265/展开.png');
    // background-size: contain;
    cursor: pointer;
    color: #00fffb;

    &.open {
      // background-image: url('/screen/1600385025259147265/收起.png');
    }
  }

  .count-flop {
    margin-top: 6px;
  }

  .gggl-general-popover {
    // top: 0;
  }

  .ggaq-content {
    transition: all 0.5s;
    height: 348px;
    overflow: hidden;

    &.open {
      height: 530px;
    }

    .ggaq-content-item {
      display: inline-block;
      margin-top: 20px;
      margin-right: 16px;
      width: 330px;
      height: 154px;
      vertical-align: top;
      border: 2px solid;
      border-image: linear-gradient(
          to bottom,
          rgba(12, 143, 243, 100),
          rgba(12, 143, 243, 100),
          RGBA(0, 0, 0, 0),
          RGBA(0, 0, 0, 0),
          RGBA(0, 0, 0, 0),
          RGBA(0, 0, 0, 0)
        )
        1;
      position: relative;
      .card-bg();

      &:hover {
        cursor: pointer;
        .miaobian();
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      .title {
        line-height: 50px;
        border-bottom: 2px solid;
        border-image: linear-gradient(
            to right,
            RGBA(0, 0, 0, 0),
            rgba(12, 143, 243, 100),
            rgba(12, 143, 243, 100),
            rgba(12, 143, 243, 100),
            RGBA(0, 0, 0, 0)
          )
          1;
        .font-big-four();
        .blue-num();

        // font-weight:500;
        // font-family: 'PingFang';
        img {
          margin-top: -6px;
          margin-left: -6px;
          vertical-align: middle;
        }
      }

      .item-content {
        position: relative;
        width: 330px;
        overflow-x: hidden;

        .slide {
          transition: all 1s ease;
          position: relative;
          height: 100%;
          display: flex;
          flex-wrap: nowrap;
        }

        // width: 100%;
        .item-content-item {
          // display: flex;
          // justify-content: center;
          min-width: 50%;
          // flex-wrap:wrap;
          // flex-direction: column;
          text-align: center;
          height: 103px;
          color: rgba(255, 255, 255, 0.6);
          border-right: 2px solid;
          border-image: linear-gradient(
              to bottom,
              RGBA(0, 0, 0, 0),
              rgba(0, 0, 0, 0),
              rgba(12, 143, 243, 100),
              rgba(12, 143, 243, 100),
              rgba(0, 0, 0, 0),
              RGBA(0, 0, 0, 0)
            )
            1;
          .font-small();

          &:last-child {
            border-right: none;
          }

          padding-top: 29px;

          .name {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px;
            line-height: 14px;
            height: 14px;
          }

          .value {
            margin-top: 10px;
            width: 100%;
            color: #ffffff;
            font-weight: 600;
            white-space: nowrap;
            line-height: 19px;
            font-size: 19px;
            height: 19px;

            .unit {
              color: rgba(255, 255, 255, 0.6);
              margin-left: 4px;
              font-size: 14px;
            }
          }

          .ratio {
            margin-left: 5px;
            position: relative;
            font-size: 14px;
            line-height: 16px;
            padding-left: 10px;
            overflow-x: visible;

            &.up {
              color: #ff2a00;
              background-image: url('@{imgUrl}上升.png');
              background-repeat: no-repeat;
              background-size: 10px 16px;
            }

            &.down {
              color: #1eff00;
              background-image: url('@{imgUrl}下降.png');
              background-repeat: no-repeat;
              background-size: 10px 16px;
            }
          }
        }
      }

      .pages {
        position: absolute;
        bottom: 2px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);

        .page {
          width: 36px;
          height: 4px;
          border-radius: 2px;
          margin-right: 4px;
          background-color: rgba(255, 255, 255, 0.48);

          &:hover {
            background-color: rgba(255, 255, 255, 0.8);
          }
        }

        .chosen {
          background-color: rgba(255, 255, 255);
        }
      }
    }
  }
}
</style>
<script>
import CommonTitle from './CommonTitle';
import MainLeftGgaqData from './MainLeftGgaqData';
import GeneralCountFlop from './GeneralCountFlop';
import GeneralPopover from './GeneralPopover';
import MainLeftGgaqTemp from './MainLeftGgaqTemp';
import GlobalData from './GlobalData';
export default {
  data() {
    return {
      MainLeftGgaqData,
      GeneralCountFlop,
      MainLeftGgaqTemp,
      GlobalData,
      optype: null,
      openText: '更多 >>'
    };
  },
  created() {},
  components: {
    CommonTitle,
    GeneralCountFlop,
    GeneralPopover
  },
  mounted() {
    // console.log('公共安全',MainLeftGgaqData.tzzbList)
    MainLeftGgaqTemp.loadData();
    this.handleData(MainLeftGgaqTemp.data);
    console.log('公共安全数据处理后', MainLeftGgaqTemp.data);
  },
  beforeDestroy() {},
  methods: {
    // 跳转处理
    onclickswitch(item) {
      item.src = 'ggaq';
      // 转特色场景
      if (item.code === 'spaq') {
        GlobalData.acticeScene = 'food';
        return;
      } else if (item.code === 'ywtb') {
        GlobalData.acticeScene = 'ywtb';
      }
      this.$emit('changePage', item);
      console.log('检查点击跳转项', item);
    },
    handleOpenClose() {
      this.optype === null ? (this.optype = 'fxyj') : (this.optype = null);
      this.optype === null
        ? (this.openText = '更多 >>')
        : (this.openText = '收起 <<');
    },
    changePage(p, tar) {
      // console.log(tar)
      tar.item.chosen = p;
      // this.$set(tar.item,'chosen',p);
      tar.item.xOff = '-' + (p - 1) * 330 + 'px';
      this.$nextTick(() => {
        this.$forceUpdate();
      });
    },
    handleData(data) {
      data.forEach(item => {
        if (item.list.length === 0) {
          return;
        }
        item.pages = Math.ceil(item.list.length / 2);
        item.chosen = 1;
        item.xOff = 0;
      });
      this.$nextTick(() => {
        this.$forceUpdate();
      });
    }
  }
};
</script>
