<template>
<div class="main-left-rdyq">
	<common-title title="近期安全相关热点舆情" type="small"></common-title>
  <div class="rdyq-content">
  	<div v-for="(item, index) in MainLeftRdyqData.rdyqList" :key="index" class="rdyq-content-row">
    	<div class="index">
        <img v-if="index === 0" :src="GlobalData.imgUrl + '热点舆情-排名1.png'">
        <img v-else-if="index === 1" :src="GlobalData.imgUrl + '热点舆情-排名2.png'">
        <img v-else-if="index === 2" :src="GlobalData.imgUrl + '热点舆情-排名3.png'">
        <div v-else>●</div>       
      </div>
      <div class="title">{{item.title}}</div>
      <div class="status" :class="{finished: item.status === '已处置'}">{{item.status}}</div>
    </div>
  </div>
</div>
</template>
<style lang="less">
//less in here
.main-left-rdyq {
  width: 100%;
  height: 320px;
  overflow: hidden;
  
  .rdyq-content {
     margin-top: 20px;
  
  	.rdyq-content-row {
		display: flex;
    	width: 100%;
    	line-height: 35px;
    	height: 35px;
   	 	margin-bottom: 14px;
    	background-color: rgba(0,187,255,0.1);
      	.font-mid-two();
	  
        &:hover {
          cursor: pointer;
          .miaobian();
        }
    
    	.index {
      	width: 48px;
      	text-align: center;
        
        img {
          margin-top: -9px;
        }
    	}
    
    	.title {
      	flex: 1;
      	width: 0;
      	.single-line();
    	}
    
    	.status {
      	width: 80px;
      	text-align: center;
        color: rgba(255, 104, 102, 1);
        
        &.finished {          
        	color: rgba(10, 250, 208, 1);
        }
    	}
  	}
  }
 
}

</style>
<script>
import CommonTitle from './CommonTitle'
import GlobalData from './GlobalData'
import MainLeftRdyqData from './MainLeftRdyqData'

export default {
	data() {
		return {
      GlobalData,
      MainLeftRdyqData
		}
	},
	created() {
	},
	components: {
    CommonTitle
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {
	}
}
</script>