<template>
  <div class="main-right-gggl">
    <common-title title="公共管理"></common-title>
    <div
      class="openCloseIcon"
      :class="{ open: optype === 'gggl' }"
      @click="handleOpenClose"
    >
      {{ openText }}
    </div>
    <div class="gggl-content" :class="{ open: optype === 'gggl' }">
      <div
        v-for="(item, index) in MainRightGgglData.ggglList"
        :key="index"
        class="gggl-content-row"
      >
        <div class="gggl-content-row-left">
          <img :src="item.icon" />
        </div>
        <div class="gggl-content-row-right">
          <div
            v-for="(lItem, lIdex) in item.list"
            :key="lIdex"
            class="right-item"
            :class="item.code"
            @click="onclickswitch(lItem, item)"
          >
            <div class="right-title">
              <div class="right-title-icon">
                <img :src="lItem.icon" />
              </div>
              <span class="right-title-text blue-num">{{ lItem.name }}</span>
              <!-- <span v-if="item.code !== 'hgjj' || lIdex !== 0" class="right-title-arrow">>>>></span> -->
            </div>
            <div class="right-item-content">
              <div
                v-for="(vItem, vIdx) in lItem.valueList"
                :key="vIdx"
                class="right-item-content-item"
              >
                <GeneralPopover
                  v-if="vItem.tips && vItem.tips.indexCalMethod"
                  class="gggl-general-popover"
                  :title="vItem.tips.indexCalMethod"
                  :titlepl="vItem.tips.updateFrequency"
                  :titlesjly="vItem.tips.dataSource"
                  @onclick="onclickswitch(lItem, item)"
                ></GeneralPopover>
                <div class="name">{{ vItem.name }}</div>
                <div class="value">
                  <GeneralCountFlop
                    :val="vItem.value"
                    :interval-open="false"
                    :itemWidth="22"
                  ></GeneralCountFlop>
                  <!-- {{vItem.value}} -->
                  <span v-if="vItem.unit" class="unit">{{ vItem.unit }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="less">
//less in here
.main-right-gggl {
  width: 100%;
  position: relative;

  .openCloseIcon {
    position: absolute;
    top: 28px;
    right: 10px;
    height: 30px;
    width: 70px;
    // background-image: url('/screen/1582192160439603201/展开.png');
    // background-size: contain;
    cursor: pointer;
    color: #00fffb;
    &.open {
      // background-image: url('/screen/1582192160439603201/收起.png');
    }
  }
  .count-flop {
    margin-top: 2px;
  }

  .general-popover {
    top: 0;
  }

  .gggl-content {
    margin-top: 10px;
    transition: all 0.5s;
    height: 300px;
    overflow: hidden;

    &.open {
      height: 580px;
    }

    .gggl-content-row {
      display: flex;
      width: 100%;
      margin-top: 20px;
      height: 90px;
      padding: 15px 25px;
      .card-bg();

      .gggl-content-row-left {
        width: 117px;
      }

      .gggl-content-row-right {
        display: flex;
        flex: 1;
        width: 0;

        .right-item {
          flex: 1;
          margin-left: 20px;

          &.hgjj {
            &:first-child {
              width: 200px;
              flex: none;
            }

            &:last-child {
              width: 200px;
              flex: none;
            }
          }

          .right-title {
            position: relative;
            background-image: linear-gradient(
              to right,
              RGBA(0, 0, 0, 0),
              rgba(0, 145, 254, 0.2)
            );
            height: 30px;
            line-height: 30px;
            padding-left: 20px;
            .font-big-four();
            white-space: nowrap;

            &-text {
              margin-left: 8px;
            }

            .right-title-arrow {
              background: linear-gradient(
                88deg,
                RGBA(0, 0, 0, 0),
                rgba(255, 255, 255, 100)
              );
              -webkit-background-clip: text;
              color: transparent;
              .font-big-four();
            }

            .right-title-icon {
              position: absolute;
              top: 0;
              // left: 0;
              right: 0;
            }
          }

          .right-item-content {
            display: flex;
            padding-left: 20px;

            .right-item-content-item {
              flex: 1;
              width: 0;
              cursor: pointer;
              position: relative;
              .name {
                font-size: 14px;
                height: 36px;
                line-height: 36px;
                white-space: nowrap;
                overflow: visible;
              }

              .value {
                height: 36px;
                line-height: 36px;
                .font-big-two();
                display: flex;
                // justify-content: center;
                // align-items: center;

                .unit {
                  margin-left: 4px;
                  color: rgba(255, 255, 255, 0.5);
                  .font-small();
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
<script>
import MainRightGgglData from './MainRightGgglData';
import CommonTitle from './CommonTitle';
import GeneralCountFlop from './GeneralCountFlop';
import GeneralPopover from './GeneralPopover';
export default {
  data() {
    return {
      MainRightGgglData,
      optype: null,
      openText: '更多 >>'
    };
  },
  created() {},
  components: {
    CommonTitle,
    GeneralCountFlop,
    GeneralPopover
  },
  mounted() {
    MainRightGgglData.loadData();
  },
  beforeDestroy() {},
  methods: {
    // 跳转处理
    onclickswitch(item, parent) {
      console.log('检查城市交通', parent.name);
      let data = {
        code: parent.code,
        name: parent.code === 'hgjj' ? parent.name : item.name,
        moudle: item.moudle
      };
      this.$emit('changePage', data);
    },
    handleOpenClose() {
      this.optype === null ? (this.optype = 'gggl') : (this.optype = null);
      this.optype === null
        ? (this.openText = '更多 >>')
        : (this.openText = '收起 <<');
    }
  }
};
</script>
