<template>
<div class="main-sxt-dialog">
  <div v-if="MainSxtDialogData.hlsList && MainSxtDialogData.hlsList.length > 0" class="main-content">
    <div class="close" @click="handleClose"></div>
    <div v-for="(row, index) in hlsList" :key="index" class="row">
      <div v-for="(item, idx) in row" :key="idx" class="cell">
        <GeneralHlsPlayer v-if="item && item.hls" :video-url="item.hls"></GeneralHlsPlayer>
      </div>
    </div>

    <div class="pages">
      <el-pagination @current-change="handleCurrentChange" :current-page.sync="pageInfo.currentPage"
        :page-size="pageInfo.pageSize" layout="total, prev, pager, next, jumper" :total="MainSxtDialogData.videoTotal">
      </el-pagination>
    </div>
  </div>


</div>
</template>
<style lang="less">
//less in here
.main-sxt-dialog {
    position: absolute;
    top: 0;
    left: 0;

    .main-content {
        position: fixed;
        z-index: 99999;
        top: 90px;
        left: 30px;
        width: 1240px;
        height: 980px;
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        .card-bg();

        .close {
            z-index: 99999;
        }

        .row {
            display: flex;
            width: 100%;
            margin-bottom: 10px;

            .cell {
                flex: 1;
                width: 0;
                height: 300px;
                margin-right: 10px;
                background: #000;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .pages {
            position: absolute;
            bottom: 10px;
            right: 0;

            ::v-deep .el-icon-more {
                color: #FFFFFF !important;
            }
        }
    }


}
</style>
<script>
import MainSxtDialogData from './MainSxtDialogData'
import GeneralHlsPlayer from './GeneralHlsPlayer'
import Bus from './Bus'
import SxtTool from './SxtTool'

export default {
	data() {
		return {
			MainSxtDialogData,
			pageInfo: {
				//当前页
				currentPage: 1,
				//每页条数
				pageSize: 9,
				//总条数
				total: MainSxtDialogData.hlsList.length,
			},
		}
	},
	created() {
	},
	components: {
		GeneralHlsPlayer
	},
	mounted() {
	},
	beforeDestroy() {
		//是否需要获取HLS
		MainSxtDialogData.needGetHls = 0
		MainSxtDialogData.hlsList = []
	},
	computed: {
		//视频列表
		hlsList() {
			const firstList = _.chunk(MainSxtDialogData.hlsList || [], 3)

			if (firstList.length > 1) {
				while (firstList[firstList.length - 1].length < 3) {
					firstList[firstList.length - 1].push({
						code: '',
						hls: ''
					})
				}
			}
			const list = _.chunk(firstList, 3)

			return list.length > 0 ? list[this.pageInfo.currentPage - 1] : []
		}
	},
	watch: {
		'MainSxtDialogData.videoTotal'(val) {
			//更新HLS
			const hlsList = this.hlsList || []
			hlsList.forEach(i => {
				i.forEach(item => {
					if (!i.hls) {
						SxtTool.getHls(item.code).then(data => {
							item.hls = data.url
						})
					}
				})
			})
		}
	},
	methods: {
		//关闭
		handleClose() {
			MainSxtDialogData.hlsList = []
			Bus.$emit('MapBottomCenterOptClost', 'sxt')
		},
		/**
		 * 页面切换
		 */
		handleCurrentChange(page) {
			//处理之前的HLS
			this.hlsList.forEach(i => {
				i.forEach(item => {
					item.hls = null
				})
			})
			this.pageInfo.currentPage = page

			//更新HLS
			this.hlsList.forEach(i => {
				i.forEach(item => {
					SxtTool.getHls(item.code).then(data => {
						item.hls = data.url
					})
				})
			})
		},
	}
}
</script>