<template>
  <div class="main-event-info">
    <common-title title="基本信息"></common-title>
    <div class="content">
      <!-- 统计信息 -->
      <!-- <div class="dwtj">
            <div v-for="(item, index) in MainEventInfoData.dwtjConfigList" :key="index" class="dwtj-item">
                <div class="dwtj-item-content">
                    <div class="name"><img :src="item.icon" />{{item.name}}</div>
                    <div class="value">{{item.value}}<span>{{item.unit}}</span></div>
                </div>
            </div>
        </div> -->
      <!-- 事件简介 -->
      <!-- <div class="sjjj">
            <div class="title">
                <div class="left"><img :src="GlobalData.imgUrl + '事件简介-标题.png'" /> </div>
                <div class="right">
                    <div class="btn" @click="handleMoreEvent">其他事件</div>
                </div>
            </div>
            <div class="sjjj-content"> {{MainEventInfoData.eventInfo.eventDesc}}</div>
        </div> -->
      <!-- 事件涉及部门/类似事件 -->
      <!-- <div class="sjbm-lssj">
            <div class="sjbm-lssj-item">
                <div class="title"><img :src="GlobalData.imgUrl + '事件涉及部门-标题.png'"/></div>
                <div class="sjbm-lssj-item-content">
                    <el-table ref="refTable" :data="MainEventInfoData.eventInfo.depList" stripe border>
                        <el-table-column type="index" :index="indexMethod" label="序号" width="60" align="center">
                        </el-table-column>
                        <el-table-column prop="handleDept" :index="indexMethod" label="部门名称" align="center">
                        </el-table-column>
                        <el-table-column prop="actionName" :index="indexMethod" label="处置情况" align="center">
                            <template slot-scope="scope">
                                <span :class="actionClass(scope.row)">{{ scope.row.actionName }}</span>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div> -->
      <!-- <div class="sjbm-lssj-item">
                <div class="title"><img :src="GlobalData.imgUrl + '类似事件-标题.png'"/></div>
                <div class="sjbm-lssj-item-content">
                </div>
            </div> -->
      <!-- </div> -->

      <!-- 事件跟踪 -->
      <div class="sjgz">
        <div class="title">
          <img :src="GlobalData.imgUrl + '事件详情-事件进展跟踪.png'" />
        </div>
        <div class="sjgz-content">
          <div
            class="sjgz-item"
            v-for="(item, index) in MainEventInfoData.sjgzData"
            :key="index"
          >
            <img :src="formatIcon(item, index)" />
            <div class="sjgz-item-bottom">
              <div class="bottom-content">{{ item.content }}</div>
              <div class="state" :class="formatStateClass(item.state)">
                {{ item.state }}
              </div>
              <div class="time">{{ item.time }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- 事件基本情况 -->
      <div class="sjjbqk">
        <div class="title">
          <div class="left">
            <img :src="GlobalData.imgUrl + '事件详情-事件详情看板.png'" />
          </div>
          <div class="right">
            <div class="btn" @click="handleMoreEvent">其他事件</div>
          </div>
        </div>
        <div class="sjjbqk-content">
          <div
            class="sjjbqk-item"
            v-for="(item, index) in sjjbqkData"
            :key="index"
          >
            <div class="title">{{ item.title }}</div>
            <div
              class="content-item"
              v-for="(item1, index) in item.sjjbqkItem"
              :key="index"
            >
              {{ item1.name
              }}<span :class="item1.name == '紧急程度： ' ? 'jjcdClass' : ''">{{
                MainEventInfoData.eventInfo.eventData[item1.content]
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- 现场信息 -->
      <div class="xcxx">
        <div class="title">
          <img :src="GlobalData.imgUrl + '事件详情-现场信息.png'" />
        </div>
        <!-- <div class="screen">
                <div class="screen-item" v-for="(item,index) in screen" :key="index"
                    :class="screenType == item.type?'screen-bg':''" @click="clickScreen(item.type)">{{item.name}}</div>
            </div> -->
        <div class="xcxx-content">
          <div class="xcxx-item" v-for="(item, index) in xcxxData" :key="index">
            <div class="item-title">{{ item.name }}</div>
            <template v-if="item.fileList.length > 0">
              <el-image
                v-if="item.fileType == 'image/png'"
                style="width: 100%; height: 200px"
                :src="item.showFile"
                :preview-src-list="item.fileList"
              >
              </el-image>
              <div v-else class="file" @click="clickFile(item.showFile)">
                <img :src="GlobalData.imgUrl + '默认图.png'" />
                <div class="file-title">
                  {{ item.fileName }}
                </div>
              </div>
            </template>
            <div v-else class="item-empty"><span> 暂无内容</span></div>
          </div>
        </div>
      </div>
    </div>

    <!-- 处置进程 -->
    <main-event-info-process></main-event-info-process>
  </div>
</template>
<style lang="less">
//less in here
.main-event-info {
  position: relative;

  .start {
    color: rgba(46, 255, 228, 1);
  }

  .dealing {
    color: rgba(237, 178, 35, 1);
  }

  .finish {
    color: rgba(83, 215, 87, 1);
  }

  .content {
    margin-top: 10px;
    height: 854px;
    padding: 20px;
    .card-bg();

    .dwtj {
      display: flex;
      .font-mid-two();

      .dwtj-item {
        flex: 1;

        &:last-child {
          text-align: right;
        }

        .dwtj-item-content {
          background-image: url("@{imgUrl}事件相关市属单位-底框.png");
          width: 330px;
          height: 48px;
          display: inline-flex;
          line-height: 48px;
          padding: 0 20px;

          .name {
            flex: 1;
            width: 0;
            text-align: left;

            img {
              width: 26px;
              height: 26px;
              vertical-align: middle;
              margin-right: 10px;
            }
          }

          .value {
            width: 60px;
            text-align: right;
          }
        }
      }
    }

    .sjjj {
      margin-top: 30px;

      .title {
        display: flex;

        .left {
          flex: 1;
          img {
            // width: 237px;
            height: 26px;
          }
        }
        .right {
          flex: 1;
          text-align: right;

          .btn {
            display: inline-block;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.08);
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            .miaobian();
          }
        }
      }

      .sjjj-content {
        height: 320px;
        border-radius: 10px;
        margin-top: 10px;
        padding: 10px;
        line-height: 30px;
        .font-normal();
        .card-two-bg();
      }
    }

    .sjbm-lssj {
      margin-top: 30px;
      display: flex;

      .sjbm-lssj-item {
        flex: 1;

        &:first-child {
          margin-right: 10px;
        }

        &:last-child {
          margin-left: 10px;
        }

        .title {
          img {
            // width: 237px;
            height: 26px;
          }
        }

        .sjbm-lssj-item-content {
          height: 310px;
          margin-top: 10px;
          border-radius: 10px;
          .card-two-bg();
        }
      }
    }

    // 事件跟踪
    .sjgz {
      .sjgz-content {
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;

        .sjgz-item {
          width: 25%;
          height: 125px;
          border-top: 1px dashed rgba(0, 228, 255, 0.3);
          padding-top: 27px;
          margin-right: 10px;
          position: relative;

          &:nth-child(4) {
            margin-right: 0;
          }

          img {
            width: 30px;
            height: 30px;
            position: absolute;
            top: -15px;
            left: 0;
          }

          .sjgz-item-bottom {
            width: 230px;
            height: 96px;
            border-radius: 10px 10px 10px 10px;
            background: rgba(0, 25, 52, 0.5);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            .bottom-content {
              font-size: 20px;
            }

            .state {
              height: 20px;
              padding: 0 10px;
              line-height: 20px;
              position: absolute;
              top: 20px;
              right: 20px;
              font-size: 16px;
              text-align: center;
              background-color: rgba(22, 255, 104, 0.2);
              color: #16ff68;
            }

            .start1 {
              background-color: rgba(0, 228, 255, 0.2);
              color: #00e4ff;
            }
            .start2 {
              background-color: rgba(153, 153, 153, 0.2);
              color: #fff;
            }

            .time {
              font-size: 16px;
            }
          }
        }
      }
    }

    // 事件
    .sjjbqk {
      .title {
        display: flex;

        .left {
          flex: 1;
          img {
            // width: 237px;
            height: 26px;
          }
        }
        .right {
          flex: 1;
          text-align: right;

          .btn {
            display: inline-block;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.08);
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            .miaobian();
          }
        }
      }

      .sjjbqk-content {
        width: 100%;
        height: 320px;
        display: flex;
        justify-content: space-between;

        .sjjbqk-item {
          width: 49%;
          height: 310px;
          border-radius: 10px 10px 10px 10px;
          background: rgba(0, 25, 52, 0.2);
          padding: 30px 20px 0;
          display: flex;
          flex-direction: column;

          .title {
            width: 100%;
            height: 24px;
            line-height: 24px;
            border-radius: 10px 10px 0 0;
            background: #001934;
            font-size: 20px;
            .blue-num();
          }

          .content-item {
            width: 100%;
            font-size: 16px;
            margin-top: 3px;
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .jjcdClass {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            padding: 0 10px;
            color: #ff4b2d;
            background: rgba(255, 75, 45, 0.2);
          }
        }
      }
    }

    // 现场信息
    .xcxx {
      margin-top: 10px;
      position: relative;

      .screen {
        position: absolute;
        top: -3px;
        right: 0;
        display: flex;
        justify-content: flex-end;

        .screen-item {
          width: 81px;
          height: 31px;
          margin-left: 10px;
          color: #999999;
          line-height: 31px;
          text-align: center;
          background-image: url("@{imgUrl}tab-未选中.png");
          background-position: center center;
          background-repeat: no-repeat;
          cursor: pointer;
        }

        .screen-bg {
          color: #fff;
          background-image: url("@{imgUrl}tab-选中.png");
        }
      }

      .xcxx-content {
        width: 100%;
        height: 225px;
        line-height: 225px;
        text-align: center;
        display: flex;
        justify-content: space-between;

        span {
          display: inline-block;
          width: 100%;
          height: 225px;
          line-height: 225px;
          text-align: center;
        }

        .xcxx-item {
          width: 32%;
          height: 200px;
          border-radius: 10px 10px 10px 10px;
          margin-top: 10px;
          overflow: hidden;
          //  background-color: #001934;
          cursor: pointer;

          .item-title {
            height: 30px;
            line-height: 30px;
            text-align: left;
            padding: 0 10px;
          }

          .item-empty {
            background-color: #001934;
            width: 100%;
            height: calc(100% - 30px);
          }

          .file {
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            img {
              width: 115px;
              height: 104px;
            }

            .file-title {
              width: 100%;
              height: 40px;
              line-height: 40px;
              border-radius: 10px 10px 10px 10px;
              background: rgba(26, 80, 139, 0.3);
              .font-normal();
              color: #9dc1e1;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}
</style>
<script>
import CommonTitle from "./CommonTitle";
import GlobalData from "./GlobalData";
import MainEventInfoData from "./MainEventInfoData";
import MainEventInfoProcess from "./MainEventInfoProcess";
import Bus from "./Bus";

export default {
  data() {
    return {
      GlobalData,
      MainEventInfoData,
      sjjbqkData: [
        {
          title: "事件属性",
          sjjbqkItem: [
            {
              name: "问题大类： ",
              content: "mainType",
            },
            {
              name: "所属小类： ",
              content: "subTypeName",
            },
            {
              name: "紧急程度： ",
              content: "eventLevelName",
            },
            {
              name: "相关执法依据： ",
              content: "basis",
            },
            {
              name: "受理条件： ",
              content: "startCondition",
            },
            {
              name: "办结条件： ",
              content: "endCondition",
            },
            {},
          ],
        },
        {
          title: "事件信息",
          sjjbqkItem: [
            {
              name: "问题描述： ",
              content: "eventDesc",
            },
            {
              name: "上报时间： ",
              content: "reportTime",
            },
            {
              name: "上报人： ",
              content: "reporter",
            },
            {
              name: "上报人联系方式：",
              content: "reporterPhone",
            },
            {
              name: "事件来源： ",
              content: "appChannelName",
            },
            {
              name: "事件编号： ",
              content: "otherTaskNum",
            },
            {
              name: "任务编号： ",
              content: "taskNumber",
            },
          ],
        },
      ],
      screen: [
        {
          type: "czq",
          name: "处置前",
        },
        {
          type: "czh",
          name: "处置后",
        },
        {
          type: "hc",
          name: "核查",
        },
      ],
      screenType: "czq",
      xcxxAllData: {},
      xcxxData: [],
    };
  },
  created() {},
  components: {
    CommonTitle,
    MainEventInfoProcess,
  },
  mounted() {
    this.init();
  },
  watch: {
    "GlobalData.eventInfo": {
      deep: true,
      handler(val) {
        this.init();
      },
    },
  },
  beforeDestroy() {},
  computed: {
    /**
     * action样式
     */
    actionClass() {
      return function (item) {
        switch (item.action) {
          case "report": //上报
          case "sign": //签收
            return "start";
          case "accept": //受理
          case "distribute": //派遣
            return "dealing";
          case "finish_after_check": //办结
          case "finish": //办结
          case "finish_apply": //申请办结
            return "finish";
          default:
            return "dealing";
        }
        return "dealing";
      };
    },
  },
  methods: {
    init() {
      if (!GlobalData.eventInfo) {
        return;
      }
      const id = GlobalData.eventInfo.id;
      const reportTime = GlobalData.eventInfo.reportTime;
      //事件详情
      MainEventInfoData.loadEventInfo(id, reportTime);
      //详情-查询事件主流程
      //详情-查询事件主流程下的处置信息
      MainEventInfoData.loadEventProcess(id, reportTime);
      // 详情-现场信息
      MainEventInfoData.loadEventMediaInfo(id, reportTime).then((res) => {
        const data = res || {};

        const xcxxData = [
          this.packFileInfo("处置前", "beforeHandle", data.beforeHandle || []),
          this.packFileInfo("处置后", "afterHandle", data.afterHandle || []),
          this.packFileInfo("核查", "check", data.check || []),
        ];
        this.xcxxData = xcxxData;
      });
    },
    /**
     * 组装文件地址
     */
    packFileInfo(name, code, list) {
      const data = {
        name,
        code,
        showFile: null,
        fileType: null,
        fileList: [],
      };
      if (list) {
        list = list.map((i) => {
          i.fileUrl = GlobalData.sjzsBaseUrl + i.fileUrl;

          return i;
        });
      } else {
        list = [];
      }
      data.showFile = list.length > 0 ? list[0].fileUrl : null;
      data.fileType = list.length > 0 ? list[0].fileType : null;
      data.fileName = list.length > 0 ? list[0].fileName : null;
      data.fileList = list.map((i) => i.fileUrl);

      return data;
    },
    /**
     * 其他事件
     */
    handleMoreEvent() {
      Bus.$emit("showEventList", { eventTypeCode: null });
    },
    /**
     * 序号
     */
    indexMethod(index) {
      return index + 1;
    },
    // 切换菜单
    clickScreen(item) {
      this.screenType = item;
      const data = this.xcxxAllData;
      if (this.screenType == "czh") {
        if (data.afterHandle) {
          this.xcxxData = data.afterHandle || [];
        }
      }
      if (this.screenType == "czq") {
        if (data.beforeHandle) {
          this.xcxxData = data.beforeHandle || [];
        }
      }
      if (this.screenType == "hc") {
        if (data.check) {
          this.xcxxData = data.check || [];
        }
      }
      this.xcxxData.forEach((i) => {
        i.srcList = [GlobalData.sjzsBaseUrl + i.fileUrl];
      });
    },
    // 下载文件
    clickFile(url) {
      /**打开新标签页 */
      window.open(url);
      // window.location.href = GlobalData.sjzsBaseUrl + url
    },
    // 修改状态的颜色
    formatStateClass(item) {
      switch (item) {
        case "进行中":
          return "start1";
        case "未开始":
          return "start2";
      }
    },
    // 修改图标
    formatIcon(item, index) {
      const number = index + 1;
      if (item.state == "未开始") {
        return GlobalData.imgUrl + "事件跟踪-数字-灰色-" + number + ".png";
      }
      if (item.state == "进行中") {
        return GlobalData.imgUrl + "事件跟踪-数字-蓝色-" + number + ".png";
      }
      if (item.state == "完成") {
        return GlobalData.imgUrl + "事件跟踪-数字-绿色-" + number + ".png";
      }
    },
  },
};
</script>
