<template>
	<div class="main-right">
		<!-- 公共安全  -->
		<main-left-ggaq @changePage="(...data) => handleChangePage('公共安全', ...data)"></main-left-ggaq>
		<!-- 公共管理 -->
		<main-right-gggl @changePage="(...data) => handleChangePage('公共管理', ...data)"></main-right-gggl>
		<!-- 公共服务 -->
		<main-right-ggfw @changePage="(...data) => handleChangePage('公共服务', ...data)"></main-right-ggfw>
		<!-- 街道视频 -->
		<!-- <main-right-jdsp></main-right-jdsp> -->
		<transition enter-active-class="animated slideInRight" leave-active-class="animated slideOutRight">
			<home-dialog v-if="activeDialogTitle" :title="activeDialogTitle" :name="name" :type="type" :moudle="moudle"
				@close="pageDialogClose">
			</home-dialog>
		</transition>
	</div>
</template>
<style lang="less">
//scss in here
.main-right {
	position: absolute;
	top: 90px;
	right: 30px;
	width: 1040px;
	height: 1320px;
	overflow-y: scroll;
	::v-deep ::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}
}
</style>
<script>
import MainRightGggl from './MainRightGggl'
import MainRightGgfw from './MainRightGgfw'
import MainRightJdsp from './MainRightJdsp'
import MainLeftGgaq from './MainLeftGgaq'
import HomeDialog from './HomeDialog'

export default {
	data() {
		return {
			activeDialogTitle: null,
			name: '',
			type: '',
			moudle: ''
		}
	},
	created() {
	},
	components: {
		MainRightGggl,
		MainRightGgfw,
		MainRightJdsp,
		MainLeftGgaq,
		HomeDialog
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {
		pageDialogClose() {
			this.activeDialogTitle = null
		},

		//二级页面弹出
		handleChangePage(type, item) {
			// if (item.name === '社会治理') return
			// this.activeDialogTitle = item.code
			// this.name = item.name
			// this.type = type
			// this.moudle = item.moudle
			// console.info('type:', type, '\t item:', item)
		},
	}
}
</script>