<template>
<div class="main-left-fxyj">
  <div class="fxyj-content">
    <div v-for="(item, index) in MainLeftFxyjData.fxyjList" :key="index" class="fxyj-content-item">
      <template v-if="item.type === 'aqi'">
        <div class="title aqi-title">{{item.name}}</div>
        <div class="aqi" :class="item.color">
          <GeneralCountFlop :val="item.aqi" :fontColorClass="item.color" :interval-open="true"></GeneralCountFlop>
          <!-- {{item.aqi}} -->
        </div>
        <div>AQI <span :class="item.color">{{item.aqiDesc}}</span></div>
      </template>
      <template v-else>
        <div class="title"><img :src="item.icon" />{{item.name}}</div>
        <div v-for="(citem, cidx) in (item.list || [])" class="fxyj-content-item-children">
          <div class="children-item-name">{{citem.name}}</div>
          <div class="children-item-value">
            <GeneralCountFlop :val="citem.value" :itemWidth="16" :interval-open="true"></GeneralCountFlop>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
</template>
<style lang="less">
.main-left-fxyj {
  position: relative;
	width: 1029px;
  height: 130px;
  margin-bottom: 20px;
  margin-left: 12px;
  background-image: url('@{imgUrl}风险预警icon和底框.png');
  
  .fxyj-content {
    position: absolute;
    display: flex;
    width: calc(100% - 130px);
    top: 0;
    left: 130px;
    text-align:center;
    
    .fxyj-content-item {
      flex: 1;
      width: 0;
      margin-right: 60px;

      .title {
        line-height: 42px;
        font-weight: bold;
        text-align: left;
        .font-big-four();
        
        &.aqi-title {
          text-align: center;
        }
        
        img {
          vertical-align: middle;
          margin-right: 10px;
        }
      }
      
      .aqi {
        font-size: 30px;
        font-weight: bold;
      }
      
      .fxyj-content-item-children {
        display: flex;
        width: 100%;
        font-size: 16px;
        line-height: 28px;
        height: 28px;
        margin-bottom: 5px;
        margin-top: 10px;

        &:hover {
          cursor: pointer;
          .miaobian();
        }
        
        .children-item-name {
          flex: 1;
          width: 0;
          margin-right: 4px;
          background-color: rgba(0,187,255,0.1);
        }
        
        .children-item-value {
          width: 54px;
          background-color: rgba(0,187,255,0.1);
        }
      }
    }
  }
}
</style>
<script>
import MainLeftFxyjData from './MainLeftFxyjData'
import GeneralCountFlop from './GeneralCountFlop'
import GlobalData from './GlobalData'

export default {
	data() {
		return {
			GlobalData,
			MainLeftFxyjData
		}
	},
	created() {
		this.loadKqzlData()
	},
	components: {
		GeneralCountFlop
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {
		// 加载空气质量
		loadKqzlData() {
			const self = this
			let street = this.GlobalData.street
			let reg1 = new RegExp("街道");
			let reg2 = new RegExp("镇");
			street = street.replace(reg1, "");
			street = street.replace(reg2, "");
			const param = {
				street: street,
			}
			// OU.api('sjj_1orgre6rh00_jd_sy_kqzl', param).then(body => {
			// 	self.MainLeftFxyjData.fxyjList[0].aqi = body[0].aqi
			// 	self.MainLeftFxyjData.fxyjList[0].aqiDesc = body[0].空气质量状况
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},
	}
}
</script>