<template>
  <div class="main-right-ggfw">
    <!-- more -->
    <common-title title="公共服务"></common-title>
    <div
      class="openCloseIcon"
      :class="{ open: optype === 'ggfw' }"
      @click="handleOpenClose"
    >
      {{ openText }}
    </div>
    <div class="ggfw-content" :class="{ open: optype === 'ggfw' }">
      <div
        v-for="(item, index) in MainRightGgfwTemp.data || []"
        :key="index"
        class="ggfw-content-item"
        @click="onclickswitch(item)"
      >
        <div class="title">
          <img :src="item.icon" />
          {{ item.name }}
        </div>
        <div class="item-content">
          <div class="slide" :style="{ left: item.xOff }">
            <div
              v-for="(cItem, cIdex) in item.list || []"
              :key="cIdex"
              class="item-content-item"
            >
              <GeneralPopover
                v-if="cItem.tips && cItem.tips.indexCalMethod"
                class="gggl-general-popover"
                :title="cItem.tips.indexCalMethod"
                :titlepl="cItem.tips.updateFrequency"
                :titlesjly="cItem.tips.dataSource"
                @onclick="onclickswitch(item)"
              ></GeneralPopover>
              <div class="name">{{ cItem.name }}</div>
              <div class="value">
                <GeneralCountFlop
                  :val="cItem.value"
                  :interval-open="false"
                  :itemWidth="12"
                  :height="19"
                ></GeneralCountFlop>
                <!-- {{cItem.value}} -->
                <span v-if="cItem.unit" class="unit">{{ cItem.unit }}</span>
                <span
                  v-if="cItem.ratio > 0 || cItem.ratio < 0"
                  class="ratio"
                  :class="{ up: cItem.ratio > 0, down: cItem.ratio < 0 }"
                >
                  {{ cItem.ratio > 0 ? "+" + cItem.ratio : cItem.ratio }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="pages" v-if="item.pages > 1">
          <div
            class="page"
            v-for="(p, index) in item.pages"
            :key="index"
            :class="{ chosen: p === item.chosen }"
            @click.stop="changePage(p, { item })"
          ></div>
        </div>
      </div>
      <!-- <div class="ggfw-bottom">
        <div class="ggfw-content-item">
          <div class="graph-title">12345热点问题</div>
          <div class="echarts-title">本月热点诉求</div>
          <div class="echarts-info rdwt12345">
            <div class="echarts-info-height" ref="refByrdsq"></div>
            <common-echarts ref="refByrdsq"></common-echarts>
          </div>
        </div>
        <div class="ggfw-content-item">
          <div class="graph-title">一件通</div>
          <div class="echarts-title">近六月办件情况</div>
          <div class="echarts-info">
            <common-echarts ref="refJlybjqk"></common-echarts>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>
<style lang="less">
//less in here

.main-right-ggfw {
  width: 100%;
  position: relative;

  .openCloseIcon {
    position: absolute;
    top: 28px;
    right: 10px;
    height: 30px;
    width: 70px;
    // background-image: url('/screen/1582192160439603201/展开.png');
    // background-size: contain;
    cursor: pointer;
    color: #00fffb;

    &.open {
      // background-image: url('/screen/1582192160439603201/收起.png');
    }
  }

  .count-flop {
    margin-top: 9px;
  }

  .ggfw-content {
    height: 420px;
    transition: all 0.5s;
    overflow: hidden;

    &.open {
      height: 638px;
    }

    .ggfw-content-item {
      display: inline-block;
      margin-top: 10px;
      margin-right: 18px;
      width: 330px;
      height: 200px;
      vertical-align: top;
      border: 2px solid;
      border-image: linear-gradient(
          to bottom,
          rgba(12, 143, 243, 100),
          rgba(12, 143, 243, 100),
          RGBA(0, 0, 0, 0),
          RGBA(0, 0, 0, 0),
          RGBA(0, 0, 0, 0),
          RGBA(0, 0, 0, 0)
        )
        1;
      position: relative;
      .card-bg();

      &:hover {
        cursor: pointer;
        .miaobian();
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      .title {
        line-height: 80px;
        border-bottom: 2px solid;
        border-image: linear-gradient(
            to right,
            RGBA(0, 0, 0, 0),
            rgba(12, 143, 243, 100),
            rgba(12, 143, 243, 100),
            rgba(12, 143, 243, 100),
            RGBA(0, 0, 0, 0)
          )
          1;
        .font-big-four();
        .blue-num();

        // font-weight:500;
        // font-family: 'PingFang';
        img {
          // margin-top: 17px;
          margin-left: 7px;
          vertical-align: middle;
          margin-right: 10px;
        }
      }

      .item-content {
        position: relative;
        width: 330px;
        overflow-x: hidden;

        .slide {
          transition: all 1s ease;
          position: relative;
          height: 100%;
          display: flex;
          flex-wrap: nowrap;
        }

        .item-content-item {
          position: relative;
          // display: flex;
          // justify-content: center;
          min-width: 50%;
          // flex-wrap:wrap;
          // flex-direction: column;
          text-align: center;
          height: 103px;
          color: rgba(255, 255, 255, 0.6);
          border-right: 2px solid;
          border-image: linear-gradient(
              to bottom,
              RGBA(0, 0, 0, 0),
              rgba(0, 0, 0, 0),
              rgba(12, 143, 243, 100),
              rgba(12, 143, 243, 100),
              rgba(0, 0, 0, 0),
              RGBA(0, 0, 0, 0)
            )
            1;
          .font-small();

          &:last-child {
            border-right: none;
          }

          padding-top: 29px;

          .name {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px;
            line-height: 14px;
            height: 14px;
          }

          .value {
            margin-top: 10px;
            width: 100%;
            color: #ffffff;
            font-weight: 600;
            white-space: nowrap;
            line-height: 19px;
            font-size: 19px;
            height: 19px;

            .unit {
              color: rgba(255, 255, 255, 0.6);
              margin-left: 4px;
              font-size: 14px;
            }
          }

          .ratio {
            margin-left: 5px;
            position: relative;
            font-size: 14px;
            line-height: 16px;
            padding-left: 10px;
            overflow-x: visible;

            &.up {
              color: #ff2a00;
              background-image: url("@{imgUrl}上升.png");
              background-repeat: no-repeat;
              background-size: 10px 16px;
            }

            &.down {
              color: #1eff00;
              background-image: url("@{imgUrl}下降.png");
              background-repeat: no-repeat;
              background-size: 10px 16px;
            }
          }
        }
      }

      .pages {
        position: absolute;
        bottom: 4px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);

        .page {
          width: 36px;
          height: 4px;
          border-radius: 2px;
          margin-right: 4px;
          background-color: rgba(255, 255, 255, 0.48);

          &:hover {
            background-color: rgba(255, 255, 255, 0.8);
          }
        }

        .chosen {
          background-color: rgba(255, 255, 255);
        }
      }
    }

    .echarts-info-height {
      width: 100%;
      height: 140px;
    }

    .ggfw-bottom {
      display: flex;

      .ggfw-content-item {
        position: relative;
        flex: 1;
        width: 330px;
        height: 190px;

        &:nth-child(2n) {
          margin-right: 0;
        }

        .title {
          border-bottom: none;
        }

        .echarts-title {
          position: absolute;
          top: 10px;
          right: 20px;
          .font-mid-one();
        }

        .echarts-info {
          width: 100%;
          height: 134px;

          &.rdwt12345 {
            padding: 0 40px;
          }
        }
      }
    }
  }

  .graph-title {
    line-height: 40px;
    margin-left: 22px;
    // border-bottom: 2px solid;
    // border-image: linear-gradient(to right, RGBA(0, 0, 0, 0), rgba(12, 143, 243, 100), rgba(12, 143, 243, 100), rgba(12, 143, 243, 100), RGBA(0, 0, 0, 0)) 1;
    // // .font-big-four();
    .blue-num();
    font-size: 26px;
    font-weight: 700;

    img {
      margin-top: -6px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}
</style>
<script>
import MainRightGgfwData from "./MainRightGgfwData";
import CommonTitle from "./CommonTitle";
import CommonEcharts from "./CommonEcharts";
import GeneralCountFlop from "./GeneralCountFlop";
import GeneralPopover from "./GeneralPopover";
import MainRightGgfwTemp from "./MainRightGgfwTemp";
import GlobalData from "./GlobalData";
export default {
  data() {
    return {
      GlobalData,
      MainRightGgfwData,
      wordCloud: null,
      optype: null,
      MainRightGgfwTemp,
      openText: "更多 >>",
    };
  },
  created() {},
  components: {
    CommonTitle,
    CommonEcharts,
    GeneralCountFlop,
    GeneralPopover,
  },
  watch: {
    // 'MainRightGgfwData.rdwt12345Cinfig': {
    //   deep: true,
    //   handler: function () {
    //     //12345热点问题 rdwt12345Cinfig
    //     // this.$refs.refByrdsq.setPieOption(MainRightGgfwData.rdwtConfig, MainRightGgfwData.rdwt12345Data)
    //     this.drawWorlCloud();
    //   }
    // },
    // 'MainRightGgfwData.rdwt12345Data': {
    //   deep: true,
    //   handler: function () {
    //     //12345热点问题 rdwt12345Cinfig
    //     // this.$refs.refByrdsq.setPieOption(MainRightGgfwData.rdwtConfig, MainRightGgfwData.rdwt12345Data)
    //     this.drawWorlCloud();
    //   }
    // },
    // 'MainRightGgfwData.ywtbConfig': {
    //   deep: true,
    //   handler: function () {
    //     //一网通办
    //     this.$refs.refJlybjqk.setLineOption(
    //       MainRightGgfwData.ywtbConfig,
    //       MainRightGgfwData.ywtbData
    //     );
    //   }
    // },
    // 'MainRightGgfwData.ywtbData': {
    //   deep: true,
    //   handler: function () {
    //     //一网通办
    //     this.$refs.refJlybjqk.setLineOption(
    //       MainRightGgfwData.ywtbConfig,
    //       MainRightGgfwData.ywtbData
    //     );
    //   }
    // }
  },
  mounted() {
    MainRightGgfwTemp.loadData();
    // this.updateEcharts();
    this.handleData(MainRightGgfwTemp.data);
    console.log("ggfw处理后数据", MainRightGgfwTemp.data);
  },
  beforeDestroy() {},
  methods: {
    //更新图表
    updateEcharts() {
      //12345热点问题 rdwt12345Cinfig
      // this.$refs.refByrdsq.setPieOption(MainRightGgfwData.rdwtConfig, MainRightGgfwData.rdwt12345Data)
      this.drawWorlCloud();
      //一网通办
      MainRightGgfwData.ywtbConfig.areaStyle.normal.color =
        new echarts.graphic.LinearGradient(
          0,
          0,
          0,
          1,
          [
            {
              offset: 0,
              color: "rgba(41,241,250,0.6)",
            },
            {
              offset: 1,
              color: "rgba(0,0,0, 0)",
            },
          ],
          false
        );
      console.log("捕获图标option方法", MainRightGgfwData.ywtbConfig);
      this.$refs.refJlybjqk.setLineOption(
        MainRightGgfwData.ywtbConfig,
        MainRightGgfwData.ywtbData
      );
    },

    // 绘制词云 库
    drawWorlCloud() {
      if (MainRightGgfwData.rdwt12345Data.length <= 0) {
        return;
      }

      console.info("绘制词云：", MainRightGgfwData.rdwt12345Data);
      if (this.wordCloud) {
        this.wordCloud.dispose();
      }
      this.wordCloud = echarts.init(this.$refs.refByrdsq, null, {
        renderer: "canvas",
      });
      const option = MainRightGgfwData.rdwt12345WordCloudConfig(
        MainRightGgfwData.rdwt12345Data
      );
      this.wordCloud.setOption(option);

      // this.$refs.refByrdsq.setPieOption(MainRightGgfwData.rdwtConfig, MainRightGgfwData.rdwt12345Data)
    },
    // 跳转处理
    onclickswitch(item) {
      switch (item.code) {
        case "sceneYjt": //一件通
          GlobalData.acticeScene = "ywtb";
          return;
      }
      this.$emit("changePage", item);
    },
    handleOpenClose() {
      this.optype === null ? (this.optype = "ggfw") : (this.optype = null);
      this.optype === null
        ? (this.openText = "更多 >>")
        : (this.openText = "收起 <<");
    },
    changePage(p, tar) {
      // console.log(tar)
      tar.item.chosen = p;
      // this.$set(tar.item,'chosen',p);
      tar.item.xOff = "-" + (p - 1) * 330 + "px";
      this.$nextTick(() => {
        this.$forceUpdate();
      });
    },
    handleData(data) {
      data.forEach((item) => {
        if (item.list.length === 0) {
          return;
        }
        item.pages = Math.ceil(item.list.length / 2);
        item.chosen = 1;
        item.xOff = 0;
      });
      this.$nextTick(() => {
        this.$forceUpdate();
      });
    },
  },
};
</script>
