<template>
	<div class="main-left">
		<div v-if="!GlobalData.showPopup">
			<!-- 值班体系 -->
			<main-left-zbtx></main-left-zbtx>
			<!-- 风险预警 -->
			<main-left-fxyj-new />

			<!-- 事件中心 -->
			<main-left-sjzx></main-left-sjzx>
		</div>

		<home-dialog v-if="GlobalData.showPopup" @close="pageDialogClose"></home-dialog>
	</div>
</template>
<style lang="less">
//scss in here
.main-left {
	position: absolute;
	top: 90px;
	left: 30px;
	width: 1040px;
	height: 1320px;
	overflow-y: scroll;
	overflow-x: hidden;

	.main-left-bottom {
		display: flex;

		.main-left-bottom-left {
			flex: 1;
			margin-right: 10px;
			width: 0;
		}

		.main-left-bottom-right {
			flex: 1;
			margin-left: 10px;
			width: 0;
		}
	}
}
</style>
<script>
import MainLeftFxyj from './MainLeftFxyj'
import MainLeftFxyjNew from './MainLeftFxyjNew'
import MainLeftZbtx from './MainLeftZbtx'
import MainLeftSjzx from './MainLeftSjzx'
import MainLeftGgaq from './MainLeftGgaq'
// import MainLeftRdyq from './MainLeftRdyq'
// import MainLeftAqsj from './MainLeftAqsj'
import MainEventInfo from './MainEventInfo'
import GlobalData from './GlobalData'
import Bus from './Bus'
import HomeDialog from './HomeDialog'

export default {
	data() {
		return {
			GlobalData,
			activeDialogTitle: null,
			name: null,
			type: null,
			moudle: null
		}
	},
	created() {
	},
	components: {
		MainLeftFxyj,
		MainLeftFxyjNew,
		MainLeftZbtx,
		MainLeftSjzx,
		MainLeftGgaq,
		// MainLeftRdyq,
		// MainLeftAqsj,
		MainEventInfo,
		HomeDialog
	},
	mounted() {
		this.init()
	},
	beforeDestroy() {
	},
	methods: {
		init() {

		},

		pageDialogClose() {
			GlobalData.showPopup = false;
		},
		//二级页面弹出
		handleChangePage(type, item) {
			// this.activeDialogTitle = item.code
			// this.name = item.name
			// this.type = type
			// this.moudle = item.moudle

		},
	}
}
</script>