<template>
    <div class="MainLeftFxyjNew">
        <common-title title="风险预警"></common-title>
        <div class="MainLeftFxyjNew-main">
            <div class="MainLeftFxyjNew-main-item">
                <div class="MainLeftFxyjNew-main-item-left">
                    <img :src="GlobalData.imgUrl + '/风险预警-图标-自然灾害.png'" />
                    <div>暴风预警</div>
                </div>
                <div class="MainLeftFxyjNew-main-item-center">
                    <div>当前暴雨预警</div>
                    <img :src="GlobalData.imgUrl + '/暴雨黄.png'" />
                </div>
                <div class="MainLeftFxyjNew-main-item-right">
                    <div class="MainLeftFxyjNew-main-item-right-name">未来五日趋势</div>
                    <div class="MainLeftFxyjNew-main-item-right-echart" ref="refbyyj"></div>
                </div>
            </div>
            <div class="MainLeftFxyjNew-main-item">
                <div class="MainLeftFxyjNew-main-item-left">
                    <img :src="GlobalData.imgUrl + '/风险预警-图标-生态环境.png'" />
                    <div>空气质量</div>
                </div>
                <div class="MainLeftFxyjNew-main-item-center">
                    <div class="MainLeftFxyjNew-main-item-center-name">当前空气质量</div>
                    <div class="kqzl">
                        <div id="gaugeRef" ref="gaugeRef" class="chartGauge1"></div>
                        <div class="aqi">AQI</div>
                        <div class="aqi-value" :style="{ color: '#0DE09D' }">
                            优
                        </div>
                    </div>
                </div>
                <div class="MainLeftFxyjNew-main-item-right">
                    <div class="MainLeftFxyjNew-main-item-right-name">未来五日趋势</div>
                    <div class="MainLeftFxyjNew-main-item-right-echart" ref="refkqzll"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="less">
//less in here
.MainLeftFxyjNew {
    width: 100%;
    height: 280px;

    .MainLeftFxyjNew-main {
        width: 100%;
        display: flex;
        height: 200px;
        padding-top: 10px;
        justify-content: space-between;

        .MainLeftFxyjNew-main-item {
            width: 508px;
            height: 100%;
            display: flex;
            align-items: center;
            background-image: url('@{imgUrl}风险预警-展示台.png');
            background-position: 0 143px;
            background-repeat: no-repeat;

            &-left {
                width: 40px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 34px;
                    height: 34px;
                }

                div {
                    width: 40px;
                    height: calc(100% - 34px);
                    display: flex;
                    padding-left: 5px;
                    // align-items: center;
                    font-size: 22px;
                    .blue-num();

                }
            }

            &-center {
                width: 140px;
                height: 100%;
                padding-left: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                // justify-content: center;
                div {
                    font-size: 17px;
                }

                img {
                    width: 89px;
                    height: 89px;
                    margin-top: 15px;
                }

                // &-name{
                //     position: absolute;
                //     top: ;
                // }
            }

            &-right {
                width: calc(100% - 180px);
                height: 100%;
                display: flex;
                // flex-direction: column;
                align-items: center;
                // padding-left: 30px;
                position: relative;
                padding-right: 30px;

                &-name {
                    position: absolute;
                    top: 0px;
                    left: 30px;
                    font-size: 18px;
                    color: #ffffff;
                }

                &-echart {
                    width: 100%;
                    height: 100px;
                }
            }
        }
    }

    .kqzl {
        width: 117px;
        height: 100px;
        position: relative;
        background-image: url('@{imgUrl}/风险预警-空气质量图标.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 10px;

        // margin-left: 100px;
        // transform: scale(1.3) translate(20px, 20px);
        .chartGauge1 {
            width: 117px;
            height: 100px;
            // transform: scale(1.6) translate(0px, 18px);
            transform: scale(1.4) translate(1px, 7px);
        }

        .aqi {
            position: absolute;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            // top: 80px;
            top: 30px;
            left: 35%;
            text-align: center;
            display: flex;
            flex-direction: column;
            // width: 300px;

            .aqi-desc {
                margin-left: 5px;
            }
        }

        .aqi-value {
            position: absolute;
            // top: 140px;
            top: 55px;
            left: 40%;
            // width: 300px;
            text-align: center;
            font-weight: Bold;
            font-size: 20px;
            //   .num-font();
            //   .blue-num();

        }

        .title {
            position: absolute;
            top: 140;
            width: 100%;
            text-align: center;
            font-weight: 400;
            color: transparent;
            //   .blue-num();
            //   .text-big();
        }
    }
}
</style>
<script>
import CommonTitle from './CommonTitle'
import GlobalData from './GlobalData'
import MainLeftFxyjNewData from './MainLeftFxyjNewData'
export default {
    data() {
        return {
            GlobalData,
            MainLeftFxyjNewData,
            chartbyyj: null,
            chartkqzll: null,
            chartgaugeRef: null
        }
    },
    created() {
    },
    components: {
        CommonTitle
    },
    mounted() {
        this.apirefbyyjlist()
        this.apirefkqzlllist()
        this.apikqzllist()
    },
    beforeDestroy() {
    },
    methods: {
        apirefbyyjlist() {
            if (this.chartbyyj) {
                this.chartbyyj.dispose()
            }
            this.chartbyyj = echarts.init(this.$refs.refbyyj, null, { renderer: 'canvas' })
            const xlist = ['9-30', '10-01', '10-02', '10-03', '10-04']
            const ylist = [120, 180, 220, 10, 210]
            const option = MainLeftFxyjNewData.get_sxproData(xlist, ylist)
            this.chartbyyj.setOption(option)
        },
        apirefkqzlllist() {
            if (this.chartkqzll) {
                this.chartkqzll.dispose()
            }
            this.chartkqzll = echarts.init(this.$refs.refkqzll, null, { renderer: 'canvas' })
            const xlist = ['9-30', '10-01', '10-02', '10-03', '10-04']
            const ylist = [120, 180, 220, 10, 210]
            const option = MainLeftFxyjNewData.get_sxproData(xlist, ylist)
            this.chartkqzll.setOption(option)
        },
        apikqzllist() {
            if (this.chartgaugeRef) {
                this.chartgaugeRef.dispose()
            }
            this.chartgaugeRef = echarts.init(this.$refs.gaugeRef, null, { renderer: 'canvas' })
            const startColor = '#FFDE44'
            const endColor = '#F4810B'
            const option = MainLeftFxyjNewData.getGaugeChartOption(10, startColor, endColor)
            this.chartgaugeRef.setOption(option)
        }
    }
}
</script>