<template>
<div class="main-top" :style="{
  '--bgImg': bgImg
}" @click="Jumpto">
  <div class="weather">
    <div v-for="(item, index) in MainTopData.weatherList" :key="index" class="weather-item">
      <div v-if="item.icon" class="item-left">
        <img :src="item.icon" />
      </div>
      <div class="item-right" :class="item.code">
        <div class="name">{{item.name}}</div>
        <div class="value">{{item.value}}</div>
      </div>
    </div>
  </div>

  <!-- 分中心/应用超市 -->
  <div class="menu-content">
    <div v-for="(item, index) in MainTopData.menuList" :key="index" class="menu-item" :class="{active: menuShowCode === item.code}" @click="handleMenuClick(item)">{{item.name}}</div>
  </div>

  <!-- 分中心列表 -->
  <transition v-for="(menu, idx) in MainTopData.menuList" :key="idx" name="menu-open">
    <div v-show="menuShowCode === menu.code" class="menu-open-list">
      <div v-for="(item, index) in menu.list" :key="index" class="one" @click="handleOpenMenuItemUrl(item)">
        {{ item.name }}
      </div>
    </div>
  </transition>
</div>
</template>
<style lang="less">
//scss in here
.main-top {
  position: relative;
  width: 100%;
  height: 162px;
  background-image: var(--bgImg);
  cursor: pointer;
  .weather {
    position: absolute;
    top: 0;
    right: 40px;
    width: 1030px;
		height: 50px;
    background-image: linear-gradient(to right, rgba(19, 37, 64, 0.9), rgba(19, 37, 64, 1), rgba(20, 52, 89, 1), rgba(20, 52, 89, 0.9));
    display: flex;
    
    .weather-item {
      display: flex;
      flex: 1;
      width: 0;
            
      .item-left {
        width: 52px;
        margin-top: 10px;
      }
      
      .item-right {
        flex: 1;
      	width: 0;
        
        .name {
          margin-bottom: 10px;
        }
        
        &.sj,
        &.tq {
          .name {
          	margin-bottom: 0px;
            font-weight: bold;
          	font-size:24px;
        	}
        }
        
         &.tq {
          text-align: center;
        }
      }
    }
  }
  
  .menu-content {
  	position: absolute;
    top: 90px;
    right: 1090px;
    text-align: center;
    
    .menu-item {
			width: 48px;
			height: 207.94px;
  		background-image: url('@{imgUrl}街道分中心-按钮.png');
      writing-mode: vertical-lr;
    	line-height: 48px;
      cursor: pointer;
      margin-bottom: 10px;
      .font-big-three();
      
      &.active,
      &:hover {
        color: #00fffb;        
      }
  	}
  }

  .menu-open-list {
    position: absolute;
    right: 1150px;
    top: 90px;
    height: fit-content;
    width: 170px;
    padding: 8px 14px;
    transition: all 0.5s;
    font-family: 'Regular';
    border-radius: 14px 2px 2px 14px;
    background: rgba(35, 55, 83, 0.8);
    box-shadow: rgb(111 184 255 / 94%) 0px 0px 5px 5px inset;

    .one {
      cursor: pointer;
      text-align: center;
      margin: 4px 0px;
      height: 30px;
      line-height: 30px;
      border-radius: 4px;

      &:hover {
        background: rgba(37, 166, 255, 0.2);
      }

      &.active {
        background: rgba(37, 166, 255, 0.6);
      }
    }
  }

  .menu-open-leave,
  .menu-open-enter-to {
    opacity: 1;
    transform: scaleX(1) rotate3d(0, 0, 0, 0deg);
    right: 1150px;
  }

  .menu-open-enter,
  .menu-open-leave-to {
    opacity: 0;
    transform: scaleX(0) rotate3d(1, 1, 0, 180deg);
    right: 1150px;
  }
}

</style>
<script>
import MainTopData from './MainTopData'
import GlobalTool from './GlobalTool'
import GlobalData from './GlobalData'

export default {
	data() {
		return {
			GlobalData,
			MainTopData,
			timer: null,
			//菜单显示信息
			menuShowCode: null
		}
	},
	created() {
	},
	components: {
	},
	mounted() {
		//开启定时任务
		if (!this.timer) {
			this.timer = setInterval(() => {
				const sj = MainTopData.weatherList.find(i => i.code === 'sj')
				sj.name = dayjs().format('HH:mm:ss')
				sj.value = dayjs().format('YYYY-MM-DD')
			}, 1000)
		}
	},
	computed: {
		bgImg() {
			return `url('${GlobalData.imgUrl}大标题-${GlobalData.street}.png')`
		}
	},
	beforeDestroy() {
		if (this.timer) {
			clearInterval(this.timer)
			this.timer = null
		}
	},
	methods: {
		/**
		 * 菜单点击事件
		 */
		handleMenuClick(item) {
			if (this.menuShowCode === item.code) {
				this.menuShowCode = null
			} else if (item.list && item.list.length > 0) {
				this.menuShowCode = item.code
			}
		},
		/**
		 * 菜单项点击事件
		 */
		handleOpenMenuItemUrl(item) {
			if (!item.url) {
				return
			}
			switch (item.openType) {
				case 'newWindowDialog': //新窗口对话框
					GlobalTool.openWindowAsDialog(item.name, item.url, item.width, item.height, item.transform)
					break
				case 'newWindow': //新窗口
					GlobalTool.openWindow(item.name, item.url)
					break
				case 'iframe': //iframe
					GlobalTool.openIFrame(item.name, item.url, item.width, item.height, item.transform)
					break
				default: //默认，新窗口
					GlobalTool.openWindow(item.name, item.url)
					break
			}
		},
    Jumpto(){
      window.open('https://m.xinwangzn.com:8081/page/projection_screen-street')
    }
	}
}
</script>