<template>
<div v-show="visible" class="main-event-list">
    <common-title :title="title"></common-title>
    <div class="close" @click="close"></div>
    <div class="filter">
        <div v-for="(item, index) in MainEventListData.filterConfigList" :key="index" class="filter-item">
            <div class="label">{{item.name}}</div>
            <div class="content">
                <el-input v-if="item.widgetType === 'input'" v-model="item.value"></el-input>
                <el-select v-else-if="item.widgetType === 'select'" v-model="item.value" popper-class="popper-class"
                    @change="handleSearch">
                    <el-option v-for="(optItem, optIndex) in item.options" :key="optIndex" :label="optItem.name"
                        :value="optItem.id">
                    </el-option>
                </el-select>
                <el-cascader v-else-if="item.widgetType === 'cascader'" popper-class="popper-class" v-model="item.value"
                    :options="item.options" :props="item.props" @change="handleSearch"></el-cascader>
            </div>
        </div>

        <div class="filter-item filter-opt">
            <div class="opt-btn" @click="handleSearch">搜索</div>
            <div class="opt-btn" @click="handleReset">重置</div>
        </div>
    </div>
    <div class="content">
        <el-table ref="refTable" :data="MainEventListData.tabInfo.list" stripe border :height="1000"
            @row-click="handleRowClick">
            <el-table-column v-for="(item, index) in MainEventListData.tabInfo.colConfig" :prop="item.prop"
                :label="item.name" :header-align="item.headerAlign" show-overflow-tooltip>
            </el-table-column>
        </el-table>
        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
            :current-page.sync="MainEventListData.tabInfo.currentPage" :page-size="20" layout="total, prev, pager, next"
            :total="MainEventListData.tabInfo.total">
        </el-pagination>
    </div>
</div>
</template>
<style lang="less">
//less in here

.main-event-list {
    position: absolute;
    top: 90px;
    left: 1480px;
    width: 2300px;
    height: 1320px;
    background-color: #0c1933;
    z-index: 99;
    border-radius: 10px;

    .filter {
        padding: 20px;

        .filter-item {
            display: inline-flex;
            width: 370px;
            align-items: center;

            .label {
                width: 100px;
                margin-right: 20px;
                text-align: right;
                
            }

            .content {
                flex: 1;
                width: 0;

                ::v-deep .el-input__inner {
                    background: transparent !important;
                    color: #FFFFFF;
                }
            }

            &.filter-opt {
                display: inline-block;
                text-align: right;

                .opt-btn {
                    display: inline-block;
                    padding: 10px 20px;
                    border: 1px solid RGBA(24,155,255,1);
                    border-radius: 5px;
                    cursor: pointer;

                    &:first-child {
                        margin-right: 10px;
                    }

                    &:hover {
                        .miaobian();
                    }
                }
            }
           
        }
    }

    .content {
        padding: 20px;
    }
}
</style>
<script>
import CommonTitle from './CommonTitle'
import MainEventListData from './MainEventListData'
import Bus from './Bus'
import GlobalData from './GlobalData'

export default {
	data() {
		return {
			MainEventListData,
			GlobalData,
			visible: false,
			title: '事件列表'
		}
	},
	created() {
	},
	components: {
		CommonTitle
	},
	mounted() {
		Bus.$on('showEventList', (data) => {
			this.visible = true
			//this.title = item.name
			MainEventListData.tabInfo.currentPage = 1
			MainEventListData.resetFilter()
			MainEventListData.loadData()
		})
	},
	beforeDestroy() {
	},
	methods: {
		/**
		 * 显示
		 */
		show(item) {
			this.visible = true
			this.title = item.name
			MainEventListData.tabInfo.currentPage = 1
			MainEventListData.resetFilter()
			MainEventListData.loadData()
		},
		/**
		 * 关闭
		 */
		close() {
			this.visible = false
		},
		/**
		 * 修改每页数目
		 */
		handleSizeChange(val) {
			console.log(`每页 ${val} 条`);
		},
		/**
		 * 修改页码
		 */
		handleCurrentChange(val) {
			MainEventListData.tabInfo.currentPage = val
			MainEventListData.loadData()
		},
		/**
		 * 点击一行
		 */
		handleRowClick(row, column, event) {
			GlobalData.eventInfo = row
		},
		/**
		 * 搜索
		 */
		handleSearch() {
			MainEventListData.tabInfo.currentPage = 1
			MainEventListData.loadData()
		},
		/**
		 * 重置
		 */
		handleReset() {
			MainEventListData.tabInfo.currentPage = 1
			MainEventListData.resetFilter()
			MainEventListData.loadData()
		}
	}
}
</script>