<template>
<div class="main-left-zbtx">
  <common-title title="值班体系" @click="onclick"></common-title>
  <div class="zbtx-content">
    <div v-for="(item, list) in MainLeftZbtxData.zbtxList" class="zbtx-item" :class="item.type">
      <div class="title">{{item.title}}</div>
      <div class="zbtx-zbxx">
        <div v-if="item.icon" class="zbtx-zbxx-left"><img :src="item.icon" /></div>
        <div class="zbtx-zbxx-right">
          <template v-if="item.nameType === 'Array'">
            <div v-for="(nItem, nIdx) in item.name" :key="nIdx" class="name-item">
              <div class="name">{{nItem}}</div>              
            </div>
          </template>
          <template v-else>
            <div class="name">{{item.name}}</div>
            <div class="dept">{{item.tel || ''}}</div>
            <div class="dept">{{item.dept || ''}}</div>
          </template>
        </div>
      </div>
    </div>
  </div>
  <transition enter-active-class="animated slideInLeft" leave-active-class="animated slideOutLeft">
    <div class="sub-modal-index" v-if="showInfo">
      <glob-title :url="GlobalData.imgUrl+'值班体系一级标题.png'" title="值班体系" @clickclose="clickclose"></glob-title>
      <div class="sub-modal-index-main">
        <main-left-zbtxlist></main-left-zbtxlist>
      </div>
    </div>
  </transition>
</div>
</template>
<style lang="less">
//scss in here
.main-left-zbtx {
  width: 100%;
  height: 230px;
  .sub-modal-index{
    width: 1661px;
    height: 1270px;
    background: rgba(6,26,46,1);
    position: fixed;
    left: 1703px;
    top: 130px;
    z-index: 999;
    padding: 24px;
    .sub-modal-index-main{
      width: 100%;
      height: calc(100% - 52px);
    }
  }
  .zbtx-content {
    display: flex;
    width: 100%;
    height: 130px;
    margin-top: 15px;
    
    .zbtx-item {
      flex: 1;
      width: 0;
      height: 100%;
      margin-right: 10px;
      padding: 10px 20px;
      .card-bg();

      &:hover {
        cursor: pointer;
        .miaobian();
      }
      
      &.dbld {
        flex: none;
        width: 400px;
      }
      
      &:last-child {
        margin-right: 0;
      }
      
      .title {
        .blue-num();
      }
      
      .zbtx-zbxx {
        display: flex;
        width: 100%;
        margin-top: 20px;
        
        &.zby {
          display: block;
          .font-mid-one();
          
          .zby-item {
            display: inline-block;
            width: 50%;
          }
        }
        
        .zbtx-zbxx-left {
          width: 72px;
        }
        
        .zbtx-zbxx-right {
          flex: 1;
          width: 0;

          .name-item {
            display: inline-block;
            width: 49%;
          }
          
          .name {
            .font-big-three();
          }
          
          .dept {
            color: #2F70E8;
          }
        }
      }
    }
  }
}

</style>
<script>
import CommonTitle from './CommonTitle'
import MainLeftZbtxData from './MainLeftZbtxData'
import MainLeftZbtxlist from './MainLeftZbtxlist'
import GlobTitle from './GlobTitle'
import GlobalData from './GlobalData'

export default {
	data() {
		return {
      MainLeftZbtxData,
			GlobalData,
			showInfo:false
		}
	},
	created() {
	},
	components: {
    CommonTitle,
		MainLeftZbtxlist,
		GlobTitle
	},
	mounted() {
		console.log('MainLeftZbtxData.zbtxList',MainLeftZbtxData.zbtxList)
	},
	beforeDestroy() {
	},
	methods: {
		// 值班体系弹出
		onclick(){
      GlobalData.showPopup = true;
      GlobalData.showZbtx = true;

      console.log(GlobalData.showPopup)
		},
		clickclose(){
			this.showInfo = false
		}
	}
}
</script>