<template>
<div class="main-left-aqsj">
	<common-title title="安全事件统计" type="small"></common-title>
  <div class="aqsj-opt">
  	<div v-for="(item, index) in MainLeftAqsjData.aqsjTabList" class="opt-item" :class="{active: item.id === currentTab}" @click="handleTabChange(item)">{{item.name}}</div>
  </div>
  <div class="aqsj-content">
  	<div class="aqsj-content-title">
    	<div class="aqsj-content-title-left">安全事件TOP5</div>
    	<div class="aqsj-content-title-right">单位：件</div>
    </div>
    <common-echarts ref="refEcharts"></common-echarts>
  </div>
</div>
</template>
<style lang="less">
//less in here
.main-left-aqsj {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  
  .aqsj-opt {
    position: absolute;
    width: 150px;
		height: 30px;
    line-height: 30px;
		background: rgba(31,55,88,1);
    display: flex;
    right: 0;
    top: 10px;
    
    .opt-item {
      flex: 1;
      width: 0;
      text-align: center;
      cursor: pointer;
      
      &.active {
        background-color: rgba(52, 83, 126, 1);
        color: rgba(37, 166, 255, 1);
      }
    }
  }
  
  .aqsj-content {
    width: 100%;
    height: 234px;
    margin-top: 20px;
    
    .aqsj-content-title {
      display: flex;
      width: 100%;
      
      .aqsj-content-title-left {
        flex: 1;
        text-align: left;
      }
      
      .aqsj-content-title-right {
        flex: 1;
        text-align: right;
      }
    }
  }
}

</style>
<script>
import CommonTitle from './CommonTitle'
import MainLeftAqsjData from './MainLeftAqsjData'
import CommonEcharts from './CommonEcharts'

export default {
  data() {
    return {
      MainLeftAqsjData,
      currentTab: ''
    }
  },
  created() {
  },
  watch: {
    'MainLeftAqsjData.barConfig': {
      deep: true,
      handler: function () {
        this.$refs.refEcharts.setBarOption(MainLeftAqsjData.barConfig, MainLeftAqsjData.barData[this.currentTab])
      }
    },
    'MainLeftAqsjData.barData': {
      deep: true,
      handler: function () {
        this.$refs.refEcharts.setBarOption(MainLeftAqsjData.barConfig, MainLeftAqsjData.barData[this.currentTab])
      }
    }
  },
  components: {
    CommonTitle,
    CommonEcharts
  },
  watch: {
    'MainLeftAqsjData.aqsjTabList': {
      deep: true,
      handler() {
        this.init()
      }
    },
    'MainLeftAqsjData.barData': {
      deep: true,
      handler() {
        this.init()
      }
    }
  },
  mounted() {
    this.init()
  },
  beforeDestroy() {
  },
  methods: {
    init() {
      console.log(MainLeftAqsjData.aqsjTabList)
      if (MainLeftAqsjData.aqsjTabList && MainLeftAqsjData.aqsjTabList.length > 0) {
        let item = null

        if (!this.currentTab) {
          item = MainLeftAqsjData.aqsjTabList[0]
        } else {
          item = MainLeftAqsjData.aqsjTabList.find(i => i.id === this.currentTab)
        }
        item = item == null ? MainLeftAqsjData.aqsjTabList[0] : item
        this.handleTabChange(item)
      }
    },
    /**
    * Tab切换
    */
    handleTabChange(item) {
      this.currentTab = item.id
      this.$refs.refEcharts.setBarOption(MainLeftAqsjData.barConfig, MainLeftAqsjData.barData[this.currentTab])
    }
  }
}
</script>