<template>
  <div class="main-event">
    <div class="top">
      <div class="blue-num title">事件统计</div>
      <div class="content">
        <div class="content-item" v-for="(i, index) in summary" :key="index">
          <div
            class="icon"
            :style="{ backgroundImage: 'url(' + imgUrl + i.icon + ')' }"
          ></div>
          <div class="name">{{ i.name }} :</div>
          <div class="value blue-num">
            {{ i.value }}<span class="unit">{{ i.unit }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <!-- <div v-for="(item, index) in MainEventData.tabList" :key="index" class="header-item"
      :class="{active: currentTab && item.id === currentTab.id}" @click="handleTabChange(item)">{{item.name}}</div> -->
      <div class="more left" @click="handleResetClick">重置</div>
      <div class="more right" @click="handleMoreClick">筛选 >></div>
    </div>

    <!-- 原始代码加载协同事件，此处作修改与事件列表MainEventList组件同步 -->
    <!-- <div v-if="currentTab && currentTab.list && currentTab.list.length > 0" class="event-content"
    v-loading="MainEventListData.loading" element-loading-text="拼命加载中" element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.8)"> -->
    <!-- v-if="MainEventListData.tabInfo.list && MainEventListData.tabInfo.list.length > 0"  -->
    <div
      class="event-content"
      v-loading="MainEventListData.loading"
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    >
      <div
        v-for="(item, index) in MainEventListData.tabInfo.list"
        :key="index"
        class="event-item"
        @click="handleEventClick(item)"
      >
        <div class="title">
          <img
            v-show="item.eventLevelName !== '一般'"
            :src="GlobalData.imgUrl + '一般突发事件-三角形预警图标.png'"
          />
          <span
            class="type"
            :class="item.eventLevelName === '一般' ? 'blue-num' : 'red-num'"
            >{{ item.subTypeName }}</span
          >
          <span class="accessMode">{{ item.accessMode }}</span>
          <div
            class="impotance"
            :class="item.eventLevelName === '一般' ? 'normal' : ''"
          >
            {{ item.eventLevelName }}
          </div>
        </div>
        <div class="content">
          <div>主题：{{ item.eventDesc }}</div>
          <div>地址：{{ item.address }}</div>
          <div>时间：{{ item.reportTime }}</div>
        </div>
        <div class="bottom">
          <div class="bottom-button" @click="checkDetail({ item })">详情</div>
          <div class="bottom-button" @click="setToTop({ item })">置顶</div>
        </div>
      </div>
    </div>
    <!-- <div v-else class="event-content empty">暂无数据</div> -->
    <!-- <div class="more" @click="handleMoreClick">更多事件 >></div> -->
    <EventPopupNew v-if="isShow"></EventPopupNew>
  </div>
</template>
<style lang="less">
//scss in here
//scss in here
.main-event {
  position: absolute;
  top: 90px;
  left: 1090px;
  width: 380px;
  height: 1320px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);

  ::-webkit-scrollbar {
    display: none;
  }

  .top {
    width: 95%;
    height: 215px;
    margin-bottom: 14px;
    padding: 20px;
    background: linear-gradient(
      180deg,
      rgba(25, 37, 62, 0.3),
      rgba(34, 62, 97, 0.8),
      rgba(34, 62, 97, 0.8)
    );

    .title {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .content {
      &-item {
        line-height: 30px;
        height: 30px;
        margin-bottom: 20px;
        align-items: center;
        position: relative;
        .icon {
          top: 10px;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: contain;
          width: 30px;
          height: 30px;
        }

        .name {
          display: inline;
          margin-left: 30px;
          font-size: 18px;
        }

        .value {
          display: inline;
          font-size: 30px;
          margin-left: 10px;
          font-family: "D-DIN";
          font-weight: 600;
          .unit {
            margin-left: 10px;
            font-size: 14px;
            color: #fff;
            background: none;
          }
        }
      }
    }
  }

  .header {
    display: flex;
    width: 100%;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    .card-bg();

    .header-item {
      flex: 1;
      background-color: rgba(0, 187, 255, 0.1);
      margin: 0 5px;
      color: RGBA(255, 255, 255, 0.4);
      box-shadow: 0 0 10px rgb(0, 153, 184) inset, 0 0 5px rgb(0, 153, 184);

      &.active,
      &:hover {
        cursor: pointer;
        color: RGBA(255, 255, 255, 1);
        .miaobian();
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .event-content {
    width: 380px;
    height: 1031px;
    position: relative;
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
    padding: 10px;
    padding-bottom: 40px;
    background: linear-gradient(
      180deg,
      rgba(25, 37, 62, 0.3),
      rgba(34, 62, 97, 0.8),
      rgba(34, 62, 97, 0.8)
    );

    &.empty {
      text-align: center;
    }

    .title {
      position: relative;
      border-bottom: 1px solid #25a6ff;
      padding-bottom: 10px;

      img {
        vertical-align: baseline;
        margin-right: 10px;
      }

      .type {
        .font-big-four();
        font-weight: 600;
        // .red-num();
      }

      .accessMode {
        margin-left: 18px;
        color: #25a6ff;
        border-bottom: 1px solid #25a6ff;
      }

      .impotance {
        position: absolute;
        top: 0;
        right: -10px;
        color: #ed5323;
        width: 110px;
        height: 26px;
        line-height: 26px;
        background-image: linear-gradient(
          to right,
          RGBA(0, 0, 0, 0),
          rgba(237, 83, 35, 0.4)
        );
        text-align: right;
        padding-right: 20px;

        &.normal {
          // background-color: rgba(0, 228, 255, 0.2);
          background-image: linear-gradient(
            to right,
            RGBA(0, 0, 0, 0),
            rgba(0, 228, 255, 0.4)
          );
          color: #00e4ff;
        }
      }
    }

    .content {
      margin-top: 10px;

      div {
        line-height: 26px;
        .single-line();
      }
    }
  }

  .event-item {
    height: 190px;
    margin-bottom: 10px;
    padding: 10px 12px 0px 10px;
    .card-bg();
    background: rgba(33, 72, 108, 0.8);
    position: relative;
    border-radius: 0 0 10px 10px;

    &:hover {
      cursor: pointer;
      .miaobian();
    }

    .bottom {
      position: absolute;
      bottom: 0;
      left: 0px;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;

      &-button {
        width: 178px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        background: rgba(47, 113, 177, 0.6);
        border-radius: 0 0 10px 10px;

        &:hover {
          background: rgba(47, 113, 177, 0.8);
        }

        &:active {
          background: rgba(47, 113, 177, 1);
        }
      }
    }
  }

  .more {
    height: 40px;
    text-align: center;
    font-size: 16px;
    color: #00fffb;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    &.right {
      padding: 0 10px;
      left: 230px;
      &:hover {
        .miaobian();
      }
    }
    &.left {
      left: 0px;
      color: #fff;
      padding: 0 10px;
      &:hover {
        .miaobian();
      }
    }
  }
}
</style>
<script>
import MainEventData from "./MainEventData";
import CommonTitle from "./CommonTitle";
import GlobalData from "./GlobalData";
import Bus from "./Bus";
import MainEventListData from "./MainEventListData";
import EventPopupNew from "./EventPopupNew";

export default {
  data() {
    return {
      MainEventData,
      MainEventListData,
      isShow: false,
      GlobalData,
      //当前选中tab
      currentTab: null,
      imgUrl: "/src/screen/1600385025259147265/",
      summary: [
        { name: "累计事件", value: 136, unit: "件", icon: "累计事件.png" },
        { name: "办理中", value: 36, unit: "件", icon: "累计事件.png" },
        { name: "已办结", value: 36, unit: "件", icon: "累计事件.png" },
      ],
    };
  },
  created() {},
  components: {
    CommonTitle,
    EventPopupNew,
  },
  mounted() {
    // 原始代码加载协同事件，此处作修改与事件列表MainEventList组件同步
    // if (MainEventData.tabList && MainEventData.tabList.length > 0) {
    // 	this.handleTabChange(MainEventData.tabList[2])
    // }
    MainEventListData.tabInfo.currentPage = 1;
    MainEventListData.resetFilter();
    MainEventListData.loadData();
    // this.getSummary();
    // //选择第一条事件
    Bus.$on("selectFirstEvent", () => {
      if (
        this.currentTab &&
        this.currentTab.list &&
        this.currentTab.list.length > 0
      ) {
        GlobalData.eventInfo = this.currentTab.list[0];
      } else {
        const list = [];
        MainEventData.tabList.forEach((i) => {
          list.push(...(i.list || []));
        });
        if (list.length > 0) {
          GlobalData.eventInfo = list[0];
        }
      }
    });
  },
  beforeDestroy() {},
  methods: {
    /**
     * Tab切换
     */
    handleTabChange(item) {
      this.currentTab = item;
      console.log("新旧事件列表对比 - 原列表", MainEventData.tabList);
    },
    /**
     * 显示更多
     */
    handleMoreClick() {
      // if (!this.currentTab) {
      // 	return
      // }
      Bus.$emit("showEventList");
      // Bus.$emit('showEventList', { eventTypeCode: this.currentTab.id })
      // this.$refs.refMainEventList.show(this.currentTab)
    },
    /**
     * 重置查询
     */
    handleResetClick() {
      MainEventListData.tabInfo.currentPage = 1;
      MainEventListData.resetFilter();
      MainEventListData.loadData();
    },
    /**
     * 事件单元点击
     */
    handleEventClick(item) {
      GlobalData.eventInfo = item;
      // this.isShow = true;
    },
    // 详情
    checkDetail(item) {
      // GlobalData.eventInfo = item
      // console.log('事件列表',item)
    },
    // 置顶
    setToTop(item) {
      //置顶item
    },
    getSummary() {
      // sjj_1nr4scpqh00_sjlbtj
      // OU.api("sjj_1nr4scpqh00_sjlbtj").then((res) => {
      //   const data = res || {};
      //   console.log("顶部统计数据", data);
      //   this.summary[0].value = data[0].num;
      //   this.summary[1].value = data[1].num;
      //   this.summary[2].value = data[2].num;
      // });
    },
  },
};
</script>
