<template>
<div class="MainLeftZbtxlist">
  <div class="MainLeftZbtxlist-left">
    <div class="MainLeftZbtxlist-left-items" v-for="(item,index) in MainLeftZbtxlistData.leftlist" :key="index">
      <div class="MainLeftZbtxlist-left-items-icon">
        <img class="zb-bg-img" :src="formatterZbBgImg(item.role)"/>
        <img v-show="item.photo_address" class="photo_address" :src="item.photo_address"/>
      </div>
      <div class="MainLeftZbtxlist-left-items-right">
        <img class="right-ydx" :src="GlobalData.imgUrl+'带班委领导-线.png'"/>
        <div class="MainLeftZbtxlist-left-items-right-name jbld">
          <div class="MainLeftZbtxlist-left-items-right-name-icon">
            <img :src="GlobalData.imgUrl+'带班委领导-领带图标.png'"/>
          </div>
          {{item.role}}
        </div>
        <div class="MainLeftZbtxlist-left-items-right-name ldmc">
          <div class="MainLeftZbtxlist-left-items-right-name-icon">
            <img :src="GlobalData.imgUrl+'带班委领导-人物图标.png'"/>
          </div>
          {{item.name}}
        </div>
        <div class="MainLeftZbtxlist-left-items-right-name ddld">
          <div class="MainLeftZbtxlist-left-items-right-name-icon">
            <img :src="GlobalData.imgUrl+'带班委领导-资料.png'"/>
          </div>
          {{item.position}}
        </div>
        <div class="MainLeftZbtxlist-left-items-right-name phone">
          <div class="MainLeftZbtxlist-left-items-right-name-icon">
            <img :src="GlobalData.imgUrl+'带班委领导-电话.png'"/>
          </div>
          {{item.tel}}
        </div>
      </div>
    </div>
  </div>
  <!-- 右边部分 -->
  <div class="MainLeftZbtxlist-right">
    <div class="MainLeftZbtxlist-right-items" v-for="(item,index) in MainLeftZbtxlistData.jdlsit" :key="index">
      <div class="MainLeftZbtxlist-right-items-top">
        <div class="MainLeftZbtxlist-right-items-top-left">{{item.areaName}}</div>
        <div class="MainLeftZbtxlist-right-items-top-right">
          <div class="MainLeftZbtxlist-right-items-top-right-bg"></div>
        </div>
      </div>
      <div class="MainLeftZbtxlist-right-items-bottom">
        <div class="items-bottom-item" v-for="(item1,index1) in item.itemList">
          <div class="items-bottom-item-left">
            <img :src="item1.photo_address ? item1.photo_address : GlobalData.imgUrl + '暂无图片-通用.png'"/>
          </div>
          <div class="items-bottom-item-right" :class="{'fixed-width': item.itemList.length > 3}">
            <div class="items-bottom-item-right-name jbld">
              <div class="items-bottom-item-right-name-icon">
                <img :src="GlobalData.imgUrl+'带班委领导-领带图标.png'"/>
              </div>
              {{item1.role}}
            </div>
            <div class="items-bottom-item-right-name fzrmc">
              <div class="items-bottom-item-right-name-icon">
                <img :src="GlobalData.imgUrl+'带班委领导-人物图标.png'"/>
              </div>
              {{item1.name}}
            </div>
            <div class="items-bottom-item-right-name ddld">
              <div class="items-bottom-item-right-name-icon">
                <img :src="GlobalData.imgUrl+'带班委领导-资料.png'"/>
              </div>
              {{item1.position}}
            </div>
            <div class="items-bottom-item-right-name phone">
              <div class="items-bottom-item-right-name-icon">
                <img :src="GlobalData.imgUrl+'带班委领导-电话.png'"/>
              </div>
              {{item1.tel}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<style lang="less">
//less in here
.MainLeftZbtxlist{
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 40px;
  // 坐标部分
  .MainLeftZbtxlist-left{
    width: 460px;
    height: 100%;
    overflow-y: auto;
    .MainLeftZbtxlist-left-items{
      width: 100%;
      height: 200px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 40px;
      .MainLeftZbtxlist-left-items-icon{
        position: relative;
        width: 150px;
        height: 180px;

        .zb-bg-img {
          position: absolute;
          z-index: 1;
          top: 0px;
          left: 0px;
          width: 150px;
          height: 180px;
        }
        .photo_address{
          position: absolute;
          z-index: 2;
          top: 0px;
          left: 0px;
          width: 150px;
          height: 145px;
          object-fit: cover;
        }
      }
      .MainLeftZbtxlist-left-items-right{
        width: calc(100% - 150px);
        height: 100%;
        padding-left: 28px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: flex-start;
        padding-top: 10px;
        .right-ydx{
          position: absolute;
          top: 0px;
          left: 28;
        }
        .MainLeftZbtxlist-left-items-right-name{
          width: 100%;
          height: calc(100% / 4);
          font-size: 22px;
          display: flex;
          align-items: center;
          &-icon{
            width: 30px;
            text-align: center;
            margin-right: 20px;
          }
        }
      }
    }
  }
  .jbld{
    font-size: 24px;
    color: #FFFFFF;
  }
  .ldmc{
    font-size: 22px;
    color: #10A5EE;
  }
  .fzrmc{
    font-size: 22px;
    color: #04E5E9;
  }
  .ddld{
    font-size: 22px;
    color: #6CBED2;
  }
  .phone{
    color: #6CBED2;
    font-size: 20px;
  }
  // 右边部分
  .MainLeftZbtxlist-right{
    width: calc(100% - 460px);
    padding-left: 30px;
    height: 100%;
    overflow-y: auto;
    .MainLeftZbtxlist-right-items{
      width: 100%;
      height: 320px;
      background: rgba(15,44,66,1);
      padding: 30px 20px;
      padding-top: 48px;
      margin-bottom: 20px;
      &-top{
        width: 100%;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-left{
          width: 150px;
          height: 24px;
          line-height: 24px;
          color: #C9E3F8;
          font-size: 24px;
          padding-left: 20px;
        }
        &-right{
          width: calc(100% - 150px);
          padding-left: 17px;
          display: flex;
          align-items: center;
          &-bg{
            width: 100%;
            height: 1px;
            background-color: #4A8BAB;
          }
        }
      }
      &-bottom{
        width: 100%;
        height: calc(100% - 24px);
        display: flex;
        flex-direction: row;
        // background-color: red;
        overflow-x: auto;
        padding-top: 38px;
        .items-bottom-item{
          // width: calc(100% / 3);
          width: 390px;
          height: 160px;
          display: flex;
          align-items: center;
          &-left{
            width: 150px;
            height: 180px;
            img{
              width: 150px;
              height: 180px;
              object-fit: cover;
            }
          }
          .fixed-width {
            width: 220px;
          }
          &-right{
            // width: calc(100% - 150px);
            flex: 1;
            height: 180px;
            display: flex;
            flex-direction: column;
            padding-left: 17px;
            &-name{
              width: 100%;
              height: calc(100% / 4);
              font-size: 22px;
              display: flex;
              align-items: center;
              &-icon{
                width: 30px;
                text-align: center;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}

</style>
<script>
import GlobTitle from './GlobTitle'
import GlobalData from './GlobalData'
import MainLeftZbtxlistData from './MainLeftZbtxlistData'
export default {
	data() {
		return {
			GlobalData,
			MainLeftZbtxlistData,
		}
	},
	created() {
	},
	components: {
		GlobTitle
	},
	mounted() {
		// 加载值班体系列表
		this.loadZbtxListData()
		// 加载值班体系之街道分组
		this.loadZbtxStreetAllot()
	},
	beforeDestroy() {
	},
	methods: {

		// 加载值班体系 列表
		loadZbtxListData() {
			const self = this
			// OU.api('sjj_zbtx_rylb', {}).then(body => {
			// 	MainLeftZbtxlistData.leftlist = body
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},
		/** 格式化 值班體系 圖片 */
		formatterZbBgImg(role) {
			let img_url = ''
			if (role === '带班领导') {
				img_url = GlobalData.imgUrl + '带班领导-暂无图片.png'
			} else if (role === '值班领导') {
				img_url = GlobalData.imgUrl + '值班领导-暂无图片.png'
			} else if (role === '值班员') {
				img_url = GlobalData.imgUrl + '值班员-暂无图片.png'
			} else if (role === '值班长') {
				img_url = GlobalData.imgUrl + '值班长-暂无图片.png'
			} else if (role === '带班委领导') {
				img_url = GlobalData.imgUrl + '带班委领导-暂无图片.png'
			}

			return img_url
		},


		// 加载值班体系 之 街道分配
		loadZbtxStreetAllot() {
			const self = this
			// OU.api('sjj_zbtx_ztgl', {}).then(body => {
			// 	self.dealZbtxStreetData(body)
			// }).catch(e => {
			// 	console.info('请求异常：', e)
			// })
		},

		dealZbtxStreetData(dataList) {
			let obj = {}
			let groups = []
			dataList.forEach(item => {
				if (!obj[item.areaName]) {
					// 根据街道分组
					groups.push({
						areaName: item.areaName,
						itemList: [item],
					})
					obj[item.areaName] = item
				} else {
					groups.find(v => {
						if (v.areaName === item.areaName) {
							v.itemList.push(item)
						}
					})
				}
			})
			MainLeftZbtxlistData.jdlsit = groups
		}
	}
}
</script>