<template>
  <div class="main-left-sjzx">
    <common-title title="事件中心" :more="false"></common-title>
    <div class="sjzx-content">
      <div>
        <span class="blue-num">事件概览</span>
        <div class="tab-opt">
          <div v-for="(item, index) in MainLeftSjzxData.configData.tabList" class="opt-item"
            :class="{ active: item.id === currentTab }" @click="handleTabChange(item)">{{ item.name }}</div>
        </div>
        <div class="sjgl-content">
          <div v-for="(item, index) in MainLeftSjzxData.configData.sjglConfig" :key="index" class="sjgl-item">
            <div class="sjgl-item-left">
              <img v-if="item.icon" :src="item.icon">
            </div>
            <div class="sjgl-item-right">
              <div class="value">{{ item.value }}<span class="unit">{{ item.unit }}</span></div>
              <div class="name">{{ item.name }}</div>
            </div>
          </div>
        </div>
        <div class="charts-content">
          <div class="charts-content-item">
            <div class="title glow">办件趋势</div>
            <div class="echarts-info">
              <common-echarts ref="refSjblqsCharts"></common-echarts>
            </div>
          </div>
          <div class="charts-content-item">
            <div class="title glow">分类占比</div>
            <div class="echarts-info">
              <common-echarts ref="refFlzbCharts"></common-echarts>
            </div>
          </div>
          <div class="charts-content-item">
            <div class="title glow">来源统计</div>
            <div class="echarts-info">
              <common-echarts ref="refJjcdtj"></common-echarts>
            </div>
          </div>
          <div class="charts-content-item">
            <div class="title glow">事件紧急程度统计</div>
            <div class="echarts-info">
              
              <common-echarts ref="refLytj"></common-echarts>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="less">
//less in here
.main-left-sjzx {
  width: 100%;
  height: 520px;

  .sjzx-content {
    margin-top: 20px;

    .tab-opt {
      display: inline-flex;
      width: 150px;
      height: 30px;
      line-height: 30px;
      background: rgba(31, 55, 88, 1);
      right: 0;
      top: 10px;
      margin-left: 20px;

      .opt-item {
        flex: 1;
        width: 0;
        text-align: center;
        cursor: pointer;

        &.active {
          background-color: rgba(52, 83, 126, 1);
          color: rgba(37, 166, 255, 1);
        }
      }
    }

    .sjgl-content {
      display: flex;
      width: 100%;
      height: 100px;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      .sjgl-item {
        display: flex;
        flex: 1;
        width: 0;
        height: 100px;
        margin-right: 20px;
        .card-bg();

        &:hover {
          cursor: pointer;
          .miaobian();
        }

        &:last-child {
          margin-right: 0;
        }

        .sjgl-item-left {
          width: 100px;
        }

        .sjgl-item-right {
          display: flex;
          justify-content: center;
          align-items: FLEX-START;
          flex-direction: column;
          flex: 1;

          .value {
            .font-big-three();
            .blue-num();

            .unit {
              margin-left: 4px;
              color: #FFFFFF;
              .font-small();
            }
          }

          .name {
            color: RGBA(255, 255, 255, 0.6);
            .font-small();
          }
        }
      }
    }

    .charts-content {
      display: flex;
      width: 100%;
      height: 520px;
      margin-top: 20px;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .charts-content-item {
        width: 48%;
        height: 48%;
        .card-bg();

        .title {
          .blue-num();
          padding: 10px;
        }

        .echarts-info {
          width: 480px; 
          height:200px;
        }
      }
    }
  }
}
</style>
<script>
import CommonTitle from './CommonTitle'
import MainLeftSjzxData from './MainLeftSjzxData'
import CommonEcharts from './CommonEcharts'
import InitData from './InitData'
import MainLeftFxyjNewData from './MainLeftFxyjNewData'
export default {
  data() {
    return {
      MainLeftSjzxData,
      InitData,
      currentTab: null
    }
  },
  created() {
  },
  components: {
    CommonTitle,
    CommonEcharts
  },
  watch: {
    'MainLeftSjzxData.configData': {
      deep: true,
      handler() {
        this.init()
      }
    },
  },
  mounted() {
    this.init()
    //加载办件趋势
    let beginDate = dayjs().format('YYYY-01-01 00:00:00')
    let endDate = dayjs().format('YYYY-12-31 23:59:59')
    InitData.loadSjzxBjqs(beginDate, endDate)

    if (MainLeftSjzxData.configData.tabList && MainLeftSjzxData.configData.tabList.length > 0) {
      let item = null

      if (!this.currentTab) {
        item = MainLeftSjzxData.configData.tabList[0]
      } else {
        item = MainLeftSjzxData.configData.tabList.find(i => i.id === this.currentTab)
      }
      item = item == null ? MainLeftSjzxData.configData.tabList[0] : item
      this.handleTabChange(item)
    }

  },
  beforeDestroy() {
  },
  methods: {
    init() {

      //更新图表
      this.updateEcharts()
    },
    /**
    * Tab切换
    */
    handleTabChange(item) {
      this.currentTab = item.id
      // this.$refs.refEcharts.setBarOption(MainLeftAqsjData.barConfig, MainLeftAqsjData.barData[this.currentTab])
      //获取事件中心的数据
      let beginDate = dayjs().format('YYYY-MM-DD 00:00:00')
      let endDate = dayjs().format('YYYY-MM-DD 23:59:59')

      switch (item.id) {
        case 'today': //当日
          beginDate = dayjs().format('YYYY-MM-DD 00:00:00')
          endDate = dayjs().format('YYYY-MM-DD 23:59:59')
          break
        case 'month': //当月
          beginDate = dayjs().format('YYYY-MM-01 00:00:00')
          endDate = dayjs(dayjs().format('YYYY-MM-01')).add(1, 'month').subtract(1, 'day').format('YYYY-MM-DD 23:59:59')
          break
        case 'year': //当年
          beginDate = dayjs().format('YYYY-01-01 00:00:00')
          endDate = dayjs().format('YYYY-12-31 23:59:59')
          break
      }
      //事件概览
      InitData.loadSjzx(beginDate, endDate)
      //事件中心-分类占比
      InitData.loadSjzxFlzb(beginDate, endDate)
    },
    //更新图表
    updateEcharts() {
      const xList = []
      const yList = []
      MainLeftSjzxData.configData.bjqsData.forEach(i => {
        xList.push(i.name),
          yList.push(i.value)
      })
      const option = MainLeftFxyjNewData.get_sxproData(xList, yList)
      //办件趋势
      this.$refs.refSjblqsCharts.setOption(option)
      //分类占比
      this.$refs.refFlzbCharts.setPieOption(MainLeftSjzxData.configData.flzbConfig, MainLeftSjzxData.configData.flzbData)
      //来源统计
      this.$refs.refLytj.setOption(option)
      //紧急程度统计
      this.$refs.refJjcdtj.setPieOption(MainLeftSjzxData.configData.flzbConfig, MainLeftSjzxData.configData.flzbData)
    },
  }
}
</script>