<template>
<div class="main-bottom-center-opt-list" :class="{open: code ? true : false}">
  <common-title :title="title"></common-title>
  <div class="close" @click="close(false)"></div>

  <div class="content">
    <rhzh-handle v-if="code === 'rhzh'"></rhzh-handle>
    <sxt-handle v-else-if="code === 'sxt'"></sxt-handle>
  </div>
</div>
</template>
<style lang="less">
//less in here
.main-bottom-center-opt-list {
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 0px;
    overflow: hidden;

    &.open {
        top: -650px;
        left: 1250px;
        width: 420px;
        height: 720px;
        overflow-x: hidden;
        overflow-y: auto;
        .card-bg();
    }
}
</style>
<script>
import CommonTitle from './CommonTitle'
import RhzhHandle from './RhzhHandle.vue'
import SxtHandle from './SxtHandle'

export default {
	data() {
		return {
			code: null,
			title: null
		}
	},
	created() {
	},
	components: {
		CommonTitle,
		RhzhHandle,
		SxtHandle
	},
	mounted() {
	},
	beforeDestroy() {
	},
	methods: {
		/**
		 * 显示
		 */
		show(code, title) {
			this.code = code
			this.title = title
		},
		/**
		 * 关闭
		 */
		close(noemit) {
			this.code = null
			this.title = null

			if (!noemit) {				
				this.$emit('close')
			}
		}
	}
}
</script>