<template>
<div class="main-botton-right">
    <div class="content">
        <div class="zhms" :class="{open: openFlag, zhmsOpen: GlobalData.eventInfo}"></div>
        <div class="tzjc" @click="handleTzjcClick">体征监测<img :src="GlobalData.imgUrl + '体征监测按钮-下拉.png'" :class="{rotate: openFlag}" /></div>
    </div>
</div>
</template>
<style lang="less">
//less in here
.main-botton-right {
   position: absolute;
   right: 1090px;
   bottom: 30px; 

   .content {
       .tzjc {
            background-image: url('@{imgUrl}体征监测按钮.png');
            width: 190px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            cursor: pointer;
            .font-big-three();

            img {
                vertical-align: middle;
                margin-left: 10px;
                transform: rotate3d(1, 0, 0, 180deg);

                &.rotate {
                    transform: rotate3d(1, 0, 0, 0);
                }
            }

            &:hover {
                color: #00fffb;
            }
       }

       .zhms {
            background-image: url('@{imgUrl}指挥模式.png');
            width: 190px;
            margin-bottom: -25px;
            height: 0;
            transition: 0.5s;

            &.open {
                height: 85px;
            }

            &.zhmsOpen {
                background-image: url('@{imgUrl}指挥模式.png');
            }
       }
      
   }

}

</style>
<script>
import GlobalData from './GlobalData'
import Bus from './Bus'

export default {
	data() {
		return {
			GlobalData,
			open: false
		}
	},
	created() {
	},
	components: {
	},
	mounted() {
	},
	beforeDestroy() {
	},
	computed: {
		//判断是否打开
		openFlag() {
			if (GlobalData.eventInfo || this.open) {
				return true
			}

			return false
		}
	},
	methods: {
		/**
		 * 体征监测点击
		 */
		handleTzjcClick() {
			if (this.openFlag) {
				GlobalData.eventInfo = null
				this.open = false
			} else {
				this.open = true
				//选择最新一条事件
				Bus.$emit('selectFirstEvent')
			}
		}
	}
}
</script>