<template>
  <div class="main-bottom-center-opt">
    <div class="item-rhzh" @click="hanleOpen('rhzh')">
      <img class="item-selected" :src="GlobalData.imgUrl + '扇形左选中.png'" />
      <img :src="GlobalData.imgUrl + '中间按钮-融合指挥.png'" />
      <div>融合指挥</div>
    </div>
    <div class="item-sxt" @click="hanleOpen('sxt')">
      <img
        class="item-selected"
        :src="GlobalData.imgUrl + '扇形中间选中.png'"
      />
      <img :src="GlobalData.imgUrl + '中间按钮-摄像头.png'" />
      <div>摄像头</div>
    </div>
    <div class="item-cszy" @click="hanleOpen('cszy')">
      <img class="item-selected" :src="GlobalData.imgUrl + '扇形右选中.png'" />
      <img :src="GlobalData.imgUrl + '中间按钮-城市资源.png'" />
      <div>城市资源</div>
    </div>
    <div class="item-center">
      <img :src="GlobalData.imgUrl + '中间按钮-圆按钮.png'" />
    </div>

    <!-- 城市资源 -->
    <div class="menu-cszy" :class="{ open: openMenu === 'cszy' }">
      <div
        v-for="(item, index) in MapSourceData.cszyList"
        :key="index"
        class="menu-item"
      >
        <div class="menu-item-row" @click="handleMenuClick(item)">
          <div v-if="item.icon" class="left"><img :src="item.icon" /></div>
          <div class="mid" :class="{ selected: item.selected }">
            {{ item.name }}
          </div>
          <div
            v-if="item.children && item.children.length > 0"
            class="right"
            :class="{ rotate: item.open }"
          ></div>
        </div>
        <div
          v-if="item.children && item.children.length > 0"
          class="children"
          :class="{ 'open-children': item.open }"
          :style="{ '--openHeight': item.children.length * 50 - 10 + 'px' }"
        >
          <div
            v-for="(citem, cindex) in item.children"
            :key="cindex"
            class="menu-item-row"
            @click.stop="handleMenuClick(citem)"
          >
            <div v-if="citem.icon" class="left"><img :src="citem.icon" /></div>
            <div class="mid" :class="{ selected: citem.selected }">
              {{ citem.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 操作列表 -->
    <MapBottomCenterOptList
      ref="refMapBottomCenterOptList"
      @close="openMenu = null"
    ></MapBottomCenterOptList>
  </div>
</template>
<style lang="less">
//scss in here
.main-bottom-center-opt {
  position: absolute;
  left: calc(50% - 200px);
  bottom: 30px;
  width: 400px;
  height: 209px;
  background-image: url("@{imgUrl}中间按钮-扇形按钮.png");
  z-index: 97;
  .font-mid-one();

  .item-selected {
    position: absolute;
  }

  .item-rhzh {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 100px;
    height: 80px;
    text-align: center;
    cursor: pointer;

    .item-selected {
      left: -30px;
      bottom: -20px;
      display: none;
    }

    &:hover {
      .item-selected {
        display: block;
      }
    }
  }

  .item-sxt {
    position: absolute;
    left: calc(50% - 50px);
    top: 30px;
    width: 100px;
    height: 80px;
    text-align: center;
    cursor: pointer;

    .item-selected {
      left: -79px;
      top: -30px;
      display: none;
    }

    &:hover {
      .item-selected {
        display: block;
      }
    }
  }

  .item-cszy {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 80px;
    text-align: center;
    cursor: pointer;

    .item-selected {
      right: -30px;
      bottom: -20px;
      display: none;
    }

    &:hover {
      .item-selected {
        display: block;
      }
    }
  }

  .item-center {
    position: absolute;
    left: calc(50% - 50px);
    bottom: 10px;
    width: 100px;
    height: 80px;
    text-align: center;
    cursor: pointer;
  }

  .menu-item {
    width: 100%;

    .children {
      padding-left: 20px;
      height: 0;
      overflow: hidden;
      transition: 0.3s;

      &.open-children {
        height: var(--openHeight);
      }
    }

    .menu-item-row {
      width: 100%;
      display: flex;
      line-height: 40px;
      height: 40px;
      margin-bottom: 10px;
      cursor: pointer;
      .single-line();

      .left {
        width: 40px;
      }

      .mid {
        flex: 1;
        width: 0;
        padding: 0 10px;

        &.selected,
        &:hover {
          border-radius: 10px;
          background-color: #2075b6;
        }
      }

      .right {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
        margin-left: 6px;
        margin-top: 18px;
        transition: all 0.5s;

        &.rotate {
          transform: rotate3d(1, 0, 0, 180deg);
        }
      }
    }
  }

  .menu-cszy {
    position: absolute;
    width: 0;
    height: 0;
    left: 400px;
    top: 209px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
    padding: 20px;

    &.open {
      width: 270px;
      height: 580px;
      top: -423px;
      overflow-x: hidden;
      overflow-y: auto;
      .card-bg();
      .miaobian();
    }
  }
}
</style>
<script>
import GlobalData from "./GlobalData";
import MapSourceData from "./MapSourceData";
import MapConfig from "./MapConfig";
import GlobalTool from "./GlobalTool";
import RhzhTools from "./RhzhTools";
import wsPlugin from "./wsPlugin";
import MainSxtDialogData from "./MainSxtDialogData";
import Bus from "./Bus";
import MapBottomCenterOptList from "./MapBottomCenterOptList";

export default {
  data() {
    return {
      GlobalData,
      MapSourceData,
      MapConfig,
      GlobalTool,
      RhzhTools,
      MainSxtDialogData,
      wsPlugin,
      openMenu: null,
    };
  },
  created() {
    this.MapSourceData.init()
  },
  components: {
    MapBottomCenterOptList,
  },
  mounted() {
    Bus.$on("MapBottomCenterOptClost", (type) => {
      if (this.openMenu === "sxt" && this.openMenu === type) {
        //关闭摄像头
        MainSxtDialogData.closeAll();
        this.openMenu = null;
      }
    });
  },
  beforeDestroy() {},
  methods: {
    /**
     * 打开菜单
     */
    hanleOpen(type) {
      this.$refs.refMapBottomCenterOptList.close(true);
      this.openMenu = this.openMenu === type ? null : type;

      if (this.openMenu) {
        switch (this.openMenu) {
          case "rhzh":
            this.$refs.refMapBottomCenterOptList.show(
              this.openMenu,
              "融合指挥"
            );
            break;
          case "sxt":
            this.$refs.refMapBottomCenterOptList.show(this.openMenu, "摄像头");
            break;
        }
      }
    },
    /**
     * 关闭菜单
     */
    handleClose() {
      this.$refs.refMapBottomCenterOptList.close(true);
      this.openMenu = null;
    },
    /**
     * 菜单点击
     */
    handleMenuClick(item) {
      if (item.children && item.children.length > 0) {
        item.open = !item.open;
        return;
      }
      item.selected = !item.selected;

      if (item.selected) {
        //选中
        switch (item.type) {
          case "point":
            MapConfig.addMarker(
              MapSourceData.pointData[item.url] || [],
              item.name,
              "system",
              null,
              null,
              null,
              null
              // {
              // 	type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
              // 	color: [226, 119, 40],
              // 	outline: {
              // 		// autocasts as new SimpleLineSymbol()
              // 		color: [255, 255, 255],
              // 		width: 2
              // 	}
              // }
            );
            break;
          default:
            MapConfig.addLayer(item.name, item.url, item.sublayers || []);
        }
      } else {
        //取消
        MapConfig.removeLayer(item.name);
      }
    },
  },
};
</script>
