<template>
  <div class="map-pane">
    <div ref="refMap" id="map-container" class="map-container"></div>
  </div>
</template>
<style lang="less">
//scss in here

.map-pane {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #001231;

  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .esri-view {
      .esri-view-surface--inset-outline:focus::after {
        outline: none;
      }
    }

    .esri-ui {
      .esri-popup {
        z-index: 99999 !important;
      }
    }
  }
}
</style>
<script>
import GlobalData from './GlobalData'
import MapConfig from './MapConfig'
import Map from '@arcgis/core/Map'
import MapView from '@arcgis/core/views/MapView'
import TileLayer from '@arcgis/core/layers/TileLayer'
import MapImageLayer from '@arcgis/core/layers/MapImageLayer'
import GraphicsLayer from '@arcgis/core/layers/GraphicsLayer'
import Graphic from '@arcgis/core/Graphic'
import Point from '@arcgis/core/geometry/Point'
import * as watchUtils from '@arcgis/core/core/watchUtils'

export default {
  data() {
    return {
      MapConfig,
      scale: {
        "scaleX": 0.375,
        "scaleY": 0.375
      },
    }
  },
  created() {
  },
  components: {
  },
  mounted() {
    this.init()
  },
  beforeDestroy() {
  },
  watch: {
    scale: {
      handler() {
        this.updateMapStyle()
      },
      deep: true,
    },
  },
  methods: {
    //初始化
    init() {
      const self = this
      const mapId = 'map-container'
      const url = MapConfig.tileLayerUrl
      const appKey = MapConfig.appKey
      MapConfig.ui = self
      // esriLoader.loadCss('./src/map.css')
      // 尝试 import 引入 argis core 方法
      MapConfig.Map = Map
      MapConfig.MapView = MapView
      MapConfig.TileLayer = TileLayer
      MapConfig.MapImageLayer = MapImageLayer
      MapConfig.GraphicsLayer = GraphicsLayer
      MapConfig.Graphic = Graphic
      MapConfig.Point = Point
      MapConfig.watchUtils = watchUtils
      // 处理街道地图配置数据
      GlobalData.streetMapConfig.forEach(item => {
        const data = GlobalData.streetConfig[item.name] || {}
        data.code = item.areaCode
        data.center = [item.zxdjd, item.zxdwd]
        data.zoom = item.mapZoom || 4
        data.mapAreaCode = item.mapAreaCode
        GlobalData.streetConfig[item.name] = data
      })
      const tileLayer = new TileLayer({  // 底图一般使用切片图层，加载效率快
        title: "蓝色底图", // 图层名称
        // 政务外网环境请使用 https://10.1.213.3:4432/ 
        // 互联网环境 https://api.cdmbc.cn:4432/
        url: "/gateway/gis/1/ba537fd05f7b42b8940b01183c354647", // 图层服务地址
        customParameters: {
          AppKey: appKey
        },
      })
      const map = new Map({  // 图层渲染顺序，baseLayers在layers下面，baseLayers、layers数组里面索引index小的图层在下面
        basemap: {
          baseLayers: [tileLayer], // 底图图层
        }
      })
      const view = new MapView({
        container: mapId,
        map: map,
        zoom: GlobalData.streetConfig[GlobalData.street].zoom, // 默认显示级别
        center: GlobalData.streetConfig[GlobalData.street].center, // 默认显示中心点
        scrollWheelZoom: 'center',
        doubleClickZoom: 'center',
        ui: { components: [] }
      })
      window.map = map

      // view.on("click", (event) => {
      //   console.log(event.mapPoint.x, event.mapPoint.y);
      // });

      // 先注释排查
      console.log(GlobalData.street, GlobalData.streetConfig, GlobalData.streetConfig[GlobalData.street].code)
      const layer = new MapConfig.MapImageLayer({  // 动态图层，根据当前地图的空间参考、显示范围等信息，服务器动态计算出一张图片返回给前端
        title: '区域边界', // 图层名称
        // 政务外网环境请使用 https://10.1.213.3:4432/ 
        // 互联网环境 https://api.cdmbc.cn:4432/
        url: '/gateway/gis/1/8780d3715f054a0b948bb3a744d8ba34',
        customParameters: {
          AppKey: appKey,   // AppKey            
        },
        sublayers:
          [{
            id: 0,  // 子图层id
            // popupTemplate: {},   // 属性弹窗模板
            definitionExpression: `TOWN_CODE='${GlobalData.streetConfig[GlobalData.street].mapAreaCode}'`,
          }],
      })
      map.add(layer);
      // esriLoader.loadModules([
      //   '@arcgis/core/Map',
      //   '@arcgis/core/views/MapView',
      //   '@arcgis/core/layers/TileLayer',
      //   '@arcgis/core/layers/MapImageLayer',
      //   '@arcgis/core/layers/GraphicsLayer',
      //   '@arcgis/core/Graphic',
      //   '@arcgis/core/geometry/Point',
      //   '@arcgis/core/core/watchUtils',
      // ]).then(([Map, MapView, TileLayer, MapImageLayer, GraphicsLayer, Graphic, Point, watchUtils]) => {
      //   MapConfig.Map = Map
      //   MapConfig.MapView = MapView
      //   MapConfig.TileLayer = TileLayer
      //   MapConfig.MapImageLayer = MapImageLayer
      //   MapConfig.GraphicsLayer = GraphicsLayer
      //   MapConfig.Graphic = Graphic
      //   MapConfig.Point = Point
      //   MapConfig.watchUtils = watchUtils
      //   // MapConfig.InfoTemplate = InfoTemplate
      //   // const tileLayer = new TileLayer({  // 底图一般使用切片图层，加载效率快
      //   //   title: "蓝色底图", // 图层名称
      //   //   // url: "https://api.cdmbc.cn:4432/gateway/gis/1/f67a4a985e4a496891b2f3ac445a05cc", // 图层服务地址
      //   //   url: 'http://10.1.213.209:8889/OneMapServer/rest/services/Vector_SLQ_LSB/MapServer',
      //   //   customParameters: {
      //   //     serviceId: '6BV6ddTZ',   // AppKey
      //   //     spaceServiceToken: 'a1NUfdamoYGcoWfqX8ARJOGvHw6M9I7J'
      //   //   },
      //   // })

      //   const tileLayer = new TileLayer({  // 底图一般使用切片图层，加载效率快
      //     title: "蓝色底图", // 图层名称
      //     url: url, //"https://api.cdmbc.cn:4432/gateway/gis/1/ba537fd05f7b42b8940b01183c354647", // 图层服务地址
      //     customParameters: {
      //       AppKey: appKey,   // AppKey
      //     },
      //   })
      //   const map = new Map({  // 图层渲染顺序，baseLayers在layers下面，baseLayers、layers数组里面索引index小的图层在下面
      //     basemap: {
      //       baseLayers: [tileLayer], // 底图图层
      //     }
      //   })
      //   const view = new MapView({
      //     container: mapId,
      //     map: map,
      //     zoom: MapConfig.defaultZoom, // 默认显示级别
      //     center: MapConfig.defaultCenter, // 默认显示中心点
      //     scrollWheelZoom: 'center',
      //     doubleClickZoom: 'center',
      //     ui: { components: [] }
      //   })

      //   // 图层拖动
      //   view.on("drag", function (event) {
      //     // 点击地图其他位置
      //     Bus.$emit("clickMap")
      //   });
      //   // // 地图改变
      //   // view.map.allLayers.on("change", function (event) {
      //   //   // 点击地图其他位置
      //   //   Bus.$emit("clickMapclost")
      //   // });
      //   view.on("mouse-wheel", function (event) {
      //     // 点击地图其他位置
      //     Bus.$emit("clickMapclost")
      //   });
      //   // watchUtils.whenTrue(view, "stationary", function () {
      //   //   if (view.center) {
      //   //   Bus.$emit("clickMapclost")

      //   //   }
      //   //   if (view.extent) {

      //   //   }
      //   // });

      //   // 图层点击事件
      //   view.on('click', e => {
      //     view.hitTest(e)
      //       .then(res => {
      //         if (res.results.length) {

      //           let graphic = res.results[0].graphic
      //           // 获取每个图形上的ID
      //           let symbolId = graphic.symbol.id
      //           let category = graphic.symbol.category
      //           if (category === "system") { // 系统自定义点位
      //             // 所有点位信息
      //             let attributesList = Object.values(graphic.attributes) || []
      //             if (symbolId && attributesList) {
      //               // 查找点击点位信息
      //               let data = attributesList.find(i => i.id === symbolId)
      //               // console.log('data--->', data)                      
      //               // 移动中心点
      //               MapConfig.goToMapCenter(data.coordinates)
      //               Bus.$emit("clickSystemPoint", data)
      //             }
      //           }
      //         } else {
      //           // 点击地图其他位置
      //           Bus.$emit("clickMap")
      //         }
      //       })

      //   })
      //   window.map = map
      //   window.mapView = view

      //   console.log(map, view)
      // }).catch(err => { console.log('地图加载失败', err) })

      // require 方法  webpack 模块打包报错
      // require(["esri/Map", "esri/views/MapView", "esri/layers/TileLayer", "esri/layers/MapImageLayer",
      //   "esri/layers/GraphicsLayer", "esri/Graphic", "esri/geometry/Point", "esri/core/watchUtils"],
      //   (Map, MapView, TileLayer, MapImageLayer, GraphicsLayer, Graphic, Point, watchUtils) => {
      //     MapConfig.Map = Map
      //     MapConfig.MapView = MapView
      //     MapConfig.TileLayer = TileLayer
      //     MapConfig.MapImageLayer = MapImageLayer
      //     MapConfig.GraphicsLayer = GraphicsLayer
      //     MapConfig.Graphic = Graphic
      //     MapConfig.Point = Point
      //     MapConfig.watchUtils = watchUtils
      //     // MapConfig.InfoTemplate = InfoTemplate

      //     // const tileLayer = new TileLayer({  // 底图一般使用切片图层，加载效率快
      //     //   title: "蓝色底图", // 图层名称
      //     //   // url: "https://api.cdmbc.cn:4432/gateway/gis/1/f67a4a985e4a496891b2f3ac445a05cc", // 图层服务地址
      //     //   url: 'http://10.1.213.209:8889/OneMapServer/rest/services/Vector_SLQ_LSB/MapServer',
      //     //   customParameters: {
      //     //     serviceId: '6BV6ddTZ',   // AppKey
      //     //     spaceServiceToken: 'a1NUfdamoYGcoWfqX8ARJOGvHw6M9I7J'
      //     //   },
      //     // })

      //     const tileLayer = new TileLayer({  // 底图一般使用切片图层，加载效率快
      //       title: "蓝色底图", // 图层名称
      //       url: url, //"https://api.cdmbc.cn:4432/gateway/gis/1/ba537fd05f7b42b8940b01183c354647", // 图层服务地址
      //       customParameters: {
      //         AppKey: appKey,   // AppKey
      //       },
      //     })
      //     const map = new Map({  // 图层渲染顺序，baseLayers在layers下面，baseLayers、layers数组里面索引index小的图层在下面
      //       basemap: {
      //         baseLayers: [tileLayer], // 底图图层
      //       }
      //     })
      //     const view = new MapView({
      //       container: mapId,
      //       map: map,
      //       zoom: MapConfig.defaultZoom, // 默认显示级别
      //       center: MapConfig.defaultCenter, // 默认显示中心点
      //       scrollWheelZoom: 'center',
      //       doubleClickZoom: 'center',
      //       ui: { components: [] }
      //     })

      //     // 图层拖动
      //     view.on("drag", function (event) {
      //       // 点击地图其他位置
      //       Bus.$emit("clickMap")
      //     });
      //     // // 地图改变
      //     // view.map.allLayers.on("change", function (event) {
      //     //   // 点击地图其他位置
      //     //   Bus.$emit("clickMapclost")
      //     // });
      //     view.on("mouse-wheel", function (event) {
      //       // 点击地图其他位置
      //       Bus.$emit("clickMapclost")
      //     });
      //     // watchUtils.whenTrue(view, "stationary", function () {
      //     //   if (view.center) {
      //     //   Bus.$emit("clickMapclost")

      //     //   }
      //     //   if (view.extent) {

      //     //   }
      //     // });

      //     // 图层点击事件
      //     view.on('click', e => {
      //       view.hitTest(e)
      //         .then(res => {
      //           if (res.results.length) {

      //             let graphic = res.results[0].graphic
      //             // 获取每个图形上的ID
      //             let symbolId = graphic.symbol.id
      //             let category = graphic.symbol.category
      //             if (category === "system") { // 系统自定义点位
      //               // 所有点位信息
      //               let attributesList = Object.values(graphic.attributes) || []
      //               if (symbolId && attributesList) {
      //                 // 查找点击点位信息
      //                 let data = attributesList.find(i => i.id === symbolId)
      //                 // console.log('data--->', data)                      
      //                 // 移动中心点
      //                 MapConfig.goToMapCenter(data.coordinates)
      //                 Bus.$emit("clickSystemPoint", data)
      //               }
      //             }
      //           } else {
      //             // 点击地图其他位置
      //             Bus.$emit("clickMap")
      //           }
      //         })

      //     })
      //     window.map = map
      //     window.mapView = view

      //     console.log(map, view)
      //   })
      //更新地图样式
      self.updateMapStyle()
    },
    //更新地图样式
    updateMapStyle() {
      const scale = {
        "scaleX": 0.375,
        "scaleY": 0.375
      }
      // this.$refs.refMap.style.zoom = 1 / scale.scaleX
      this.$refs.refMap.style.transform = `scale(${1 / scale.scaleX},${1 / scale.scaleY})`
      this.$refs.refMap.style.width = `${scale.scaleX * 100}%`
      this.$refs.refMap.style.height = `${scale.scaleY * 100}%`
      this.$refs.refMap.style.top = `${50 - scale.scaleX * 50}%`
      this.$refs.refMap.style.left = `${50 - scale.scaleY * 50}%`
      this.$refs.refMap.style.transformOrigin = 'center center'
    }
  }
}
</script>