<template>
<div class="rhzh-handle">
  <!-- 状态筛选 -->
  <div class="state-info">
    <el-checkbox v-model="isOnline" @change="changeSearch()">在线</el-checkbox>
    <el-checkbox style="margin-left: 50px" @change="changeSearch" v-model="isOffline">离线</el-checkbox>
  </div>

  <!-- 搜索 -->
  <div class="search-input">
    <el-input class="input-key" clearable @change="handleSearchChange" v-model="searchKey" placeholder="请输入用户名称">
      <i slot="suffix" style="cursor: pointer;" class="el-input__icon el-icon-search" @click="didSearchBlock"></i>
    </el-input>
  </div>


  <!-- 操作按钮
  <div class="opt-btn-box">
    <div class="btn-btn" v-for="(item, index) in optBtns" @click="didOptBtnBlock(item.value)">
      {{item.label}}
    </div>
  </div> -->

  <!-- 数据展示 -->
  <div class="terminal-data">
    <el-tree ref="refReasonTree" style="background-color: transparent !important;" node-key="key" :data="dataTree"
      :default-expanded-keys="treeExpandData" highlight-current :props="defaultProps"
      :expand-on-click-node="false" :filter-node-method="handleFlterNode" @check="treeCheck"
      @node-click="handleNodeClickS">
      <div class="custom-tree-node" slot-scope="{ node, data }">
        <div class="custom-tree-node-title">
          {{data.name}}
          <span v-if="data.type!='1'"> [{{data.number}}]</span>
          <span v-else>({{data.onlineCount}}/{{data.totalCount}})</span>
        </div>
        <div class="custom-tree-node-cz" @click="toLocation(data)" v-if="data.type!='1'">
          <img :src="GlobalData.imgUrl + '定位按钮.png'"/>
          定位
        </div>
      </div>
    </el-tree>
  </div>
</div>
</template>
<style lang="less">
//less in here

.rhzh-handle {
  width: 100%;
  height: 100%;

  .state-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }
  .search-input {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  // 操作按钮
  .opt-btn-box {
    margin-top: 20px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .btn-btn {
      font-size: 16px;
      display: inline-block;
      padding: 1px 7px;
      // background-color: red;
      border: 1px solid rgba(0,126,207, 1);
      border-radius: 3px;
      margin-right: 10px;
      cursor: pointer;


      &:last-child {
        margin-right: 0px;
      }
    }
  }
.custom-tree-node-title{
  // width: 80%;
  max-width: 250px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}
.custom-tree-node-cz{
  position: absolute;
  right: 10px;
  // width: 20%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 2px;
  // border: 1px solid #409EFF;
}
  // 终端数据
  .terminal-data {
    padding: 0px 10px;
    margin-top: 10px;
    
    overflow: hidden;
    overflow-y: auto;
    // width: 100%;
    margin-right: 10px;
    max-height: 480px;


    .custom-tree-node {
      display: flex;
      flex: 1;
      align-items: center;
      padding-top: 3px;
      font-size: 16px;
      position: relative;
    }
  } 


  



}

</style>
<script>
import CommonTitle from './CommonTitle'
import RhzhTools from './RhzhTools'
import GlobalData from './GlobalData'
import DispatchTool from './DispatchTool'
import MapConfig from './MapConfig'
import GlobalTool from './GlobalTool'
import Bus from './Bus'

export default {
	mixins: [DispatchTool],
	data() {
		return {
			GlobalData,
			RhzhTools,
			MapConfig,
			// 在线
			isOnline: false,
			// 离线
			isOffline: false,
			searchKey: null,
			optBtns: [
				{ label: '语音呼叫', value: 'call' },
				{ label: '视频呼叫', value: 'videoCall' },
				{ label: '视频', value: 'video' },
				{ label: '消息', value: 'sendMsg' }
			],
			// 数据
			dataTree: [],
			treeExpandData: [],// 默认展开第一节点数据
			groupList: [],// 分组数据
			dataList: [],//设备数据
			defaultProps: {
				children: 'children',
				label: 'name',
				id: 'key',
				disabled: 'selectable'
			},
		}
	},
	created() {
	},
	components: {
		CommonTitle
	},
	mounted() {
		this.loadNewData()
	},
	beforeDestroy() {

		MapConfig.removeLayer("融合指挥终端设备")
		/**融合指挥登出 */
		RhzhTools.logout(RhzhTools.nodeNumber)
	},
	methods: {

		close() {
			this.$emit('close')
			// 关闭弹框
			Bus.$emit("clickMap", "zdsb")
		},
		// 点击搜索 按钮
		didSearchBlock() {
			this.dealNodeSubDataList(this.groupList, this.dataList)
		},
		// 监听 搜索值变化
		handleSearchChange() {
			this.dealNodeSubDataList(this.groupList, this.dataList)
		},

		/**
		 * 改变搜索条件
		 */
		changeSearch(val) {
			this.dealNodeSubDataList(this.groupList, this.dataList)
		},


		// 加载数据
		loadNewData() {
			const self = this

			if (RhzhTools.nodeNumber) {
				// 查询终端组织树
				Promise.all([RhzhTools.nodeSubGroupList(RhzhTools.nodeNumber),
				RhzhTools.nodeSubDataList(RhzhTools.nodeNumber)]).then(function (data) {
					self.groupList = data[0] || [];
					self.dataList = data[1] || [];
					self.dealNodeSubDataList(self.groupList, self.dataList)

				})
			} else {
				RhzhTools.login(res => {
					console.info('登录成功：', res)
					self.loadNewData()
				})
			}
		},

		/**处理节点信息 */
		dealNodeSubDataList(groupList, dataList) {
			if (groupList == null || groupList.length <= 0) {
				return;
			}
			/**默认展开数据 */
			this.treeExpandData = [];
			let onlineCount = 0;
			let totalCount = 0;
			let markerDeviceList = [];
			/**处理树形数据 */
			groupList.forEach(item => {
				let childTempList = [];
				let childList = item.childList;
				childList.forEach(i => {
					let tempData = dataList.find(d => d.number === i)
					if (tempData != null) {
						tempData.parentNumber = item.number
						childTempList.push(tempData);
					}
				})


				/**关键字筛选*/
				if (this.searchKey && this.searchKey != "" && this.searchKey != null) {
					childTempList = childTempList.filter(i => i.name.indexOf(this.searchKey) != -1)
				}

				//处理排序问题在线设备排前面
				/**在线终端 */
				let onlineList = [];
				let unOnlineList = [];
				if (!this.isOnline && !this.isOffline) {
					onlineList = childTempList.filter(i => i.statusInfo && i.statusInfo.onlineStatus === 1);
					unOnlineList = childTempList.filter(i => !i.statusInfo || i.statusInfo.onlineStatus != 1);
				}
				if (this.isOnline) {
					onlineList = childTempList.filter(i => i.statusInfo && i.statusInfo.onlineStatus === 1);
				}
				if (this.isOffline) {
					unOnlineList = childTempList.filter(i => !i.statusInfo || i.statusInfo.onlineStatus != 1);
				}

				onlineList.forEach(i => {
					i["selectable"] = false
					i['key'] = GlobalTool.guid()
				})

				unOnlineList.forEach(i => {
					i["selectable"] = false
					i['key'] = GlobalTool.guid()
				})

				/**在线数量 */
				item["onlineCount"] = onlineList.length;
				item["totalCount"] = onlineList.length + unOnlineList.length;
				item["children"] = [...onlineList, ...unOnlineList]
				item["selectable"] = true
				onlineCount += item.onlineCount;
				totalCount += item.totalCount;

				// 设置打点数据
				markerDeviceList.push(...onlineList, ...unOnlineList)

			})

			const root = groupList[0]
			const tree = {
				key: GlobalTool.guid(), //用uuid
				number: GlobalTool.guid(), //用uuid
				name: root.name,
				type: root.type,
				subType: root.subType,
				parentList: root.parentList,
				children: groupList,
				selectable: true,
				dataInfos: root.dataInfos,
				onlineCount: onlineCount,
				totalCount: totalCount
			}
			this.treeExpandData.push(tree.key)
			// console.info('树形数据：', tree)
			// debugger
			this.dataTree = [tree]
			// this.dataTree = groupList;

			// 处理撒点数据
			this.addDispatchMarker(markerDeviceList)

		},



		/**撒点数据 */
		addDispatchMarker(dataList) {

			if (!dataList || dataList.length <= 0) {
				return;
			}

			//撒点数据
			let markerList = [];

			dataList.map(i => {
				if (!i.statusInfo || !i.statusInfo.longitude || !i.statusInfo.latitude) return

				let statusInfo = i.statusInfo;
				i.id = i.number
				i.coordinates = [statusInfo.longitude, statusInfo.latitude]

				if (statusInfo.onlineStatus === 1 || statusInfo.onlineStatus === '1') {
					i.url = GlobalData.imgUrl + '手机终端设备-在线.png'
				} else {
					i.url = GlobalData.imgUrl + '手机终端设备-离线.png'
				}

				markerList.push(i)
			})

			/**撒点操作 */
			MapConfig.addMarker(markerList, "融合指挥终端设备", "system")

		},

		//树筛选
		handleFlterNode(value, data, node) { },
		/** 节点点击事件 */
		handleNodeClickS(data) {
			// console.info('节点点击事件：', data)
		},

		treeCheck(data, list) {
			
			if (list.checkedKeys.length == 2) {
				//单选实现
				this.$refs.refReasonTree.setCheckedKeys([data.key]);
			}

		},
		handleTreeCheckChange(data, current, isChild) {
			
			this.$refs.refReasonTree.setCheckedNodes([])
			// this.$refs.refReasonTree.setCheckedNodes([]);
			if (current) {
				console.log("key--->", data.key)
				this.$refs.refReasonTree.setCheckedNodes([data.key]);
			}

			// console.info('节点选中数据：', data)
		},

		/**
		 * 定位操作
		 */
		toLocation(data) {
			console.log('data', data)
			const coordinates = data.coordinates
			if (!coordinates || coordinates === '') {
				this.$message.error('终端位置未上报位置！');
				return
			}
			MapConfig.goToMapCenter(data.coordinates)
		},


		/** 操作按钮点击 */
		didOptBtnBlock(val) {
			console.info('操作类型：', val)
			const selectList = this.$refs.refReasonTree.getCheckedNodes()
			if (val === 'call') {
				// 语音
				if (selectList && selectList.length == 1) {
					let data = selectList[0];
					this.callDispatch(data.number, "call")
				}

			} if (val === 'videoCall') {
				// 视频呼叫
				if (selectList && selectList.length == 1) {
					let data = selectList[0];
					this.callDispatch(data.number, "videoCall")
				}

			} else if (val === 'video') {
				// 视频
				if (selectList && selectList.length == 1) {
					let data = selectList[0];
					this.callDispatch(data.number, "video")
				}

			} else if (val === 'sendMsg') {
				// 消息界面显示
				// let data = {
				// 	coordinates:[103.9270, 30.5706],
				// }
				// let url="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fupload.shejihz.com%2F2019%2F05%2Ff3e4fc3324697f24c78c06a6274e253b.jpg&refer=http%3A%2F%2Fupload.shejihz.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1673006021&t=f0e0ede0132e9ad11e73be0d09e2fa15"
				// MapConfig.addMarker([data],"测试",url)
				if (selectList && selectList.length == 1) {
					let data = selectList[0];
					GlobalData.dispatchSendMsgShow = true
					GlobalData.rhzhData.callNo = data.number
				}
			}

		},

	}
}
</script>