<template>
  <div class="sxt-handle">
    <!-- 状态筛选 -->
    <div class="state-info">
      <el-checkbox v-model="isOnline">在线({{ count("online") }})</el-checkbox>
      <el-checkbox style="margin-left: 50px" v-model="isOffline"
        >离线({{ count("offline") }})</el-checkbox
      >
    </div>

    <!-- 搜索 -->
    <div class="search-input">
      <el-input
        class="input-key"
        clearable
        v-model="searchKey"
        placeholder="输入摄像头名称/编码"
      >
        <i
          slot="suffix"
          style="cursor: pointer"
          class="el-input__icon el-icon-search"
        ></i>
      </el-input>
    </div>

    <div class="opt">
      <div class="btn" @click="handleClickVideo">视频</div>
    </div>

    <div class="content">
      <el-checkbox-group v-model="checkList" @change="handleCheckListChange">
        <el-checkbox
          v-for="(item, index) in sxtList"
          :key="index"
          :label="item.cameraIndexCode"
          ><span class="status" :class="{ online: item.status == '1' }"
            >[{{ item.statusName }}]</span
          >{{ item.name || item.cameraIndexCode }}</el-checkbox
        >
      </el-checkbox-group>
    </div>

    <div class="pages">
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page.sync="pageInfo.currentPage"
        :page-size="pageInfo.pageSize"
        layout="total, prev, next, jumper"
        :total="pageInfo.total"
      >
      </el-pagination>
    </div>

    <div class="all-check">
      <el-checkbox
        v-model="checkInfo.allCheck"
        :indeterminate="checkInfo.isIndeterminate"
        @change="handleCheckAllChange"
        >全选</el-checkbox
      >
    </div>
  </div>
</template>
<style lang="less">
.sxt-handle {
  width: 100%;
  height: 100%;
  position: relative;

  .state-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }

  .search-input {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .opt {
    padding: 10px 20px;
    border-bottom: 1px solid RGBA(255, 255, 255, 0.6);

    .btn {
      display: inline-block;
      vertical-align: middle;
      width: 60px;
      height: 30px;
      background: rgba(19, 37, 64, 0.8);
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid #ffffff;
      text-align: center;
      line-height: 30px;

      &:hover {
        border-color: #0c8ff3;
      }
    }
  }

  .content {
    padding: 10px 20px;
    height: 440px;
    overflow-y: auto;
    overflow-x: hidden;

    ::v-deep .el-checkbox-group {
      overflow-x: hidden;
    }

    ::v-deep .el-checkbox {
      width: 100%;
      margin: 4px 0;
    }

    .status {
      color: #bebebe;

      &.online {
        color: #0de09d;
      }
    }
  }

  .pages {
    position: absolute;
    bottom: -40px;
    right: 0;
  }

  .all-check {
    position: absolute;
    bottom: -36px;
    left: 20px;
  }
}
</style>
<script>
import MapSourceData from "./MapSourceData";
import MainSxtDialogData from "./MainSxtDialogData";

export default {
  data() {
    return {
      MapSourceData,
      MainSxtDialogData,
      isOnline: true,
      isOffline: false,
      searchKey: "",
      checkList: [],
      pageInfo: {
        //当前页
        currentPage: 1,
        //每页条数
        pageSize: 9,
        //总条数
        total: 0,
      },
      checkInfo: {
        //全选
        allCheck: false,
        //设置 indeterminate 状态，只负责样式控制
        isIndeterminate: false,
      },
    };
  },
  created() {},
  components: {},
  mounted() {},
  beforeDestroy() {
    MainSxtDialogData.closeAll();
  },
  computed: {
    sxtList() {
      let list = MapSourceData.pointData.摄像头 || [];

      list = list.filter((i) => {
        if (this.isOnline && this.isOffline) {
          return true;
        } else if (this.isOnline) {
          return i.status == "1";
        } else if (this.isOffline) {
          return i.status != "1";
        }

        return false;
      });

      if (this.searchKey) {
        list = list.filter(
          (i) =>
            (i.name && i.name.indexOf(this.searchKey) >= 0) ||
            (i.cameraIndexCode &&
              i.cameraIndexCode.indexOf(this.searchKey) >= 0)
        );
      }
      this.pageInfo.total = list.length;
      const outList = _.chunk(list, 100);
      const outPageList =
        outList.length > 0 ? outList[this.pageInfo.currentPage - 1] : [];

      return outPageList;
    },
    count() {
      return function (type) {
        let list = MapSourceData.pointData.摄像头 || [];
        list = list.filter((i) => {
          switch (type) {
            case "online":
              return i.status == "1";
            case "offline":
              return i.status != "1";
            default:
              return false;
          }
        });

        return list.length;
      };
    },
  },
  methods: {
    handleSearchChange() {},
    handleClickVideo() {
      if (this.checkList) {
        this.checkList.forEach((item) => {
          MainSxtDialogData.playCameraIndexCode(item);
        });
      }
    },
    /**
     * 页面切换
     */
    handleCurrentChange(page) {},
    /**
     * 列表修改
     */
    handleCheckListChange() {},
    handleCheckAllChange(val) {
      if (val) {
        this.checkList = this.sxtList.map((i) => i.cameraIndexCode);
      } else {
        this.checkList = [];
      }
      this.checkInfo.isIndeterminate = false;
    },
  },
};
</script>
