<template>
<div class="top-event-statistics" :class="{movedown:GlobalData.showTopWarning}">
  <div class="open-btn" :class="{rotate:open}" @click="openStatis">
  </div>
  <div class="open-menu" :class="{openedmenu:open}">
    <div class="child-menu" v-for="item in list">
      <div class="child-menu-list">
        <div class="child-menu-list-head">
          <div class="inline w120">{{nametype(item.name)}}</div>
          <!-- <div class="inline green w60">已完成</div> -->
          <div class="inline yellow w60">数量</div>
        </div>
        <div class="child-menu-list-row" v-for="row in item.children" @click="checkList(row.mainTypeCode)">
          <div class="inline w120">{{row.name}}</div>
          <!-- <div class="inline green w60 tcenter">{{row.processed}}</div> -->
          <!-- <div class="inline yellow w60 tcenter">{{row.inprocess}}</div> -->
        </div>
      </div>
      <div class="child-menu-title">
        <div class="child-menu-title-name">
          {{item.name}}({{item.unit}})
        </div>
        <span><general-count-flop :interval-open="false" :val="item.value" :fontColorClass="item.name==='热点关注'?'yellow':''"></general-count-flop></span>
      </div>

    </div>
  </div>
</div>
</template>
<style lang="less">
.top-event-statistics {
    position: absolute;
    width: 1030px;
    top: 100px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.5s;
    overflow-x: visible;
    .open-btn {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        transition: all ease 0.5s;
        background-image: url('@{imgUrl}顶部按钮-展开.png');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        width: 88px;
        height: 88px;

        &.rotate {
            transform: translateX(-50%) rotate(-180deg);
        }
    }

    .open-menu {
        position: absolute;
        width: 100%;
        top: 88px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 0;
        overflow-y: hidden;
        transition: all ease 0.5s;
       
        &.openedmenu {
            height: 800px;
        }

        .child-menu {
            width: 340px;
            position: relative;
            &-title {
                position: absolute;
                top:0px;
                width: 337px;
                height: 86.7px;
                padding-top: 40px;
                text-align: center;
                font-size: 30px;
                // font-family: 'D-DIN';
                font-weight: 700;
                background-image: url('@{imgUrl}顶部按钮-背景.png');
                background-repeat: no-repeat;
                background-size: cover;

                &-name {
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    top: 5px;
                    font-size: 20px;
                    font-weight: 400;
                    color:#fff;
                }
            }

            &-list {
                background-image: radial-gradient(rgba(22, 63, 117, .6) 95%, rgba(26, 46, 75, .6) 5%);
                border-radius: 0 0 9px 9px;
                padding: 13px;
                font-size: 18px;
                text-align: left;
                position: absolute;
                width:311.1px;
                top:80px;
                &-head {
                    padding-top: 10px;
                    height: 56px;
                    line-height: 38px;
                    border-bottom: 2px dashed #20588C;
                    display: flex;
                    justify-content: space-between;
                }
                &-row {
                    height: 42px;
                    line-height: 42px;
                    display: flex;
                    justify-content: space-between;
                    &:hover {
                        cursor: pointer;
                        background-image: radial-gradient(rgba(26, 46, 75, .6) 5%, rgba(22, 63, 117, .6) 95%);
                    }
                }
            }
        }
    }

    .green {
        color: #0DE09D;
    }

    .yellow {
        color: #FFB900;
    }

    .inline {
        display: inline-block;
    }

    .w120 {
        min-width: 120px;
    }

    .w60 {
        width: 60px;
    }

    .tcenter {
        text-align: center;
    }

    &.movedown {
        top: 162px;
    }
}
</style>
<script>
import TopEventStatisticsData from './TopEventStatisticsData'
import GlobalData from './GlobalData'
import GeneralCountFlop from './GeneralCountFlop'
import MainEventListData from './MainEventListData'
import {topSummary,topInProcessSummary,cityDivided,cityEventStat} from './utils/api'
export default {
	data() {
		return {
			GlobalData,
			MainEventListData,
			open: true,
			list: TopEventStatisticsData.statisList,

		}
	},
	created() {
	},
	components: {
		GeneralCountFlop
	},
	mounted() {
		this.getAllData()
		setInterval(this.getAllData,5*60*1000)
	},
	beforeDestroy() {
	},
	methods: {
		nametype(type){
			switch(type){
				case '分类统计':
				return '事件分类'
				case '超期未办结':
				return '事件分类'
				case '市级下派':
				return '事件分类'
			}
		},
		getAllData() {
			this.getSummary()
			this.getProcessCnt()
			this.getCityDivided()
			this.getCityCnt()
		},
		openStatis() {
			this.open = !this.open;
		},
		getSummary() {
			let param = {}
            // 事件总数 /api/eventcenter-extend-mobile/screenQuery/v1/eventTotalCount
			topSummary(param).then(res => {
				if (!res || res.length === 0) { return }
				this.list[0].value = res.data
			})
		},
		getProcessCnt() {
			let param = {}
            // 处理中统计 /api/eventcenter-extend-mobile/screenQuery/v1/eventMainTypeStat
			topInProcessSummary(param).then(res => {
				if (!res || res.length === 0) { return }
				// 排序取前十种
				let eventlist = []
				res.data.forEach((item, index) => {
					if (index < 8) {
						eventlist.push({
							...item,
							name: item.mainTypeName,
							processed: item.finishCount,
							inprocess: item.handleCount
						})
					}
				})
				this.list[0].children = eventlist;
			})
		},
		getCityDivided() {
			let param = {}
            // 市平台下派事件总数 /api/eventcenter-extend-mobile/screenQuery/v1/cityEventTotalCount
			cityDivided(param).then(res => {
				if (!res || res.length === 0) { return }
				// this.list[2].value = res.data
				console.log('城市下派统计检查', res.data)
			})
		},
		getCityCnt(){
			let param = {}
            // 市平台事件统计 /api/eventcenter-extend-mobile/screenQuery/v1/cityEventStat
			cityEventStat(param).then(res => {
				console.log('事件中枢接口测试', res)
				if (!res || res.length === 0) { return }
				let eventlist = []
				let sum = 0
				res.data.forEach((item, index) => {
						eventlist.push({
							...item,
							name: item.eventTypeName,
							processed: item.finishCount,
							inprocess: item.handleCount
						})
						sum += item.handleCount
				})
				this.list[2].children = eventlist
				this.list[2].children.push({
					name:'突发事件',
					inprocess:0
				})
				this.list[2].value = sum
			})
		},
		checkList(code){
			console.log('顶部传参',code)
			MainEventListData.loading = true
			MainEventListData.loadDataForTopInter(code)
		}
	}
}
</script>