<template>
    <div class="HomeDetailzbtxsqc">
        <GlobTitlerName title="社会值班体系" />
        <div class="HomeDetailzbtxsqc-main">
            <div class="HomeDetailzbtxsqc-main-top">
                <div class="top-left">
                    <div>社区</div>
                    <div>值班领导</div>
                    <div>值班领导职务</div>
                    <div>值班领导电话</div>
                </div>
                <div class="top-center">
                    <div>值班人员</div>
                    <div>值班人员职务</div>
                    <div>值班人员电话</div>
                </div>
                <div class="top-right">
                    <div>值班室电话</div>
                    <div>值班车辆</div>
                </div>
            </div>
            <div class="HomeDetailzbtxsqc-main-list">
                <el-row v-for="(item, index) in list" :key="index">
                    <el-col :span="24">
                        <div class="HomeDetailzbtxsqc-main-list-items">
                            <div class="items-left">
                                <div>{{ item.sq }}</div>
                                <div>{{ item.zbld }}</div>
                                <div>{{ item.zbldzw }}</div>
                                <div>{{ item.zblddh }}</div>
                            </div>
                            <div class="item-center">
                                <div class="item-center-item" v-for="(item1, index1) in item.zwList" :key="index1">
                                    <div>{{ item1.zbryxm }}</div>
                                    <div>{{ item1.zbryzw }}</div>
                                    <div>{{ item1.zbrydh }}</div>
                                </div>
                            </div>
                            <div class="item-right">
                                <div>{{ item.zbsdh }}</div>
                                <div>{{ item.zbcl }}</div>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</template>
<style lang="less">
//less in here
.HomeDetailzbtxsqc {
    width: 100%;
    height: 100%;
    padding-top: 15px;

    .HomeDetailzbtxsqc-main {
        margin-top: 15px;
        border: 1px solid #7096B6;

        .HomeDetailzbtxsqc-main-top {
            width: 100%;
            height: 52px;
            display: flex;
            font-size: 17px;
            align-items: center;
            // padding: 0px 15px;
            border-bottom: 1px solid #7096B6;
            // justify-content: center;
            background: linear-gradient(0deg, #1c3b68, #2f3d52);

            // div {
            //     width: calc(100% / 9);
            //     height: 52px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            // }

            .top-left {
                width: 428px;
                display: flex;
                height: 52px;
                // padding: 0px 15px;
                padding-left: 15px;
                align-items: center;
                justify-content: space-between;

                div {
                    width: calc(100% / 4);
                }
            }

            .top-center {
                width: 346px;
                display: flex;
                height: 52px;
                padding: 0px 15px;
                align-items: center;
                justify-content: space-between;

                div {
                    width: calc(100% / 3);
                }
            }

            .top-right {
                width: 200px;
                display: flex;
                height: 52px;
                padding: 0px 15px;
                align-items: center;
                justify-content: space-between;

                div {
                    width: calc(100% / 2);
                }
            }
        }

        .HomeDetailzbtxsqc-main-list {
            width: 100%;
            height: 1000px;
            overflow-y: auto;

            .el-row {
                background-color: #08213F;
            }

            .el-row:nth-child(2n) {
                background-color: #172F4F;
            }

            &-items {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 16px;
                border-bottom: 1px solid #7096B6;

                .items-left {
                    width: 428px;
                    display: flex;
                    // height: inherit;
                    padding: 0px 15px;
                    align-items: center;
                    justify-content: space-between;
                    border-right: 1px solid #7096B6;

                    div {
                        width: calc(100% / 4);
                    }
                }

                .item-center {
                    width: 346px;
                    display: flex;
                    padding: 0px 15px;
                    border-right: 1px solid #7096B6;
                    border-left: 1px solid #7096B6;
                    flex-direction: column;

                    &-item {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;

                        div {
                            width: calc(100% / 3);
                            height: 50px;
                            display: flex;
                            align-items: center;
                            // justify-content: center;
                        }
                    }

                }

                .item-right {
                    width: 200px;
                    display: flex;
                    padding: 0px 10px;

                    div {
                        width: calc(100% / 2);
                        height: 50px;
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                    }
                }
            }

        }
    }
}
</style>
<script>
import GlobTitlerName from './GlobTitlerName'
import GlobalData from './GlobalData'
import { zbtxdata } from './ZbtxPopupData'
export default {
    props: {
        type: {
            type: String,
            default: ''
        }
    },
    data() {
        return {
            GlobalData,
            list: []
        }
    },
    created() {
    },
    components: {
        GlobTitlerName
    },
    mounted() {
        this.initData()
    },
    beforeDestroy() {
    },
    methods: {
        // 社区值班体系
        initData() {
            // const data = res || []
            zbtxdata.forEach(item => {
                const datas = this.list.find(i => i.zbld === item.值班领导姓名)
                if (datas) {
                    datas.zwList.push({
                        zbryxm: item.值班人员姓名,
                        zbryzw: item.值班人员职务,
                        zbrydh: item.值班人员电话
                    })
                } else {
                    this.list.push({
                        zwList: [{
                            zbryxm: item.值班人员姓名,
                            zbryzw: item.值班人员职务,
                            zbrydh: item.值班人员电话
                        }],
                        sq: item.社区,
                        zbld: item.值班领导姓名,
                        zbldzw: item.值班领导职务,
                        zblddh: item.值班领导电话,
                        zbsdh: item.值班室电话,
                        zbcl: item.值班车辆
                    })
                    // this.tableList.push({
                    //   单位: item.单位,
                    //   nameList: [item.姓名],
                    //   zwList: [item.职务],
                    //   phonelist: [item.电话],
                    // })
                }
            })
        }
    }
}
</script>